[MASTER]
init-hook='import sys; sys.path.append(".")'
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    multiple-statements,
    no-else-return,
    broad-except,
    no-self-use,
    logging-fstring-interpolation,
    invalid-name,
    no-else-raise,
    raise-missing-from,
    too-few-public-methods,
    unsubscriptable-object,
    wrong-import-order,
    too-many-arguments,
    abstract-method,
    comparison-with-callable,
    cyclic-import, # If something will be really weong tests will fail
    duplicate-code

[FORMAT]
max-line-length=240
