interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=pvp&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1628271855,"version":1.3},"data":[{"name":"Ceciliya","uuid":"2937deae-822a-46a8-96f3-2f2a6b2a5fe6","kills":103250,"level":1467,"xp":94568280,"minPlayed":20674,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"num":1},{"name":"Spases","uuid":"76fb11e7-c03a-46b3-9c02-f8dc1bea0397","kills":49427,"level":1474,"xp":245034355,"minPlayed":36435,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"Fox","guild":"Kingdom
        Foxes","num":2},{"name":"Xavier_Lizardman","uuid":"2e48c172-bd8b-41da-b618-199ecf316b16","kills":45973,"level":1454,"xp":411160573,"minPlayed":90905,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"ICo","guild":"Idiot
        Co","num":3},{"name":"Viaire","uuid":"7b18a580-a737-4233-95a4-90da72506f23","kills":21009,"level":1484,"xp":57685578,"minPlayed":55238,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"Fux","guild":"Fanta[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats","code":200,"timestamp":1628271767502,"version":"2.1.0","data":[{"username":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","rank":"Player","meta":{"firstJoin":"2017-06-12T16:54:46.948Z","lastJoin":"2021-08-06T17:42:08.987Z","location":{"online":true,"server":"WC1"},"playtime":133290,"tag":{"display":true,"value":"CHAMPION"},"veteran":false},"classes":[{"name":"hunter","level":1678,"dungeons":{"completed":305,"list":[{"name":"Decrepit
        Sewers","completed":4},{"name":"Infested Pit","completed":4},{"name":"Undergrowth
        Ruins","completed":5},{"name":"Corrupted Decrepit Sewers","completed":14},{"name":"Corrupted
        Infested Pit","completed":8},{"name":"Corrupted Sand-Swept Tomb","completed":214},{"name":"Sand-Swept
        Tomb","completed":12},{"name":"Corrupted Underworld Crypt","completed":9},{"name":"Underworld
        Crypt","completed":3},{"name":"Ice Barrows","completed":6},{"name":"Corrupted
        Ice Barrows","completed":2},{"name":"Eldritch Outlook","completed":2},{"name":"Corrupted
        Undergrowth Ruins","completed":13},{"name":"Fallen Factory","completed":4},{"name":"Galleon''s
        Graveyard","completed":5}]},"raids":{"completed":202,"list":[{"name":"The
        Canyon Colossus","completed":97},{"name":"Nest of the Grootslangs","completed":25},{"name":"Orphion''s
        Nexus of Light","completed":80}]},"quests":{"completed":224,"list":["A Hunter''s
        Calling","Point of No Return","A Journey Further","A Journey Beyond","The
        Olmic Rune","Mini-Quest - Slay Dragonlings","The Hero of Gavel","Royal Trials","Mini-Quest
        - Slay Angels","The Fortuneteller","Mini-Quest - Slay Conures","Recipe For
        Disaster","Mini-Quest - Slay Creatures of the Void","One Thousand Meters Under","Mini-Quest
        - Slay Astrochelys Manis","Dwarves and Doguns Part IV","Mini-Quest - Slay
        Ifrits",[...]
