interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayersSum
  response:
    body:
      string: '{"players_online":980,"request":{"timestamp":1628677092,"version":1.2}}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '158'
      ratelimit-reset:
      - '26'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayersSum
version: 1
