interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1669824245,"version":1.2},"WC1":["OmarAlGhamdi","SigmaBlaze","nomjeut","PRIDE_","_DJP0PC0RN_","SirCmt","PoulUgilt","brandonZ89","NielsUT","Niviay","MelonSpike","HollyPlay","TheMelonecraft","PeterProBuilder","AndrewJackson","justinpeepboy","Koena","NiniVX","DarwinMix","csapka","LostBoy005","SnakeBots","JasonScorpio","alproy","invisibleinkwell","BoringBird","D4rk05","_eDsE_","samur59","Krokofant","maloposal","naNaomii","Kamurana","StealWynncraft","Espada4Ulquiorra","Helmuth0221","MonsterusMon","AxlZzz"],"WC10":["WackySmurf","AsuoP","desiy","IlikeBeans21","HowTpoTypo","Darkk_0","INFeRnoPhoNeiX","JamesSyrup","Hesnilo","Nazzrinka","6851","kiwMaster","Arzack098","_TqZ_","cursehaunter","Wakwak_E","Coyot","UltimateDude16","McFreddo","RogerLord","FiiOriginal","1tsugi"],"WC11":["gemochter","HypeShynx","LaMDaKiS","Glacier_sea","Maelstroms","Asoart","GebutterteWurst","Brutakah","Lawsei","AlphaWolfx4108","S1lxzy","pchas","Edrin_","RealHamNCheese","Z_Milky_Z","GlennBlaze","XNinja1005","PedroBe21","Dr_san","Incitatus04","HanswirftFlammen","rikplays","SilverShipTuna","Ram_Of_Fire","Freezingzimmix","Juliannutella","Cev","Flipiik","BareVer","TOXIC_C3PO","KrigerLV","Altaria181","BarnaOliver","Hoterin","JenkemAddiction","Pucaet","LogicalBird","Themingrainy","mansi_"],"WC12":["Maarcus1","Mursai","Maarcus","ItsYaBoyKay","bakin7820","OLISUJANG","pasutako","0yo_","I_Wate_Wyverns","8903870","Srackamaga","Joeey","hikuun","LasseMedKatten","LUC447","Agent_CM","Toper1337","Glacia4239","XzoTicYuta","wkfrjdia","China_888","ttianqqi"],"WC13":["Chara9455DREAM","MagecoreLP","ThankyouMite589","AquaKissy","Crystal_Legend","Furrito","hirotoy0","Ikasy_","Wabec","Niesi","Ladmxt","Bluecap__","toqether","Sir_Axolotl","PremiumIcicle","ahjd","Knoight","SakizciAdam","Abyss_Explorer","RegenGeist1207","Exocrine","Namhkn12","iFreddy_x","Darkrenga","XH","LucreziaVelod"],"WC14":["furysn4ke","Globli","Snapdragon_Skull","KinnieEraser","FredwardTheDog","UsupCup","SatoMillow9487","Nacare","Skewbydude","Qvintus","Deadspeck","axro","DeathMist","__Kal_","DFspear","AnzeinG","BennyBoo47","Mideem","qopg","VeryQuietGorilla","Panderift","GumiSenpai","Kuo_Chi","KnotheFlo10","ExertKarma","hi_miz815","Batorka001","Neido","AmitBr09","CHlCKEN_WlNG","Olipop_","conniesunshine","Malix1189","DukeFloppa","Aether_in_black","BestNightmares","Triogo","PixelMinerXD123","Skateur","Shoftie"],"WC15":["ethfan922","brilliantknight","sinsa_fox","WhippydCream","Calluum","Meekio","Wreki","Ztirom22","TimeValley","WhiteFirech","Special70","MeLlamoPeter","Cryotic115","WinZZed"],"WC16":["404l","Sand_V3","Slakczs","Laurin2","Munago","BITCONNNNECT","PolarisUltra","blackcatwizard","Triumph_OuO"],"WC17":["leiwick","McMcL","TheTouchOfGod","konfident60","MrJuliano","Emperio","Chiroru_sqn1","MagnusTheBlack","cs980031"],"WC18":["Strwberries","BROthePRO","NowZZeuh","Levernium","Mipmew2","CalmWizdom","Foxeru","LeiCha","shmebloolok","Gorilla_Tomate","WuMing_ouo","Aitrus41","bardingale","AmLoneWolf","Spooooookyyy","ToughTheGuy","YaeYuki","Coffee_Skull","Senshiz","GasoHeal","Drakosha05","Corrupted_Katsu","Yoruty","Yan_killer1026","30T4_1975","NightCatXD","_Lucy___","YTSharkasian","skiens6200"],"WC19":["TatarSzludzka","Aiza","LilNuggie","BenedictusTheCat","lolipixel","HorLoux","hiyoko666","SandBlaster7","sunny_young","OiferaN","kohu1717","Bimsiiii","AFKteitoku_OuO","worldbbox","rinkybel","Flinn64","Poolpuppy","Josel1000","elifroga","peloxx","Cyclical","Sergio_02","DaddyRinke","oLawni","DAVID_CZ","__kael","ChangLin88","Talaena","Keldorn","SirKirito"],"WC2":["DiroOG","stijnbeurskens","opsun","HeroHanex","IssHiz_CroZZ","Pesky_Bird_","rainiscool9867","SomedayISay41","Ascended_Winter","JackRustan","Zizouz","mangte","squidgy005","Kanekiii12_","rune001","L0STM3MB3R","PeteyParanaya","Speed_The_Weeb","isusrist","_Maxiwilliam_","_GoldenShadow","NINvana7","tfeedp","Butterfly_303","lemoncrimes","IamHit","ImN3rP1k0v","Ninobf","Azariel2021","Cactg","PryBoiGaming","TriHardGGX7","pepoprootstar","Niwapan","PocketFame","solsquinox","SuperNoobIADD","SpiXRal","Nutty3","NOIZA","Pipars26","Kiittt","Denyed69"],"WC20":["JoAsPo","marvelous1123","TKMyuta","papiko1122","DaddyEdi","Wolfing","MelTinkerbel","BROCKA","Paranceanic","festivelok","Batesha","Robertgraaf","shotaro_1954","Anuket","ElPavoGranaino","240justin2002","Etesa","___Hopeless___","EmoFlo","Trailior"],"WC21":["SadLife_KK","Tichian","lyingwilt","NashiroAoi","molony","Mindy_Huang","TheBonus1UP","oSuch_","Eliasmygind","qOp_EkusaQ","SparkLol","Detlaff0","Star_J","AnimeFunny","WildnYT","hyeill","kaguya10","ErebusTheGod","Lokar33","Waterwizard","ichi0110","Mi_ant","Ivolve_","MadNoxus","RipouLune","Shirman228","Hackmon","NeverDieHD","0Khai","Acracat125","lMM0RTAL","HKGZJOJO","Kaporal25500","Skylord_Lilalna_","Redstonerblast","NotaBadPlayer","Takatika","Elefante_","Deus_do_xilofone"],"WC22":["Trebizon","Voldegru","tekt","THOMADDD245","Deimer1368","medifer","Du3rlog","EASYgamesSK","Imadbro21","Guyofsomething","Daddykebabkaas","JvstnX","Raduwu","_Unbeatable_","MatRoyal","wannsa","ann_onym","MrEgamer01","StrafesSlave","SKing_08","DerCristi","crimsonclaw1","NyxGlade","sotetcsontvaz","HiImKobeAnd","ghostminervini","kvasnikovmi","GeFeC","FreddonBleu02","CrimsonDemonLoli","IvanChai","FearsomeDuck81","xPartyAnimal","Yuhmip","Auretria","Destiny_Ram","Carapu","steuben","Xovious07","Argen101","Jelic_","TheAI","charlie268","AkhilFV","LateOgre","Blury_"],"WC23":["Amirsil","Kthuulhuu","Typerio_Psy","BeegDeek47","Rodrigo2202","catboyLuw","ppfart","DGtal7","Dynam8","zNevermore","TheSovietPotato","JOLO9922","hyhy1101","SamoYM","Aerux","ToniRiku","IgnitorZA","Lotics","puu88","Rextyyy","PirateBeans","Ultravaldes","lostmind","Tolcienn","DucksAreQuack","HeXaTronCZ","ScooT0090","SlightlyLarger","UnhallowedCatboy","Robbie04","yh5314","DarkKot","Pandouge","Vitalta228","Shukato","KaLoww","PolarBearGrrr","Hershy_Eagle","Zabyne","jackywacky666","MickeyKurup","Ehihyo","RootCrab"],"WC24":["TAYTHESWAGGER","Chientali","echr","justGatze","HerbCookie","stone_family","bgyred","Victorico","ILOVECATSPLS","Sjosjo_Viewsome","Shadowclaw965","NiKitosussss","Magniuns","GnarlyPig","MadWif","PrograGamer","mimi25304","TolisOly","I_LIKE_DIRT123","Seykre","_EliteDreamer","_Mr_Brain","Simolater","Lyocx","MrOlegHunter","Drakerebel315","Bigboybilly1490","AimForm","sry4troll","lindafelix","orangeoverlord21","Stinkbomb3000","oliqver_","NongBirdTuaJing","Xypnovoid","dumblole","Katab00ri","Eginix_Bexem","EpicBoomer69420"],"WC25":["gamenoedge","PhantyX1","Orogahi","miniPCpro","oMakhro","FaiblePayatoo","Shadow_Starnite","MivosVanos","Lugia228","Maid_Karma","FroaXell","Superior_Dragonz","mynemisjeff","pioron5","Iwanaga_Kotoko_","_TLD_","Srryrth","SudokuSolver123","Worcestershired","Izanami_23126","Ceereal","Daniel_Hany","takaken_tktk","MrDeadbush23","egyZ","XYVA4N","ninjakitten314","EvilMatter_","Ice_Brasier","Thomasthekiller7","NicolaiForkal","ximiea","Max_Ale__Crg","Golden_Pendulum","BiggerBenck","Lasse35","DrNyxter","Reaper89Otaku","_thatotherguy_","MotixDiabolic","fadedcat15"],"WC26":["Gangsterizm","Octupus_Tea","It_Over_Now","SiriusBeck_","Sumuhanta","Haukkasulka","LuCoolUs","CaptainMovers","Svck_UrNan","UselessHealbot","Agef8","MarcosSegon","L4Loutre","Meirnotchampion","69GO","TidePads","despGemi","Zerfex","8xy","darkoff9","LexyHartman","Monarchial","czad","jdw_dwarf","VanicArts","riri0109","Nightmare_King_G","LUGG1A","AceGaming_","yrry","progamer167","Krake999","Sni_Per","Gurdus","curtsey","SplizeeGaming","The_Winter","Knlghtee","Spacebot037","BlazeMC","Cutsard"],"WC27":["Da052rk","Bright174","Lolkid03","Feesa","Flohysx","lucasrvl","Dalise","Fudo34","MlyuL","HollowJa","Carmelz","MrTouflex","ToTomaru2x4","MtanL","AfroSnail","piforg","Nebulo_S","Snow_LandBean","CaveClash","Dazeme","3bert","Izzumy","DucksTillGr3g","yeepang","I_am_a_leader","RicRicc","Ichicka","Stenen_Officiel","rbfarm12","CrabbyRook25366","MilesKomeiji","Enderchen2580","Cloud_Dash","kplo","leo7668","fei_stone_God","Cat_Lover","Marknak","iicy","Astrophysically","Alphatoxxx"],"WC3":["LCY_Wolf","LunaNepu","9mg","KrayKurai","onyx_neo","Sluisje","DieWolfis","Hynyx","vincentwong830","iMyx","Moloch_1","ii_poopiez","Stitch31910","_PigBoi_","MorrMor","Nosrone","CMYBilly","Marxman123","SquishyBeef","GamerMysteries8","Yannekeee","Yetility","Nickador","Azypas","deltap_","PhoMz","Fudgeboard","Zerozcraft","ArmyBeast09","Tinberg44","RiksatBacsi","ZoSo","Zeaza","ChankoSan","NoCatsNoLife","LegalTOAST","mike8888","Aftershokke","oPower_","giveupthinking","KelD1k","68sv","hlickyalf","Diamon_sword1","Yuki_Po","Rextonix3999","kinako3534"],"WC4":["Cotander","Patchait","SoorYe","WeerRiden","WoodCreature","Ruddet","DonkeyOfLegend","DrollDans","Eafy","Nasiy","lordofjoint","CrunchySugar1","long_tata","orionking121","DrR6B","FallenFuse","Draugur_Konungur","Assiah_Dafirr","DepressoDeluxe","DevilQueen113","TrippleB364","Irfane","Hangoverd","ilyLux","Silent__Boss","Kooeen","VillnChill","MerryBan","LegoStepper","_Tails__","Miksu3","caddriel","PingoLunar","pabalaba","Agrame","No2r9","HenryStickmin1","MasterBroNetwork","Nova69420","Killereni11","Nivrik"],"WC5":["Hyedam_0712","MEGAbot_123","JinxJanx","Glen4TheWin","xD4rkHD","datdot","MarcTo09","IceHorror","Colts_"],"WC6":["MrSadKill","Olimposz","xXCybersoulXx","Malarz_","XeMadje","VT_X","SkyMay","Lalatera","Ko_ToRi","Flandre_Scar1et","Xkazukie","mergeldrep","tankofpacer","schmattyyy","MasterOfDaVoid","sharewoods","brobro_","WiselyRabbit","Norze","LavaMikkel","Loilogamer","Dodoberd","Ulti","AdamLake","MikeyMcMinecraft","MarkRubinstein","EmilyVM","AnxySlender","donbtw","Deslgner","RyanTw1","KVVS","CatCosYouT","Nessem","shoesman","SnoweD08","Gluucc","TheVoidness","max_val","NiccBoy","AnyutaYaa","_runaan","Tokito_HAOz"],"WC7":["bg_k","jaknator","Senmary","Photn9","ghostdearp","Slime_Vac","_AltRon","M1QQo","KongZuki","MateuRZ","Bliltz201","Trestun","Mihis","Mintykitty_","FadedLotus10473","IDK_senpaiKhy","DeathLucifer","akazas","MrCittyKatty","FalconRising240","Casper_gaming","Redorian","Marytone","ilovefxxguild","uglymoss","Marytobe","aagaaaard","iBiiel","Retoile","Krismaa","_NotFede_","FireNneon","_r_e_e_s_e_","mozami","Fihdeh","Suke_user","a_hatintime","Shicbh","enderman0530","Mobyyyy"],"WC8":["MihailGorshenev","Gikgantis","xiao_zhi__","IsaacDelta","Eywa_Lutz","DaPOGDoge","Solbriller","_Dl3G0_","Cooki3es","Brentinn","zweg222","RippedZan","MirroredMira","LeRobot","Not_Zander","Easonhuang","RemarkableSheep","Chris_Louis","rulify","RiverSniper","GlitterJullan","RaidKeeper","Sweet64"],"WC9":["Orphion_","Yukasumi","Fliqqq","jamieee1","DonPritty","ThEpicFerret","Alle_Sandstorm","BasaraKun9","pyraYalla","Ryukor_","LessAnxiety","_EliteNightmare","Gales_Force","Scoutje313","Ingwee","Deep1nside","PerfectPritsch","FlyingFoxD","xDuskyx","GrimLy241","OwORawr","LetsQuit","Fabi_0802","jko259","Bobicar","C4LV1N_"],"YT":[]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '157'
      RateLimit-Reset:
      - '54'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/OmarAlGhamdi/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/OmarAlGhamdi/stats","code":200,"timestamp":1669822611661,"version":"2.1.0","data":[{"username":"OmarAlGhamdi","uuid":"5d8518ae-6d42-45b9-b1c1-6ee948492a54","rank":"Player","meta":{"firstJoin":"2015-06-10T15:03:18.229Z","lastJoin":"2022-11-30T15:36:50.139Z","location":{"online":true,"server":"WC1"},"playtime":37586,"tag":{"display":true,"value":"CHAMPION"},"veteran":false},"characters":{"89b1851e-c8f9-4953-99ec-d603d14e7f06":{"type":"NINJA","level":1368,"dungeons":{"completed":355,"list":[{"name":"Corrupted
        Decrepit Sewers","completed":77},{"name":"Corrupted Infested Pit","completed":44},{"name":"Corrupted
        Underworld Crypt","completed":46},{"name":"Corrupted Sand-Swept Tomb","completed":39},{"name":"Corrupted
        Lost Sanctuary","completed":33},{"name":"Corrupted Ice Barrows","completed":37},{"name":"Corrupted
        Undergrowth Ruins","completed":59},{"name":"Undergrowth Ruins","completed":9},{"name":"Eldritch
        Outlook","completed":3},{"name":"Decrepit Sewers","completed":8}]},"raids":{"completed":99,"list":[{"name":"Nest
        of the Grootslangs","completed":18},{"name":"The Canyon Colossus","completed":74},{"name":"Orphion''s
        Nexus of Light","completed":7}]},"quests":{"completed":21,"list":["A Journey
        Further","A Journey Beyond","The Qira Hive","Realm of Light V - The Realm
        of Light","Realm of Light IV - Finding the Light","Realm of Light III - A
        Headless History","Realm of Light II - Taproot","Realm of Light I - The Worm
        Holes","Corrupted Betrayal","Bob''s Lost Soul","Cluck Cluck","The Sewers of
        Ragni","Infested Plants","King''s Recruit","Mini-Quest - Gather Molten Eel
        IV","Mini-Quest - Gather Molten Eel","Mini-Quest - Gather Molten Eel III","Mini-Quest
        - Gather Avo Logs","Mini-Quest - Gather Rice IV","Mini-Quest - Gather Sorghum","Mini-Quest
        - Gather Molten Ore III"]},"itemsIdentified":0,"mobsKilled":65301,"pvp":{"kills":0,"deaths":0},"blocksWalked":1111611112,"logins":3775,"deaths":65,"playtime":6228,"gamemode":{"craftsman":false,"hardcore":false,"ironman":false,"hunted":false},"skills":{"strength":9,"dexterity":98,"intelligence":42,"defence":51,"defense":51,"agility":0},"professions":{"alchemism":{"level":102,"xp":28},"armouring":{"level":112,"xp":8},"combat":{"level":105,"xp":4.5},"cooking":{"level":100,"xp":46.2},"farming":{"level":102,"xp":67.2},"fishing":{"level":110,"xp":18.8},"jeweling":{"level":116,"xp":4.1},"mining":{"level":100,"xp":43.9},"scribing":{"level":107,"xp":38.8},"tailoring":{"level":111,"xp":97.8},"weaponsmithing":{"level":103,"xp":67.5},"woodcutting":{"level":110,"xp":19.4},"woodworking":{"level":102,"xp":92}},"discoveries":414,"eventsWon":0,"preEconomyUpdate":false},"621c312c-5506-4ca0-940c-7da95aceefad":{"type":"ARCHER","level":361,"dungeons":{"completed":361,"list":[{"name":"Decrepit
        Sewers","completed":1},{"name":"Corrupted Decrepit Sewers","completed":71},{"name":"Corrupted
        Sand-Swept Tomb","completed":53},{"name":"Corrupted Undergrowth Ruins","completed":79},{"name":"Corrupted
        Underworld Crypt","completed":40},{"name":"Corrupted Infested Pit","completed":35},{"name":"Corrupted
        Lost Sanctuary","completed":39},{"nam[...]
