interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1630934759,"version":1.2},"WC1":["Ceraen","Twilight_Link01","warrior1_matt1","Davidmeteor100","Nathasius","Wyther_","_PhantaZm","GatoVoador","Mardeknius","Carolcorreagoss","SmallYear","DKX_01","XIIICreux","SaltyKing","JeeMad","Arnok2002","Beeniebobs_","Daeck","Hepo97","CxQCrossWA","s0w0s","xd_mchotdog","Safurr","MrGrucci","Silentmaxx","Maarcus3","xCrownx","karuten","Gery65","likeablesundew8","alproy","Fuzy_Boi"],"WC10":["Infinius","Reptalette","UberTeun","yaya220402","blockyYoshi","FalconLim","kyrozane","Phoenix85","CarrotBunn","Iqtha","SignatureFail","Keinetic_","mathi0322","Deaththegirl1","Delivery_foot_I","Leni11123","TheTobi13","Kaphaen","MalteErik","PaperTiger723","Matabox12","LuwuNowo","Aneib","justAfriendCF","LERT_ku","LoL_StupidMan_XD","_LiangFen_","Shaywinny","shaywin_","CaptainDanTheMan"],"WC11":["DeathZoneKaishi","Chokanan","dinobee","Swiged","SHDWxTaipan","WatchSquadOnTop","RelXis","Oogue","Rage_21","Sezija","KarenGillan","Noobathan","LakiKakku","atdtheboss","1andonlyduck","Gatsy","BigHero6_","MatchedLamb2678","Blaze2894","mizuke_kyoka","spacesven","GladStats","Mini_Mumbo","SteinGaming","zAltrea","Jqrnhub","DeadlytonQT","xXAlexiorzXx","SrErfan","Penguins76","SadMachine","AdventurerPat"],"WC12":["Zeeye","_stealthy","Its_DiiViNE","CalAnders","q____","SirCmt","VovaTheEpic","Q_Mitoboru","CDParadis83","EmpireofSindria","Atomix1234","SomehowArco","IamTanya"],"WC13":["fausy","GreekGamerGR14","TRVP228","Darkrenga","FurryStyle","FTW3","Cruelvigilante"],"WC14":["Forsaken_Bones","durifen","BungusBongus","Aru9646","Corona_Weedus","MaleDuck","CoffeeTimeNow"],"WC15":["heftycrowed123","KLFo94kenny","Syddy619","tcdcbs","mrbobbyx","Mr_Prince0","Epimonic","PhantomReindeerX","CARLITOSS_12","Luigi2401","Bassilth","jan0wsky","yoshicomix","aMa3zing","brandonZ89","T_T_08","SheriffSchnitzel","iLoeDer","Oniixe","Camoey","joshuadatt","Xanter99","AlexBlizzards","Stingerzinho","MisterCarrot213","Alonchak","Miller_Kids_2016","bratCyryl","AlexNinja109","unicat42","xLisa204","MrSamisan1","FredericInn","Into_Flames","LilChildren"],"WC16":["pazori","G4l4xyP4nd4","MissDragonSM","TiwTH","IMeridianI","MisterdragonSM","Judzio","Hamdann","GhostDG","Rorylemo","Sylvan__Fae","Alld0ugh","Mesyder","RusiKa2","JapaneseOnion","CheetahV2","pachysaurus1","TG_Domx","ImCrazyTang_1019","19kss","FireOverlord13","shadow1dog","SaintEnder","swbanana","Elytry","cmatis","JethMac","elhiez","Elimare","Zabrakiller67","KkangAn","ThePigwiggy"],"WC17":["DatrizXD","Sosodistrict","aa524524","MAX0202","Skinoxtj","BlueMystery","Ph0nka","Trebord","Katolus18","Gervasio_Broily","ToxicJohny2004","JustinBreadoux","R3myngton","GrandpaPopo","Super_Pro1","Samaron0403","Davichy","Astolfo277","xXTigaaXx","tigaacult","lunatran"],"WC18":["Calmwind777","Fr0zenMC","Malachiel_","Mesterr2","EliteFritte","NettoGehalt","Jdude_","OxfordTavern","The_Gold_Bunny","Pbeast","TheMiner114","J_Lo777","__Pangaea__","Pododeng","WetellA","ElectroKnight167","T307","Kyren223","Bdarz","Anandalite","superjanemba666","VenomCookie7051","Lord_Linux","Alfie69thegreat","Gerstenmalz14","Yatzufusa","Nurfster","deios25","Eijako"],"WC19":["gothgirllover467","Varza_Murata231","RowanStudios14","Radiaxros","ICantThinkOfANa","Arrnoxx","aconcrafter","sprechblase12","DoneBlock","B1llionYears","Zeevra","DrajStats","zMrX","ItzTigerTime","tricko03","Hauntingly","MateiDC"],"WC20":["NereusQueen","shinshin1208","rune001","RuiSpeedy","ShadeLeone","Kryptophielix","Heyoth","MauTrau","Iotados","LittleLemon_","coding2005","monkeykapaa","Kayumi_1","Bezvard","Rakkyo527","Feuerspirale","ProfScoobert_","reB_rth","LJinming245","Sedyreph","LoudAssassin924","McZurvivor","Akashico","Marshmallow2161","y_Stilles","8Him","ruterrierr","Seoaros","julien83860","NOMOREWORRY","Swaggito","RationalOtter75","MihneaSC","Snurlax","Nieke","Koni75","mr_niclas"],"WC21":["Sayori_","SeniorDoge","Popcorny","LimeWolfLizzard","Xadecimal","dirtylyon","Adskii_Kabachok","YuriusAssassin","MRkiller_X","Natsuwuki","AxolosG","LightninBolt45","ravenkey28","collplayer","MlyuL","Lucky32","Dragonator780","Marginalcat0410","ScalaAdCoelum","JiggysH","vampxkitten","siltybeatle","AirPoras","NarwhalWasTaken","Legolaf1","Sandora1910","Slymey_","Blackl1sted","Electrochemistry","Cakeinurface","TeetoForTheLose","_MapleSyrup","PunPun12345","DinoRawrr","ChEN2205","PolarBaeJr","pondi1015"],"WC22":["imperathor02","ArisuKoy","MortosVivos","80llo","Fernn","Lateguy","Viklavi","WayaBoy","Stenkross","Semblence","NSAI_OD","kaoosz","Mamogo","SickChick","Strange_Bee","Lokosol_725","Kaitium","TW_Shen","taa876","OneLazyPanda","CodGod","oWaxing","Goblin_Jim","syntaxerror307","kabinfarschirne","_LIONFLAME_"],"WC23":["___tendollars","CurnsIron_","CookidioticLuna","masyumaro3","Cyberlife2501","KillerTomate16","XDyl4n","ZHGaming","Mifz","Dudleya","ImAGreenSheep","ShadowImmer","Buby","villacee14","Red0bsi","Yoviiii","XPMMX","KNVSR","Berded","oPollarzin","Geodeblock","BadbuddhaJack","U_M_I","PHGz","LastEnemy","SrtaLua","KaketoeYT","viggho","Fox_SenpaiYT","TieDyee","LunaticCultists","clawtub"],"WC24":["cqlli","HotKing","WanPunch","Omnivi","MrEpicDude666","nip_nop","Snyperscopz","BOOSTY_DUCKO","AncientIroh","mansi_","WhiteAkuma","GodCarp"],"WC25":["Vinzlip","Lau_3","NotNinjaMine","meowTOW","dumrstil","Ascabar","Toastyy420","Dalise","Shelly_qq","Salty_Pinecone","Poyia","KanozyOwO","Zadashi","MagicalCarrotXV","Techno_best","H_bald","ploukk1","cclx","Triactic","Waistlesstick","slimes55","Ghost1John","evanwp2002","ShirW","Vendicheitor","PhantomKidM","DarkAipom","Ahh_Fluff","TaintedLion","Triumph_OuO","shunseki","GeeGee9817"],"WC26":["MMMPancakeMix","Trigonometri","Smarre101","Gaio_Of_War","Tvnaka","Pvki_","patyx_","todyh","Etemis","BloodyAdriano","nick789000","xpinguino_","bga8864","ImJustHexa","Irvmi520","Shutler","GooseStats","dhcy","Slvrp","RhfEnrl","fandasliz","_Rebal_","tukorama"],"WC27":["SuraChoke","CakeKing_","Darsilen","Warhawk237","Fallen_Star_tw","Siris101","vabold","wowojna","Hawnk_","Bloooos","stevekochavi","_TobyINNIT","WinZZed","Dream_snow_wish","Britten_Man","RougeTuna","__BadName","robopro11","kimmoes","OCTAVE____","Black_Death_Ace","_Thund3r","GiornoGiorvanna"],"WC28":["KTAndras","wackyninja303","WestSidePanda","Piggy_130","Hell_link","Julinho","Goatkat","Tevoir","Donkey_D_Acey","Bible","Break_iPhone","Terraformer9","Arkossiello","Ridgi","blaxkstormy","EternalFireice","masterkiller2000","EtcPlayz","Kahsowo","Hunter_34","DisgruntledJimmy","Xelkyos","Honey_The_Bunny","Nekokkuma","S2RabbitS2","NormalTomcat885","chezxx","_Baran_","Dnwr","JerryStuffRo","ACGhost123","Slimer95","GeekdotGAP","ArmaRekt","Viral_Tomato","Tomkyos","Samyy150","Amzu_"],"WC29":["IBARSOSHD","Rawanoooh","xol02","oso_88","Puppy_Struck","MD48","Blueswords","GiguGaming2021","ZeroG2019","Winterworks","ZillaJr_YT","RaddyRassett","SangThanh6969","FluffyDuck10","Username75","CebuPacific","SheepMindSC2","ryder930320","cpdro","AlcoMiJoe","shiki_mikate","Democratics","Vyxez","WangJian7","Dr_Jal","Dr_LaiYiRu","iJuskyo","Draaipunt","Bilovisnake","Flaronsia","Harganeth","AlpakastarSC2"],"WC3":["wolfchan","Koruzu","WiFaai","RisenEzura","ii69","Leitee","uwuCassy","EarthSword28","Perceiving","Sadann","xLela","CruelNightSky"],"WC30":["theseaemperor","LukeDaNuke","Daraktul","Madotsuki_Medium","sir_gwain","ThomasThai","Seikei178do","Maarcus1","TucaDeKrippy","NoobfishXD","BigEnter","Chosee_BlackHond","Yoshen","Liquidput","En_Smurf","senzory","j6w","MajorLogic","emhan03","BitLuckyPea","Rynox_NationZ","_Mimo","mushroomie_","azur14","Strongwulf","Flapli","Doboszynka","Langelot2012","RennegadeX","Axovoxel"],"WC31":["Mattya_Yzk","AtiTheGod","Azure200","DetectiveWolford","kevinpatri","jjstin","HimikoYumeno_","SmartWeeb","Amankman","Nobne","Aezerie","vihb25","Reset374","natsuwoo","Aidosang","Zynonia","PigMaster39","meyf","PatatesCompany","CarbonatedLotion","JewishParty","JayTheMafia","Acai_lynn","xNeiron","GiantWolf","AlecseiN","Note24354","_Unversed","king000mohammad","Chihaya21312","MagieCrafter","Phantom_rook","Rarghjall","sweetpho"],"WC32":["TwiceDrowned","Spongyy","MiniPp69","DaRealCat2","Darrick966","OASIS0110","BanditoRojo","zVenx_","Myth1C_x","Mr_Spiderbot","AndrCraft","3BMaker","PIrOT0ndayo","Balocrou","Gulue","Henoy","_Novis","PicoBlomst","_BrU__","AdanaliUsak","PookyPanda","Luigi_moo","TheGreatSardini","HKey2o","Stormyexe","TinaSnipesU","Strawberrie1","Enigma665","LitrallyGod","BurntSausages69","Comatose8354","Night_Sky_tw","rm_rf_throw","Matey6392"],"WC33":["Mr_Bendy_MC","Mattes2009","PaintedByChaos","DivrAWa","DudieGuy","RainofGames","awesomemann1","PoipelPlayz","ThyCobra38","SMALLSQUID","AgentMedo8","Pistolmannen","Murmel_20","TherapueticLiz","zNetflex","TNTANTON","Chocef","DuffDuff2610","CommandBlockinq","P1xeliz3d","Eternal_Nooby","adri1711","Picx_vitell02","Takawood","HOpana","BIGGSYELLIS","LumCrafter","Wices","Sergey3565655","lord_Of_Inferno","SnowFoxHun","_Mayus_","wizzyfoofoo","Odeboyy","bedwar_gg","JustNico20","kimimogura88"],"WC34":["Dermpel","1_Blockhead","Krzychowskyyy","Tunamayoo","PhantomDergwulf","FreeNugget","Luxedian","Gery82","ZepthosX","Der_Babaron","BoostedPeen","UrLordDefaultYT","Slevin39","Toastboy_Beast","YouHaveMail_","Werllav","Kremeboy","Dannitauwu","Nyctomint","Rocksnowman2007","Mathev","ubmi","OvanBovan","likeca","Smallranda89","Dyma69","White_guardien","Kittyse","twoorthreekids","TheAwakened","P_xy","not_bobda","MichMichh","ScorpGame"],"WC35":["Greenxxrose","vage","Garadan77","Generators","Craxtor","StunSeeds","rausan1","Ristell","PraetorDon","Luxtux2006","mmfmgmghggmgmffm","SIIeg","_Baxxter","skydark76","Freddy33005","StarlightKid","GODDON3000","F4teUBW","TallishImp9639","Sir7alot","eldritchdeer","AERO2game","Raymond147","ArticFox698","Qulpes","SleepyEldrazi","JAMMY_ROGERS_11","W0lfsh3rz","DuistereVogel","jamie55","obeyPugs","WestonAFK","Eesnaw","knightof2","1OOs"],"WC36":["LC_Clarence","HoJai_","JonteBooi","DecSim","lsy6026","hansdf1","ApostoloS24_29","deblijevos","Kwendyn","pvissertje","Zalice","flameVSflame","Peanuttos","nothingbutidiot","Ninjaflex69","_Nice2Live_","Xinghunliuxia","Pyke_BHR","qVerx","Edrao","Matt96EHS","PoratoKing7112","Pixi2020","Mr_Chaplin","StormyFireCat","AgentHigh5","WafflePup101","xxk00000","gamer0707907","bubs_n","athingnamedit","KaindaGAY","thomasppp","Stavage","miraclesolo","Amnestria09","ChickenInTheCorn"],"WC37":["taga938","Minyu","2_IBenZ_3"],"WC4":["Babo_Leli","MaxiDeah","mike12408","CarrieChiou","DerptanianX","Glaackiem","racconkatun","ihashas111","CynicalB0t","ajkx1","Puuug","smateusz2558","PetThePet","LowEnergyKid","jf_etc","_s0y_","ori2015","holoun","Tw1nk3","Zenyx97215","RigidStudios","Goownh","wckMCz","CloudlessChaser","PeiceOfCake","badbird08","PVC_Milkshake","lewarek007","Russell_Louis","gisab3lla","OtisBoga"],"WC5":["Yazzzzz","Dektar","Lucidaspnome","LostMonumentum","ChrisTheBear","Macro_Eric","Gamerforthewin","blackghost023","syang12002","Mensley","BILLDKID7000","KirbyInhales","Roulger","Ivan_1119","Cursed_Gagyllol","Jet_Bd2","Ryo_24","_wlg","SUPERKOT386","Keniye","bluefox125","Perlfehl","ASFJerome1311","SquidynessX","U_YU","Mausll5665","Slime1480","KhongPhaiPo","Weskerpuss","Greatest_26","Seagazer","AquaticBq","Ikasy_","Torflaylin","d4rk1e","Shadw174","hscingo"],"WC6":["PoliceStats","GreasyBaconator","WHYSTARwhy","souruni","xd_Derby","MrSulu","_Jerd","FlyingBe3","scare__","Booper9384","Yuan909","Espeset","Haizzz","chickennugget609","ashyelboes","yun_tun","Adonis5316","Actinium_227","a_Sey","JazzyChef","StevenPlaysMC_","vxmitcase","Nieecplayz","RussetMantle","Chawananame","Abyyys"],"WC7":["IamRainb0w","Calluum","ExtraLemonZest","MushMushMush","Jessica807","BonelessPotato54","zERoGX0869","natboyy","Eggels","iLogitech_","NetherStones","BypassLunar","LaMDaKiS","ExiJ__","Xales27","BlueWhale","Chwyssie","TheNoFaceGuy","50RA","Mythicized","RisingDead155","PokemonGamer11","EThowt1107","FeodorRomanov"],"WC8":["Archeops_","ppfart","Kitty050","AlwaysInAMood","CuzImTimer","EchoHD_","ArT3Ck","StillNotFast26","Bot_Shadow","nikbrok_56","20kss","Vandekup","SleeepingSheep","Kinny144","Lucaspinder","KyriosSK","BadFeng","iAmHunter","Hector3107","MoiNonPlusIgo","SereneSummer246","tukemenebisio","RicRicc","suppo1100","D1uLaSing","BirrWillow","Minouette","VTGAM","Mehku"],"WC9":["Purple_Soot","_DaRk_BlaZe","BadFCA","ItzMuvik","Gakssom","Axik","the_good_turtle","9erd","MeowJacky","MagicTurtleLuL","ShadowLove","MtanL","_ChipsAhoy_","Starianzel_","Ezpeon","akixipo5","Felipelicool","iZyres","Golden_Pendulum","kage_otz","Dirtz350","obiner","gns0521","pat_crafter07","Blockybfb","JustFront","TelevizOra","MartinovicXz","jackypigman","hoopsking","zPapacoBR","Bigouslino"],"YT":[]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '179'
      ratelimit-reset:
      - '56'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
