interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/list
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/list\",\"code\":200,\"timestamp\":1669824239006,\"version\":\"2.1.0\",\"data\":[\"7-Yottabyte
        Storage Component\",\"Acid Magma\",\"Accursed Effigy\",\"Acidic Blood\",\"Acidic
        Solution\",\"Acidic Remains\",\"Active Fireball\",\"Adamastor's Faceplate\",\"Adaptive
        Tissue\",\"Adventurer's Diary\",\"Aged Tome\",\"Agullo Beak\",\"Alga\",\"Algae
        Mat\",\"Alnamar Meat\",\"Altered Ash\",\"Ancient Coins\",\"Ancient Currency\",\"Ancient
        Metal\",\"Ancient Heart\",\"Ancient Panel\",\"Ancient Moss\",\"Antique Metal\",\"Angelic
        Gem\",\"Apple[...]
