interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsSearch&search=MrBartusekXD
  response:
    body:
      string: '{"guilds":[],"players":["MrBartusekXD"],"search":"mrbartusekxd","request":{"timestamp":1628677124,"version":1}}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '131'
      ratelimit-reset:
      - '16'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=statsSearch&search=MrBartusekXD
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsSearch&search=farplane
  response:
    body:
      string: '{"guilds":["The Farplane"],"players":[],"search":"farplane","request":{"timestamp":1628677124,"version":1}}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '130'
      ratelimit-reset:
      - '16'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=statsSearch&search=farplane
version: 1
