interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/get/an_invalid_ingredient
  response:
    body:
      string: '{"kind":"wynncraft/ingredient/get/an_invalid_ingredient","code":400,"timestamp":1669822088245,"version":"2.1.0","data":[]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '165'
      RateLimit-Reset:
      - '1'
    status:
      code: 400
      message: Bad Request
    url: https://api.wynncraft.com/v2/ingredient/get/an_invalid_ingredient
version: 1
