interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=player&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1669824245,"version":1.3},"data":[{"name":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","kills":1462,"level":1484,"xp":190282035410,"minPlayed":260965,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"ESI","guild":"Empire
        of Sindria","num":1},{"name":"Maarcus","uuid":"9d6e45a4-8ec6-45dc-8cdd-6230b1781768","kills":186,"level":1484,"xp":40799246531,"minPlayed":178775,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"Alts","guild":"Alternate
        Accounts","num":2},{"name":"LuCoolUs","uuid":"a544498a-8c0f-45d7-97ed-4cd3f20a71f7","kills":9,"level":1484,"xp":19754735859,"minPlayed":153809,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"ERN","guild":"Emorians","num":3},{"name":"Ka[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats","code":200,"timestamp":1669823731558,"version":"2.1.0","data":[{"username":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","rank":"Player","meta":{"firstJoin":"2017-06-12T16:54:46.948Z","lastJoin":"2022-11-30T15:55:28.054Z","location":{"online":true,"server":"WC12"},"playtime":260980,"tag":{"display":true,"value":"CHAMPION"},"veteran":false},"characters":{"2de2046d-ae0f-4da2-aca7-6aae49f9adf8":{"type":"HUNTER","level":1678,"dungeons":{"completed":308,"list":[{"name":"Decrepit
        Sewers","completed":4},{"name":"Infested Pit","completed":4},{"name":"Undergrowth
        Ruins","completed":5},{"name":"Corrupted Decrepit Sewers","completed":14},{"name":"Corrupted
        Infested Pit","completed":8},{"name":"Corrupted Sand-Swept Tomb","completed":214},{"name":"Sand-Swept
        Tomb","completed":12},{"name":"Corrupted Underworld Crypt","completed":10},{"name":"Underworld
        Crypt","completed":3},{"name":"Ice Barrows","completed":6},{"name":"Corrupted
        Ice Barrows","completed":2},{"name":"Eldritch Outlook","completed":4},{"name":"Corrupted
        Undergrowth Ruins","completed":13},{"name":"Fallen Factory","completed":4},{"name":"Galleon''s
        Graveyard","completed":5}]},"raids":{"completed":20,"list":[{"name":"Nest
        of the Grootslangs","completed":1},{"name":"The Nameless Anomaly","completed":7},{"name":"The
        Canyon Colossus","completed":12}]},"quests":{"completed":244,"list":["A Hunter''s
        Calling","Point of No Return","A Journey Further","A Journey Beyond","The
        Olmic Rune","Mini-Quest - Slay Dragonlings","The Hero of Gavel","Mini-Quest
        - Slay Angels","Mini-Quest - Slay Conures","Mini-Quest - Slay Creatures of
        the Void","One Thousand Meters Under","Mini-Quest - Slay Astrochelys Manis","Dwarves
        and Doguns Part IV","Mini-Quest - Slay Ifrits","Dwarves and Doguns Part III","Mini-Quest
        - Slay Azers","[...]
