interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1628591889,"version":1.2},"WC1":["RaikoKami","SakeRingo","19kss","Heather_notrealy","yumeir_","ha15226","Vhispers","alex05062009","XxxkamilekxxX","IAmStupidCow1","lolstillshane","Silera","MekiOh","_VIIX"],"WC10":["xJarran","Luna_OuO","ParhamTheGreat","Skwibble","Damian_2006","XxTheCyclonexX","DomixCZE","Patonk","AlvaroRogers","IvorAbisson","Antouya","PJKwon","TheTeasip","NegativeGamer","Renios","zivave","foxy2604","TomR24","mini_mamo","AlexJr_2006","BotAcidic","Rasy1n_","The_Androphoniac","mfyt","AquaSnow_","Poyia","GrizzlyChicken_","ChrisHelloThere","RemixN1V","FiresparkTV","Chwyssie","teamscooter"],"WC11":["Andie_Pandie23","Lethioti","Shen127","cheezitdave","_Tokidoki","Tsubaki712","Stooets","loexter","MalteErik","Seotaekhyun","S240","Iogepryga","Foiler","HONK_17","MrLagyhka","SrArian","PapaPenguin_Jr","MeHDiGIP","komyyrrw","_Ir0nDem0n_","So_no_head_","Fouda","SrErfan","AutChangM","Inhesion","Just2theMax","Listen2TheVoices","guccislides","SniperGotSniped","michal04pl","_dRoR_","Kuni132","sjomp","Fouak"],"WC12":["ilyShouko","Hashymal","Dracium_Z","hennycrash9","5tyxie","bga8864","OzzyXDD","king159bus","Bopoooo","Yehchiu","Nriz","LennyFox007","1_Blockhead","MissMiku","Glossoholic","JasonLin","Silverw0lph","W3K0L","R3CE","TheNewN00B"],"WC13":["HarryNCY","TheMagicWither","Hazde","Shelly_qq","Lubecki","Radostorm","allenyen1017","DopleTople","TemaSeriy","trevl312","mr_konne","Joran_de_barbaar","yolo_boy5","WoodenCroc","Joe_ovo","Maxiking1610","HOME2335","Swax_x","PORISUTIREN","oNeppy","YuriDaFurry","s2796yek1","KapitanOgros","xDeft","gluteals","kast01","Ralph_0206","Mini_Mumbo","Boldi6548","Jamies","Wilrent","Dannythekiller","Mr_Milkman0","_gus19","20W","Mcioder"],"WC14":["Lalacent","ItsybitsyJewelry","Suyarumi","water_jet","GameKnight373","Kailua_Pig","OneYellowJumper","Stockjamin","1qw3e2asd","Feueristic","Xsers","ManDoo2005","PiggyQAQ","Calluum","ppfart","SupermarketBob","CavenBlack","Ctx35","MakkerJEFF","a1235813","JCH00","vikidi98","shadowiness","Spekus","DiShaJiu","M_Radman"],"WC15":["taxors","tukemenebisio","P0SI0N0US_SPYDER","SpiderKory","Sthalln","1m0kan_","Irukaa","Ksteve010","Vaxture","Jafork","ghisr14596","vJerusalem","TBGamer809_","MortosVivos","OPcatlover22","MacaDamianNut314"],"WC16":["m8tricks","LordchenEnder","ElfinAwakening","BangtanKookie97","Bimox","iurgen","RandomEmerald77","ravenkey28","caxapuHkaMC","AmaRaku","1HerOz","bb_____","KinumaKatze","yumisuke2342","Dragon_mini","TheWandererKarl","Dinos19","Chiccotot","librickysimon","Mr_Lau","naiyou23121","Weisercedric","zongzi23303","Zockergirl0903","Pododeng","LightShadow_live","Catacity","NexusDstryr","Janimpsus","Tawn","KazuLovesU","sabreTutut","justlive1995","Daisukekage"],"WC17":["Riiff","KWR01","Wabzy","Dwabzy","_rennn_","Specklesz","74YOLO","Chaos_DemonKing","De_illuminati","ForEverInMyHead","Lucky32","latexio"],"WC18":["coltonmu","Dekoghost","HydroTuna","wibaux","NotoaYT","Cyana__","SeraKittenn","Jqkeup","PolarBaeJr","EMT923","Iriutjok","MiniMandrake","mrgordon145","OnlyLoveYousa","mrcraftyketchup","ZillaJr_YT","Mark888k","bigkutasisko","SCP_Night_sky","stand0","pyro_flourish","Xmonder","SpotOG","FukooSan","iomiautotrollo","EddieED","NHC22","Yobeezle","SEBIWECH","MachPlatz","SenojBob","MarciGamer759","TwilightPyro","VMCMinecraft","MallowArgon"],"WC19":["LEisbaer","iSniper1010","NightRaid_","Rd_Player","l_ightningbolt","Mitzuki_Finest","Kenoolia","freddLess","K1K0_ED_","sokosQQ","FishInTheKitchen","Wolfyyy554","zMars","M8807","_wlg","GracieBabyW","PikaLegend_","Step_Chicken","Groffles_Bear","Paxep","Ikuruu","ItemIdentifier","MinecrafterSo46","Not_Innocent","Sn0wLin9_rns","TagMail","XBismarckX","KawaiiKahbe","sobble_sabel","riluexe"],"WC2":["HY_Hanyul","Geralt1007","rio_x","topgearjoker","WiseTim","PvPxRobin","Igor2026","soffiia","Sajtik_defend","ThiccChez","goldenman0505","POWER_PING","nkklk","sziksu","o_na","Cumik901_c","MonkeyBoy20002","_Noximus_","Spl1tz_","pencil_mr","TheGamingRolo","Glupling","deyang0519","filipbluh","StellaXOC","Alisa1200","ltrltrltr1234","KIM_1326","ATTOMSR","Shidoex"],"WC20":["ItsAight","Nil_7753","Pomelo_Roy","Peachy_Nari","Naraka00","Araragi_Tsubasa","snowball3130","Starianzel_","Moonlightkill","CookieWeb","HydraOnTheBeat","YandereAreCute","SuperiorBun","PeggyBlazek","CreepyArt720287","BenceX100","isca10","eTeRnitySs","BrotMitAim","nagyattila09","TataCheck","KouliCZKa","smallfive","Tonylyn","Atraxica_MC","Spexys_wifey","deliciousJI","HalfX","Cliffope11577","Mb0b_","melihsahin12","mattion23"],"WC21":["nick789000","Namklun","Skypoe","OffBrandOreos","DragonMaster26","Hue_Sans","WayaBoy","ASFJerome1311","Mailo23","AshZwynn","RisenEzura","Cloud_Dash","silkieUK","thebigcnu","bikesuper","FireCrotchney","JMLCLL","___cat___","Panda_playzq","Good110","Single_Martyr_","CakeDaily","Shadow_mage951","Rupster009","Green_Kitsune400","DarkMask2111","LuvU4ever","SquidynessX","SebbLpXD","alexis60120kill","DolphinO_O","Denis_Brogniart_","Necronexe","notbazzz","shippeel","raen_qt"],"WC22":["mulldover","Seagazer","meowTOW","Arckzoflight","xPook","Xx_Pig_gamer_xX","Nyries47","SevenOuO","BlatroZ","ninihihi","Fazgenn","rslJonaas","ZeFate","_Angers_","LisaFunck","oSkyD_","GodCarp","Moe_block"],"WC23":["Collector001","EnanaSaiko","Senshoewall","cram46","pilmene1","ctas144","jaeddung","Mr_Maelstrom","Boebii","Toxic8anana","king482","AmbassadorDhark","Eisengolem302","box09876","ParsnipParsnip","theseaemperor","N3ght","VideoLattice240","M0rais14","HiGammer","Qustark","sanes541","Not_A_Neko","ShinyRacco","Magnet9","tae7716","Gaallaxi","polishiKONG","E1ian1","Koalaz_","JacenWren802","Mackoma","KarlosSCP","Xenon0_0b","fuzekli","Shizoids","Arm9nam_privet"],"WC24":["SpeedCat998","__B4C0N","vinemon","RokEm","Charontis","ImpostorMongus","5_29z","_PUDDING__","JeroMC","ByEmoTr_","Mayitham","vanduivenbode","IronHands","GiornoGiorvanna","_SioN_"],"WC25":["Pacmon","Young0718","LordiTeopi","Drie_Kleuren","Mi27Lite","UwUmenow","alonthegreat1300","Roostrex","The_Odysseus","Amizziko","BistBoy","Kiyan","Drynial","xByNilzz","RazeMen","geraltofbodrum","SPECTRE1350","Corona_Weedus","FreneticBoar534","trickr","MasterJosef","hexalotl","SupSub","AdanDors","_sagelicious_","BadFCA","Anonyamous","Afyedoh","R0bst3r","FHNTVRF22","Trendrik","Yuuumu","Aynalia"],"WC26":["uMakeMeSad","writesnowwolf","pswrstar715","_GAZ_MalegaMas","Applepig101","IndirectSleet23","SlapMeToSleep","odysseas18","_Layer_","YoovE","rise1256","_Evan_0820","natsuwoo","Galactic3","GFlavour","Kaphaen","LordLightSpeed","jjstin","Kokojakoko","Kar_ling","Zsolaplex001","love_seal","Dylinux","Scamazon","Gabrimous","_Chipla","AxolosG","oryol407","bee0511","DeathZoneKaishi","Goldenemerald65","oWonder_","firesome","Platypus_Pirat","Gladionus"],"WC27":["tinygrass827","vincentwong830","WhoDisLol","Yazzzzz","LordGoring","HKGamerNoob_2","AnotherRogus","sinonkawaii","ChocolateBiscut","Sub2I1","LexiGirl243","SmallerSnail","_Eeveelution_","NemoZa","Stella1038","LupinMiner"],"WC28":["kazitu1710","tonywup","Kenzek12345","FSmile","Sedyreph","GRYPHONHEART","Z3dRick","TrfAle","Mitchelhof","LambSauce101","IceTiger_05","SteinGaming","Blue_gaming_DK","mizztee99","ROGI888","8ZZh","SimonasLTU","ryousama1021","MeneerPinguin","Green_gamer_DK","Bobbet_the_pig","JAHS3H_0NFR0Y","Zatzou","NagatoIJN","domeh_","lolohes","Sir_Batman","Burton","HockeyPowers","guillem2009","Target_is_typing","Lukkero","Sacredfuel","Bladexdead133"],"WC29":["pvpgodx","Kamatachi","ImPocket_","KarateMasterOne","DementedBacca","AyusanBob","Gaming_Turtle__","ksan_04","cadyxx","MinYoongi","Atomic_Puffin","Blueswords","Telerr","PROJECTpig2007","MlyuL","xAlex_xz","ModernSoldier","Grimgrinnir","TalhahTheTurtle","SupremeTaco_","Jongpary","Z00mane","ShadowyLord","GaleFoxy","MaxxyMoo2012","JoshGamer2010"],"WC3":["WashioBB","protecc_rye","MrSohob","Nextlastend","kirri83","AliaS_Force","meyf","umaiwa","SaruV","KanozyOwO","Sl4zz","blanoir3298","hiro_shin","GamerHD0106","TheKofiX","SiKlOpC","CLOBXXL","xCrownx","CarrieChiou","FloorOfLava","Katile","mythic421","Shlyapaa","Dr_T_T","Perfekta0902","WMGameLive","TeleportMe","Dracsono","Asatti396","Alloy22","Skypedia","nothesinistrtype","SaltyKing","Dream96","Pvpmaster44","LordQualle","baliraptorr","MrRussetPotato","Twandhi","Aegleseeker","Sherias"],"WC30":["Vance568","MemTim","xBustYou","Doppish","CodGod","Oblit_eration","Apple___________","PrizmSnipe","Ezpeon","nick123987456","Hedgehog_Girl","KingCarlXVII","QueenElisabet","GlitterJullan","CebuPacific","LC_Clarence","ExtraLemonZest","bananazeinn"],"WC31":["NOMOREWORRY","TeaShii","bblueeye5","Maarcus1","itzMarkplayz","Vestfal","Rafy","FakeNutella","DotajeL","JuicetinOnion","eimisyt","Rayquazamortel","_Mimo","Roxas4846","Witzey","TanKirisuto","BruceVII","Catl","PyriteCactus","lartosk3010","Aryzzel","Don_glahgd128","HeartAFire","Hydrophase","Neum_Love_Subs","OGPaka","_Mindy","Rommel_","byJxn","Xanoxo","gdr313","BurningAspect","Albb_n","KosherBeef"],"WC32":["xMoinServusMoinx","KingClub","mmfmgmghggmgmffm","PakHong","ItzObama","BlockMaster_5","PlexPark","Hi_im_ZZ","Shertwartkidz","D8VYD","janos0001","NulzFranklin","TianShui_YiFang","SektorOdin","DediGoose","IceWarox","ACutePumpkin","link173","LuCoolUs","Ikno_","rairagemus","Domcsikusz","crimsson","snakelover78","FrixFox","xkumaman","XYLISA0w0","FridaKrok1","KeuBig","YamatoImmelmann","KarenGillan","Jamiryo35","SkyblockPixel"],"WC33":["Rabbit_Gaze","HappyBanana420","Keniye","Nitrogen7","kamilereon","sharanah","DinoRawrr","Koni75","TowerOfAscension","Katsuhira_Agata","C4LV1N_","CuzImTimer","imawwsum","Zekca","NotableOsprey92","NeonRider","SleeepingSheep","Borkyyy","pokefreak134562","xAllura","syang12002","SplaTunes","Puuug","Moshii","pPly","Albin","SugVon","Nayoline","Xypnovoid","Burstime","ezzath","IceyFox","FAZuH","FrankyPT","Miteku","LuwuNowo","Nieke","nHexanol","Omnivi","ChocoLot","Caiowi"],"WC34":["TehNelston","hatena_tyan","MrGamerFoxy","toebeanpizzaguy","Mael","Kaizookuu","kiatgbi","Masteroverlords","season_cat","__BadName","01zys","AngelTheNeko","EchoHD_","jamster_roks","Wenho_","Rockbay","danielc4444","Stoopid_Dog","MarkusBoBus2","Sivrel_","Flitgay","VoidBraykr","combat_dragon","futuretom13","MrSnupe","Bl1k","DumbBum1926","Ikeapojken123","AzNat","Slvrp","AcMongTheSleep","Night_Owl10"],"WC35":["LaMDaKiS","ChaosIsHerez","kinghenry790","Birkbork","McNinjaaaa","OneLazyPanda","RU5_4III","BS_Wendy","Kick_23","FrledPotat0","AmaZingYew","k4n1v4n","PesoWeisi","xLisa204","the_jevry","SomeDuckingDuck","LucShi","OG_Sans","TheMinShi","WokSolid213","WT_TU","XHayabusa1125X","Infinius","zMrX","alfredchi","Harrison7209","drvnkdoctor","Errttetronn","Fadopastor","i112","fumiiiiiiin","Jianuru","SuchyJan","SkitVenom_"],"WC4":["Metzav","Errty","Moonie","scudr","AlexDaFlames","Frxstybeast","tmw02","adairh","fei_stone_God","_Charlottez","MrsFrida","CecileBleats","MarkusYantony","CorneilusFboots","Raitou_","Kingpablox_"],"WC5":["KIRIshimaMarina","Charararu","alanx0401","toothly","mochi96336","RomaProff","istvanroli","Itzz_Kat_HUN","Mjolnir_01","PuchongBoy","Starle_TW","xXLeqit_VincXx","Blackwolfoderso","Wyther_","KitoHiyoki","bf_lim","Rinkael","OneMenacingBoi","hammydude","N1unar","TheRealSaplingS","I_Am_Stoeptegel","Item135","Captain_Barklez","davie123dx","HoJai_","WWOOKKEE","R0nkiel","Lanolu","Suicidal_Rose","Stupidino","Bogtnt64","mike_HUN","Sasong"],"WC6":["Crazy_potato11","Hitsuji_0504","fan_doga","spnl","Ph8enix","IShadowD13I","ksa_jacks","VonVarlight","0lz","6_Sneak_9","skinnysausages","CaptainB1ue","RubyTheAvali","rdhfh4756","Yuyukey","joha3949","Vortex917","Lacrosseboss15","Bearfacedsoup62","spangebob","sasmester12","Carlo_C","viggoasna","Caramel_Frappe","Errkk_Skyseer","iSoosie","Kornel6","TearAvi","destroyer98076","lovever","Jaack_BS","Veert","FlashxPoint"],"WC7":[],"WC8":["Kohelik_","HackerXXXdeshnik","Silvel_","ZXsrh","iMLiTw","syntaxerror307","Tiger5er","HellFiredAssasin","kousn1029","CodyLikesBoys","Plompa","PlateSmasher69","A_rabbit_UWU","Jirayut","NekoQnQ","Tumsedo","D1uLaSing","Bienko","taesunsong","random4ikov","FiveDarraEggRoll","tomala21","RawerBread","zi__jun","KaktuszSok","AABatteries_","oya","JSEpic","Katonica","Rajtek","cookieman205702","CiotusPospolitus"],"WC9":["nerdynerdz","OK_WOW","ufficiale","Mamoet","FlyGamingF","Rikumaru","RIPTIL","J1sooyaaa","Mamogo","Akuagon_","dhcy"],"YT":[]}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/RaikoKami/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/RaikoKami/stats","code":200,"timestamp":1628591593983,"version":"2.1.0","data":[{"username":"RaikoKami","uuid":"2371ff3a-c0f7-43a3-8313-b6874b15e4cc","rank":"Player","meta":{"firstJoin":"2017-11-27T07:49:01.405Z","lastJoin":"2021-08-10T10:32:25.645Z","location":{"online":true,"server":"WC1"},"playtime":721,"tag":{"display":true,"value":null},"veteran":false},"classes":[{"name":"assassin1","level":88,"dungeons":{"completed":10,"list":[{"name":"Decrepit
        Sewers","completed":3},{"name":"Infested Pit","completed":1},{"name":"Underworld
        Crypt","completed":5},{"name":"Lost Sanctuary","completed":1}]},"raids":{"completed":0,"list":[]},"quests":{"completed":21,"list":["Underice","Fate
        of the Fallen","Star Thief","WynnExcavation Site A","A Sandy Scandal","Craftmas
        Chaos","Lost Tower","The Dark Descent","Studying the Corrupt","Maltic''s Well","Mini-Quest
        - Slay Mooshrooms","Arachnids'' Ascent","Stable Story","Underwater","Tunnel
        Trouble","The Sewers of Ragni","Infested Plants","Mini-Quest - Slay Spiders","King''s
        Recruit","Mini-Quest - Gather Copper","Mini-Quest - Gather Gudgeon"]},"itemsIdentified":0,"mobsKilled":6441,"pvp":{"kills":0,"deaths":0},"chestsFound":216,"blocksWalked":66138004,"logins":34,"deaths":32,"playtime":380,"gamemode":{"craftsman":false,"hardcore":false,"ironman":false,"hunted":false},"skills":{"strength":16,"dexterity":18,"intelligence":19,"defence":17,"defense":17,"agility":20},"professions":{"alchemism":{"level":1,"xp":0},"armouring":{"level":1,"xp":0},"combat":{"level":46,"xp":35.1},"cooking":{"level":1,"xp":0},"farming":{"level":1,"xp":0},"fishing":{"level":16,"xp":23.4},"jeweling":{"level":4,"xp":41.3},"mining":{"level":23,"xp":3.2},"scribing":{"level":1,"xp":0},"tailoring":{"level":1,"xp":0},"weaponsmithing":{"level":1,"xp":66.6},"woodcutting":{"level":3,"xp":14.5},"woodworking":{"level":1,"xp":0}},"discoveries":287,"eventsWon":0,"preEconomyUpdate":false},{"name":"archer1","level":59,"dungeons":{"completed":1,"list":[{"name":"Decrepit
        Sewers","completed":1}]},"raids":{"completed":0,"list":[]},"quests":{"completed":19,"list":["Arachnids''
        Ascent","Stable Story","Elemental Exercise","Mushroom Man","Underwater","Tunnel
        Trouble","The Sewers of Ragni","Infested Plants","Mini-Quest - Slay Spiders","Cook
        Assistant","Poisoning the Pest","King''s Recruit","Enzan''s Brother","Mini-Quest
        - Gather Wheat","Mini-Q[...]
