interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1628452552,"version":1.2},"WC1":["Superman8900","Maarcus1","Nevilleperson","Panguin123","Skidooskei","Vestfal","CombatXPBomb","KawaiiKahbe","Maarcus2","Bombernd","chiefkeefssosa","Mobyyyy","a_random_cat","19kss","Weskosp","Dark_Yokai","xSuper__Jx","TeleportMe","JuniorSupreme","soned","Julinho","Maarcus","hadnew","Boujijjkku","Mr_Memer","AyoItsLeoo","DarkNovy","Listen2TheVoices","Nikelz_","Teleboom","Lord2014","NotRiasa","awaWaterrrr","KhanhMai","PeggyBlazek"],"WC10":["The_Food_Item","ThorTheLegend","HeartAFire","Lead_2_Gold","ARandomAsian6969","Papitoexclusivo","Vukh","cap_lys","Lisagna_","xZelux","craftinggenius10","Kriptex1337","CarsonAcademy","NeatlyCrafted11","smizzlle","EcSebbe","ARockEater","ArtheonLePelo","1mb0","xAlex_xz","Drewe","Lusaum","7n2y","Beabu5","TreeRexxx","MarleyWizard1","Haloboy088","Meltoria666","TechnoUltimateMC","aydragonytbfr","AblazeMite","MyNameIsJos","Draco21"],"WC11":["LibbyClaW","Cattusthedino","Koftie","Blackout_RL","Ib_s","Spacebot037","MrAwesomesauce01","goet1472","WebCutter64","7Michael8","Blackshadow545","milchshake45","THAFES_Crew","FuriousBadger80","AW350ME","LegendaryBat6","Zephyr_rs","DodgeKaas","CLOBXXL","Kirbo2007","Feast_and_famine","Epic5computer91","mimik2283","axijon","Luxembear","WegiboardUwU","Suanjiangmian","stukvlees","commando045","Mi_Angelic","Vyyrus","Caytemo","nirnir"],"WC12":["TastyMango1722","MrLund","PolarBear2002","KUATB","CaptainDylpickle","VariableBeet680","unrealphantom","Borgar_King","BlueDrew_","XxChaelixX","WateryMayonnaise","Waveworn84","YoovE","sgtforge2000","Rugu_Rene","ibu_u","_ReyFuego_","Jymba98","DragonSpider6","Papageikordel02","Blackwidowl","ZakGhost","WAR_LORD_FRANK","Apecteia","TheL4st","latexio","Marrryy","T307","Silverw0lph","Tylerg67","xSuper_Jx","Suhzie"],"WC13":["Metalkyogre","FT3","Pn3uM0n1c","GamerRaid","Ikeapojken123","Jason_Dean1","IsAnOstrich","Bucko_John","mrCATatomic300YT","SaldFjjHalsDj","FlammeZitrone","lord_ciasteczko","Sokinha","_Justo_","ViniLeati","ARandom_NPC","NickTheDino1","McZorro","55555555555","grumpy2much","ANOOFF_","Majo30","energienoire","Turkse_Slipper","TSK2223","DwergKaas","SoupStore","CharlieZ01","steferyang","killbrovo222","deep_699","HotLegs27","TovahBoy","luckystar2006","Aryaaan","Nello495","MallowArgon","SkullFront35","Odin_10"],"WC14":["karaad46","pomata","MrOllie200","pat_crafter07","ba12a1","SuchyJan","Lukorius223","Aleksander299","Boru_Var_MI","TinCan09","Kodieee","AmyGotSimps","YeaImBad","cavo_","AmStuffz","mboone124","Viper319","walker5111","Mash36","Bennyboo0978","MineLauraN","Emenem2011","WokSolid213","stickedystick","OneMenacingBoi","polishiKONG","ThickNich","DerpiXDerp","NinjasWithGuns","Cow_XD","Kirby8504","Xernial","Herator","InsaneLlama0032"],"WC15":["Sheemon200","Markus789","gombhal1","Ankajoule","Mjolnir_01","ethachu25","Worldgenerator","Andormu","Postak1211","ElrubaXY","PugMaster209","iFlezy","KouKouChiao","master_of_fire","omwolette","OwO_Kito","ARandommPerson","ElectricLemonade","Lentse","Yamasza","gamekiller23","LadyRen13","AnzimalsAnimals","dutchminer2011","w1nd0w8re4ker","Cyphisonia","Mikl3","pondude678","Palebreadpainter","theseaemperor","Hisiste","Unamanca","ZanderbkpV2","kast01","AVoidVendetta","Corona_Weedus","iBug","SignatureFail","strivver","WijnandZ"],"WC16":["alarc8","HappiLoki","Vinnie64","MarkMcGuire","Dextruax","56TR","annkirstine","chezxx","Lilyth42","Millo25","Crashtendo","Pengy2552","KADskeleton","Tetraphobe","BobbyBlobs","DomixCZE","Wices","Nyluth","MajsterShadow","letmeknow","PorplBoi","DementedBacca","xDiddz","Firal","Rodin0","givly","Inforno","MINECRAFTDOG716"],"WC17":["oJqck","Linako","onn1z","Demangevil","DemetriDemarcus","JerryStuffRo","Lugitaro","_Necrosis","huyming","hlepmeh","WickedestMist","DishonestRain","staufers18","AgentHigh5","_Rebal_","SystemAttack","Felix201b2","sweeeeeeeeeeeeem","wt6","Kreator_21","TheDank0r","Monkey1223","BeaMiller_","RedKnight93222","SmokeDiscord","Arcturisus","Lavender_Cloud","JigglyMajs","racconkatun","GameMaster696","JacenWren802","Usernameprogame","lonely030","AlvaroRogers","diimitri12"],"WC18":["CatboyNatsume","Shuuhic","Hitsuji_0504","Electrofunk","Mantheniel1575","pufferfish21500","Enuhme","BulbChan","OmegaCKL","Wither14","Eva52044","Drie_Kleuren","Akaitu","_lord_hades","Queen_Gooby","KosMiu","Patrickgaming110","IshiLilly","cbmh5","Keldorn","SpikyParka560","stier_17","V4s4","Renios","SPECTRE1350","Lefatboy1","king1milo","XPMMX","Rafailka","SLKM4R10","sixboombah","MrBanePL_","Astrozcypher","siegfried55b","TalionFloyd","Minioneklol","Phoooon","Lanseloh"],"WC19":["FlameSupernova","Kylistar1","Jartov","Tommy750","Kurzad","Nethered","The_Gold_Bunny","RandomDude9037","USlimeTV","JAHS3H_0NFR0Y","BlitzBlaze123","SpamHeloDerWahre","ZiggsyB","budboo11","AAR360","Kursable","Kayatou","VorteX_TerRa","TF_AndreasB24","FU_Sasori21","Kittenmeow1590","Captain_Polar","NebbdyretPerry1","dj_ureo","sabotasje","Simbahart11","MarstaVidar","bb_blu","emitrius","pengobrine","Toghrahkunok","Haruto6088","Sasi11","noletgo"],"WC20":["bramblefox10","blaxkstormy","Gyuuki_","LordLightSpeed","FateDussy","PsychoticCrimson","shirouss","Turbulentt","HeyItsCecilia","Epper","shippeel","Shadow_Starnite","Mark888k","Eswaff","butterapplekid","The_Zorgonian","_Evoker_","Joshmc_","Gamerforthewin","reiusagi","Fiddiecent","L0RDV0RT3X","Packaging","BigOlTroll","Reality_Dalton","M_o_o_2","BombermannSklave","darkisaac25","heliuszek","GoSkyHigh","Duck_Empire","HardcoreChan","KnotAnOwl","sjomp"],"WC21":["Chiciboy","Demonic_Reaper13","Ailuj_","Su3ht_Asuna","Nikoni","Capelinha","Karenberge","WinZZed","BigLumps","_yvqi","Galaxia_Ardenna","ShinyKyogre789","Theflyingyoyo","GeeebleHead","DragonKingDan","DesignerAxel","Villainous2","Creepz13","sickofthis","AsianGeography","RimuruLul","GoulashHarry","Crime4810","AnoniCat103","sickofall","shutupmatsuda","Wasverzachter"],"WC22":["Mini_Mumbo","rslJonaas","chronlx","Manfred_Blasser","iN_1","Alchumyst","Kyrollaecia","Schwitzendes","IceColdSprite","Merited2k","JupiterLucatious","ThePepinaco","InfinitySunset","Gumbear","Kewbin","SpamLMB","CwamCTQ","FemboyNeko","RisenEzura","emhan03","Gummy56","flavia34","2Doggs","Aponchi","_DiRoL__","NecronHandlee","Zekca","NOMOREWORRY","AdventurerPat","bcreeper2002","Deenosour","WoodCreature","Temporum","Arqito","_juliqn","__BadName","Gynocolo","PeachySunset"],"WC23":["WDM_YT","Dezedz","Katonica","AnalnyyBur228","Mingigi","Mr_Penguini2","TerminalTwo","CuzImTimer","DeathZoneKaishi","SpeedyA","bga8864","RelXis","imperathor02","DarkraiNightmqre","HactTB","Koni75","Mehku","Zinnig","Mesyder","SleeepingSheep","EchoHD_","xElaborate","JasonLuigi","TrilogyXO","LaMDaKiS","MaksimRim","xxAim","Nitrogen7","c0b_","xLisa204","Synsey","IkMagJouNiet","Extixc","TheTrueMVP"],"WC24":["KreoShow","Cal_and_Ben","KingCarlXVII","QueenElisabet","NimbusFluffySock","frankensteinsmum","SerMartyn","Judge97","obfusticated","Notchy002","Alteirux","jhil","IsHayden","Hunter_Flira","chickenbanger69","SenseMCM","Fluxw","creeptor","JadeScythia","guillem2009","GMichaelito","VileFroge","BeholdtheWizard","Win_storm","LaxArre","ColorMatic649","Chugada","Rqsst","StormDracyan","Essentuan","OddFrost","Gamesskiller","Naikhu","Yarth_","run3sc4p3god","_sneeze","Spitefuldecay"],"WC25":["Dracsono","ShadowFangz","Gio_Csp","sharanah","XDD_Hero","Infaze","Tykin","FuriousliamYT","Perago_","xDwagon","ChristmasTree_","Punch1000","Zailer43","lowfatmilq","sokosQQ","Dkcy","pure_flame","Thiquele","LootBomb","Siram22","underlein","eTeRnitySs","isca10","Monahru_","JaxTheLegend","fishin_rod","_DeltaWave","MagicMistake","Feueristic","Costep","aPatoo","aasd24","Poyia","Zadashi","Kalsang","_Mimo","Thamigo","Tingcraf"],"WC26":["Neutrao","Im27","BendixMa","PokeMind","nezerto","FSmile","CreeperKnuckles","AadneMonkey","On2Pat","Nate485","pepsiup","7up777","Reymx","JangBanano","tqngo","Blegar1","WarMedic","q_not","IAmAlyahs","Ikasy_","LibsyBitsy","_nuv_","sakurai_san","Little_Nut_Meg","Adampossibly","Diarigar","Mattchel","FacelessVagrant","Ricochet_high","Duo_Live","Wizard_ice","Qustark","nubrit"],"WC27":["Jqkeup","Le_Kazumi","Zek_Ought","YummyFries","Boebii","MaxwellTheDoge","MelonenBaumMann","Legendan","xaqar","TheKitten349","IzzyHasNoLife","keshishian","PaperCranes","xXStardust353Xx","JGamerBoy","Turtle_goesQuack","JacketMan076","monkeykapaa","Cawalls_Deep","ohYeti","Nuiram","Athshie","SleepyChase","ceasar0415","ALonelyCookie","szuperabel","powderninja1","_logarithm","NATASHA_SOSALINA","Carbonkel","BlockyNation"],"WC28":["Wabzy","WolfClaw22","strikeflame5356","Aazlyn","TooxLife","MechMich","Mardeknius","Sleighter","ArneDC","FrachDev_","canines","KingExcalibur","Miniki","weihzoo","Tuldri","_Phina","ShrewManChew","FrozenYogurt1779","JanikGaming","bubusean21","Filip321PL","Shinichin","Mr_Fourmula","Pickler_Gods","Airdoggo","_Fidubu","knightof2","Awsim_","Jeiiedyy","xCoolDown","davie123dx"],"WC29":["PhantomReindeerX","Duckfood","Prretzel","Qimoyo","pixelgirl__","Popokou","The_Angelo_999","_LunaANight_","samakmdksj","TheGreatFawful","BobbycatB","amandog","piggy99","Demondew","Heyoth","Kamatachi","ExtinctBeast","Led","NightFire_PL","MrDuckie_","AnonymousAcid","Gamatoto","MeowserX","Rin_23","Quef64"],"WC30":["YuriDaFurry","Mitsurigi_Gaming","InfinitPLEX","mmfmgmghggmgmffm","MaggaFromDaHOOD","Sir_Fish_","VHoltz_","Doctor_Pindsvin","mybluestone_3","mybluestone","RevisionLight","Mirakoru","g17fcH_3D","ElementalWaters","Good110","Ngololeplusbo","minuuus","Amizziko","xegemini","SaintEnder","wowoJH","Ninanas","Erivis","BonelessFree","Wizzsuu","Ageotori","NinjaEraser","QM_D","dorkathon","tunneldigger2012","robb216","Invincitron2000","R3CE","Konradensator","TruePex"],"WC31":["Keenaai","SolyTerre_","NairodP1998","Sir_Grumman","SentryPickle","toothly","_testresults","eldritchdeer","danmckechnie","GarnetMaster009","SomeDuckingDuck","nrgsync","Parih","VeryGh0st","maorKG","xMoinServusMoinx","Ilikebeef47","Mimo96","pekkapost","Mizumiteamcochon","origg18","obasilio","xTheKillerPTx","_Valkiely","GhostV3n","Smabbs","Draggon_Roll","andlap02","Cigghi"],"WC32":["Errttetronn","RussetMantle","LuCoolUs","Swiged","Ooglely","mop_mc","NOMASAN","Passiflourist","CE_Cute_toast","KimmiPlayz","moonlghtfalls","ItsCake_","Ab0t","duckyucky","na2ve","KalaBot","___Gonzo___","TobieGamer","SamH3X","uwuzain","Liyumi","Gamer_Soup","Xioniar","Elsweyr","KrakenSkulls_TTV","deereste","AlphaDarkblood","_Sam629","q____","Eliux","DuckieSweat","Im_Sammy","Jorts","Amishmoistyman","sac11221"],"WC33":["E1ian1","Bairit","SophieScott10","TH_Davee","GamerGodTasim","crturtle","Awesome_Daniel","MrRickroll","iMauriceiNoob","iSniper1010","GamerHD0106","SnowyBirds","olehuco","Quadruple_A","splashs","Feeely","Necco99","Elt","PPsychonaut","TOMATEN_GOD","HalfN0ob","IAmReal69","yellowcat462","AkDragonFire","TowerOfAscension","Bearfacedsoup62","valeblumi","Reosa","morgiboo","Sarkaz_W","Mizef","TRIIILOGY","hotsoup2420"],"WC34":["Elint","Lavieth","Macro_Eric","Scalameter","wenge926","riceinthesink","xJTD","camaga","AlphaWolf5334","NovtheKidBF","SleepyDylan","Kazuha___","Salice0","Ledz01","Shelly_qq","LunarVortex","AAAAAAAAAAAspire","XxOliverDragonxX","BrTom","FloweryBoar89","PoulKwit","TheCrazyChemist","ProBlazeX","NOOBSTER980","oxih","bigduckinREAL","L4ryHD","Frankiestein_18","Doraki","Sentrixlazor","Torje18","Auvemos","Toxiqly","NekXus","Cat_Vaper"],"WC35":["QMic","BlockMaster_5","I_Love_Adderall","PokemonGamer11","WeaponMerchant","iMxrk","Frankiez","imawwsum","ASFJerome1311","SquidynessX","Poweff","DogDimension","Kroko_fant","yuuenchi2","Aqualost","BurningAspect","U_YU","Whats_Sigma","Lizsy","VireVeonix","Tsuro","kenlit","skweez","AngelTheNeko","ShamanOnly","DJBillGates23","zPapacoBR","HuanFeng_","Snerp","romvig1","DJBillGates21","RU5_4III","Minejayro","NotMatar","nikyang","CodWafer","junglecat37","DeoAtlas_","Archektel"],"WC36":["Keniye","TheseDarkPlaces","Jevandu22_","Testero","WitherWings13","Seagazer","FutaFan","torniado","Z00mane","vihb25","dolfinmaster","Kerzzi","Huzuke","dohie","LeoAlpat","FateSpoiled","Tine5","Amelia1405","Julia1324","DemoplayzAN","chaosdigger656","SpeedyRequiem","Goahult_","Soltar_","xCieJe520x","JadenRagnarok","TheWitch3r","epickcpoloyolo","Rockbay","Milvantiou","soofy","Bluuurpeh","Vlri","smysk","Cloud_Dash"],"WC37":["CodGod","HAM3UR9ER","_ShiroNeko_","a29246353","DeadlyGoose_","Lesefin","alfredchi","buffle_bird","Relical","SnekyAzian","squddyX2","Thraiya","KaozTheMan","HoneyRedRose","BadLife_LY","Pabunga","Omega5454","PianoSam999","JustinBreadoux","BruceVII","Iamsummerxii","FeyZor","Alche_Master","Scypham","Esuhei","__Chunchunmaru_","ModernSoldier","HaliCsabi","Snakev3nom","Hotzings","XNellaplaysX","Acepexx","Cometik","Democratics","Rowley___"],"WC38":["HeroicGamer121","CramCTQ","DerpNoobik","Chris2K21","Dragon353","REALhalfdragon","J2theboss","ICAROS7","pokefreak134562","Ezz_UltimateRayM","Savanah__","Freddie_Hg_39","Hypxrbolies","Len_Uchiha","ImPocket_","DomeVR_","FakeNutella","DK_HowU","give_me_your_gf","Jam3s775","lils0da","Yoctoboy","Cosmostle","Lifewing16","Kiyan","Odiibe","maxSchottenfeld","C00daphi","schuffrich","X_Hypermess_X","creeperowman","Minkali","jamescycki","Rocxes"],"WC39":["SonnyVA","Henrique_PTA","eif","Skiewie123","Skypedia","KyriosSK","ArchoKast","Sire_Maou","Soxar","Doggy_W00F","p4gu","MntRunner","theniels17","kungkreeper","Derpicorns","ixixo","StardustHaya","ArrozconCarne5","Reptain94","enderman01000","Hedghog101","kwildspirit","Aratorg","anonexistentname","0verflux","moomoo141001","MekiOh","Voltricity","Mikewaye7","Anwolf","XDyl4n","RedBull_x","Aeora01","DSUnita"],"WC4":["Paynike_TV","Egan0","SeanThomas2","LegitMotte","Godila","Lechizu","_WeissKatze_","prat2008","ReplenishCultiva","Frxstybeast","PK2006","_olivia_749699","lethalle4fy","EzzStrafe","ExplorMagiSword","Smhxd","Starbird41","kebloom","kbloomqu","IceyFox","NeQuer","IetsCools","_K1r1n_","SubVe","tucnel12","xsads","Drejxend","haridadee","PicklesThePig","DynamicGatorboy","Korakul","DAEJ","GrandpaLee","KittySenpai","Mayzees","OmarAlGhamdi","Mattzh","Dream96"],"WC41":["Boonabou","Virgil1423","Miiracle9","FireWizard123","FlufoTurtleGamez","Basti_chan","P4ndai","RandomOtaku","__camo_","wagabobo","ppfart","Cortercia","LegendaryGoo","DIIE123","lucinaq","xXmirechekXx","ByTobexx","mateus1226","Lambex333","Nils_exe","xXmathysekXx","ModernRedAlpaca","xXmarechekXx","Xperience29","x2informal","twinkletackle","tomjerry92"],"WC42":["GhostWolf_999","Wikwocket","MultipleMoo","Yeright","okamichika","Fire_Cristale","MikePOG","rslKuroo","rslYuki","rslLxme","GWL999","Toninho_Lombada","AtomosXIII","PotatoSlayer9001","Zaphkyr","Leonhart_Arkada","Xarcane_TN","LillaNyckelpiga","Customzuez29","Nightdara","Ducks_arms","JQSHEY","MeowMaster099","PjPandas","rntry","tostadora","Poule_grille","UsuarioDeDanone","Catra_Verd","AvaPrice21"],"WC43":["LifeGivezULemonz","BIGJOHN434","Godzillapokemon","MrHeroPerson","LittletheDragon","Lord_He1mchen","AsHaF_YaBro","Fishnets","StorableOx17087","BopukaGaming","Cedi01","Maximoxi_","HeirofHope3016","Vantawhite","XrymaxX","DerpySquid16","zvlk","Quarterstaff_","Hollyrocketster","Derpypanda10","derpysheep13","Steelnesss","Zverko99","Santi_cacerola","Mynee","Abdulkhalig","ProfessorPsyduck","MeDI0","Noctaos","chassy","LunaFang","1qw3e2asd","PanderMoon","Mathev","Pancake_Panda8","S4LT_S33R","FelpizSzS","_TReeXeRPLay","Addicted2UTubers","cchyphon","Sheepn"],"WC44":["FishInTheKitchen","Sophfuss","CABlueBird","Mala_Br","JaBk4_","xByNilzz","Bojidar4o123","byPriiime","LYN_Damon","Lateguy","sonic_willboop_u","PeteThorton","_0Firestar0_","wholg","Kreothaz","IronHands","CocoKittyX","DarkFK","HomelessMarker","blackdeath54321","rDante","sebcd","IEnjoyFemales","gdr313","DaikiKiiro","Psychotrauma","Tan2050","MightyJuiceBox","Kingalex100","TTTTANK","nagyattila09","FireHeart27","newracket"],"WC45":["Riiff","maxi_king_alta","Marytone","HiraganaL","NekoQnQ","Tetranomical","Japhes","5ugar_","discarrotonfire","Dream_chum","SiKlOpC","So_Eiji","dabalam_squad","hqneybearx","Acrylixical","PrinceGhost","Thing500","robicutzu","Astoelle","TITISCUKER69","MilkeeW","JohnKoiLung","Funumunuh","I_Am_Stoeptegel","WynnChairman","Jeremylord","ImAngry_","Clikign"],"WC46":["8ZZh","dungeon_raided","highrescucumber","_TurtleBasket_","CasioDragon","Kokyunage","Mikdarzhi","SuperCoomer","ToM_7w7","P0GFrog","Troll1_HD","Tibcsi06","Harrison7209","Luthercat","ekgame","llDantell","XGMaddox","Lambofan007","Firewolf811wolf","zorogostosao","SleepyMudkipz","LD_DolphinMan","Franzby","_AidenMarax_","AngelTm_","casper_2006","BadPlayer26969","Kuimii","Qlew","JustDr3am","Alfra_"],"WC47":["staruhgg","IzPat","FrozenEarth","BypassLunar","TheGh0sT300","Flagme","Piouf555","Buniverse","Tho_Mc","Letherea","heyimEli_","stand0","DungeonBee","Wafflez1324","Hechey","MonkeyKing100","Spexys_wifey","BoundlessSea","Yodah2013","AlenPro56","OldManSyko","BleepBloops","Repainting","Dopeul","FluffyDragon2010","MagmaCxbe","Triactic","Marco_XD2000","Onion_is_idot","Spadestiel","Wolf_Magic2005","jennseb"],"WC48":["DJKitty998","Nikpol11","Master_Slippery","AgarosD","Nelsbah","AncientIroh","adishpan","Pepijnbe","WorldOfWozard","Corptain","YourLocalTree","Rocket_Racer","HeroHanex","bartwk","f1uffyCat13","LaserDarkLord","Erwin1256","TheEvilKitchen","JULIANMAD16","Crazy_potato11","HorseOnly","Shobez","kamilord248","TrTgbfg","5tyxie","LouSaynus","Lucky32","jj136975","FuzzyCactig","Lukalarav","Aether_Star","GoldSkin777"],"WC49":["Colegar","Haizzz","yoskai","O_Roxinho","Bezwstydnik","Sunulok","dwinklewort","Beepbopheadpop","Richard8778","SorenQT","Wyrmhero","Darsilen","Japaner1234","Katmaryuu","StrangerDawn","JBlueBits","patrick7878","Penguins76","OccultAngle119","BiscuitAvenger","GiantWolf","Lilbreadstick","Zozo529","yellowpuffer","7Cab","tigaacult","dark_devin","Lubecki","CunuNyis","KingCurl","Purpuk","Slobbadog","Skwibble"],"WC5":["iPrah_","mwur","Atraxica_MC","Benestroyer","_Nostal","Zathalis","TheEternalClock","Rainflight","Sakespear","eddie1101","ThomasMC_","mike_HUN","CaptainWalrus6","GreenStoneGecko","PonkleYuh","WeNeedDIAMOND","WestWind3","AgentPsycho","WanPunch","GenrousBooch","MaruskaK","Gppagui","tukorama","trickr","Ewtepak","Mwtt","dopplebanger","UnknownReturn","R4menNoodl3s","Baken","SrHaze","Bad_Bad","PhantomKidM","Jgiggity","artmast","Purprated","MoxieMojo10"],"WC50":["MalarzPL","SwimmableGuide9","GTosa","hahatnt","Turkmenistan","SylvuhSLY","Ari3t","bababadguy1616","Alduris","peekha","Hirdik","Raycifer","Zilevola","ForceMaster88","OhAnny","superdragontamer","weqzkrr","Zefs","Mr_Watermelon7","church174","Man_Of_Trains","xGamerYoshix","Madmaxito1027","RaveTheWave","BotHaiKala","curiousrcf","Deekai","Martiningrad","H20_oreo","TheNewN00B","Dubs1","Nieke","LuwuNowo"],"WC51":["Mio_Lio","Webzar","LadyLiadrinn","Rinkael","EluxET","Noke_","Dac_Farren","A_Canadian9510","IImDash","Yeafy","rxd4stop","Gibberner","_Marz1pan","_greenTNT_","pvpgodx","Wenho_","Jaajer","Boi_Blue","D0gg3d","SAM2306","LegolasTV","SweetyTreaty","Lukkero","Shizoids","DemonHD","WolfBirch","spnl","BadFCA","Zakronit","2fyrious","Vyrrex","ChippysDog","phatal22","kill56erb5ee","veszmate","KoviPeti"],"WC6":["ginbestboy","Voxaire","GobiAzimiya","Rudium","MagieWald","NoSHwK","ZentLGaming","RobbieRawr","xWaazes_","Handsome3Nine","ramenmcdonald","sin90equals1","people_gaming","Virvash","mini_mamo","JJ8128","NI3ZN4J0MY","Pieoneer","MemTim","Tomki1","R0T0N","0287","Wheenchrue","9Ljuki6","potatobleh","BoroAngus65","N2VIC","oystercardlover","Zatzou","bloodmage21","bulu2neny","ChayYay"],"WC8":["_PUDDING__","Hwrxk","prada_paul","F4lse","lmnv","MrRylixPro","joshingbox","Borgarius","Alkalosis","_Ir0nDem0n_","MrMaxBun","SickAsHawk","Charmira","notynote","geradeaus007","Jamiryo35","NesquickScoper","Frozenman","Mythicized","Dased","Mrj002","Leqito","pPly","bikesuper","AJtime0857","Lucecillas","koba142"],"WC9":["AlasKill","Lapjeskatje","Prechan123","Sagrad","kinkiko","frogao","jeremywaldron","Xx_Pig_gamer_xX","LightShadow_live","Raimea_","Teapot9001","gaaryfan1","Nomadixc","JonasZeroTwo","TheCreeperCow","calgel5000","kaikn","Qrxa","Vonwary","Rub3n_0_o","Chrisboy04","UwUmenow","Huty42","BebruDarbu","Aezuh","kenpachi1113","Phinx","Thaallen","tangwyllt","TwilightPyro","therealajl","Gorchard","Goldenthrone65"],"YT":[]}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
