interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/search/sprite/&id%3C449%3E
  response:
    body:
      string: '{"kind":"wynncraft/ingredient/search/sprite/&id<449>","code":200,"timestamp":1669923764870,"version":"2.1.0","data":[{"name":"Accursed
        Effigy","tier":2,"level":76,"skills":["ARMOURING","TAILORING"],"sprite":{"id":449,"damage":0},"identifications":{"MANASTEAL":{"minimum":4,"maximum":4},"FIREDAMAGEBONUS":{"minimum":8,"maximum":14},"SPEED":{"minimum":-12,"maximum":-10}},"itemOnlyIDs":{"durabilityModifier":-87,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":15,"agilityRequirement":0},"consumableOnlyIDs":{"duration":0,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}}]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '156'
      RateLimit-Reset:
      - '16'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/ingredient/search/sprite/&id%3C449%3E
version: 1
