interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsSearch&search=MrBartusekXD
  response:
    body:
      string: '{"guilds":[],"players":["MrBartusekXD"],"search":"mrbartusekxd","request":{"timestamp":1629227891,"version":1}}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '138'
      ratelimit-reset:
      - '49'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=statsSearch&search=MrBartusekXD
version: 1
