interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=itemDB&category=necklace
  response:
    body:
      string: "{\"items\":[{\"name\":\"Durum's Serenity\",\"tier\":\"Legendary\",\"accessoryType\":\"Necklace\",\"set\":null,\"restrictions\":\"Untradable\",\"material\":\"259:20\",\"dropType\":\"never\",\"addedLore\":\"Carried
        by the Durum Protector, this small necklace holds but an ounce of the vibrance
        and life of the Durum Isles.\",\"sockets\":0,\"health\":30,\"earthDefense\":7,\"thunderDefense\":0,\"waterDefense\":7,\"fireDefense\":0,\"airDefense\":0,\"level\":25,\"quest\":null,\"classRequirement\":null,\"strength\":5,\"dexterity\":0,\"intelligence\":10,\"defense\":0,\"agility\":0,\"strengthPoints\":5,\"dexterityPoints\":0,\"intelligencePoints\":7,\"defensePoints\":0,\"agilityPoints\":0,\"damageBonus\":0,\"damageBonusRaw\":0,\"spellDamage\":0,\"spellDamageRaw\":0,\"rainbowSpellDamageRaw\":0,\"healthRegen\":0,\"healthRegenRaw\":0,\"healthBonus\":0,\"poison\":0,\"lifeSteal\":0,\"manaRegen\":0,\"manaSteal\":0,\"spellCostPct1\":0,\"spellCostRaw1\":0,\"spellCostPct2\":0,\"spellCostRaw2\":0,\"spellCostPct3\":0,\"spellCostRaw3\":0,\"spellCostPct4\":0,\"spellCostRaw4\":0,\"thorns\":0,\"reflection\":0,\"attackSpeedBonus\":0,\"speed\":0,\"exploding\":0,\"soulPoints\":12,\"sprint\":0,\"sprintRegen\":0,\"jumpHeight\":0,\"xpBonus\":10,\"lootBonus\":0,\"lootQuality\":0,\"emeraldStealing\":0,\"gatherXpBonus\":0,\"gatherSpeed\":0,\"bonusEarthDamage\":0,\"bonusThunderDamage\":0,\"bonusWaterDamage\":0,\"bonusFireDamage\":0,\"bonusAirDamage\":0,\"bonusEarthDefense\":0,\"bonusThunderDefense\":0,\"bonusWaterDefense\":0,\"bonusFireDefense\":0,\"bonusAirDefense\":0,\"category\":\"accessory\"},{\"name\":\"Purification
        Bead\",\"tier\":\"Rare\",\"accessoryType\":\"Necklace\",\"set\":null,\"restrictions\":\"Untradable\",\"material\":null,\"dropType\":\"never\",\"addedLore\":null,\"sockets\":0,\"health\":0,\"earthDefense\":0,\"thunderDefense\":0,\"waterDefense\":0,\"fireDefense\":0,\"airDefense\":0,\"level\":55,\"quest\":null,\"classRequirement\":null,\"strength\":0,\"dexterity\":0,\"intelligence\":0,\"defense\":20,\"agility\":0,\"strengthPoints\":0,\"dexterityPoint[...]
