interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/search/itemOnlyIDs/&durability%3C-28%3E
  response:
    body:
      string: '{"kind":"wynncraft/ingredient/search/itemOnlyIDs/&durability<-28>","code":200,"timestamp":1630598459129,"version":"2.1.0","data":[{"name":"Beak
        of the Nivlan Beauty","tier":1,"level":8,"skills":["WEAPONSMITHING","TAILORING","ARMOURING"],"sprite":{"id":409,"damage":0},"identifications":{"HEALTHBONUS":{"minimum":10,"maximum":14}},"itemOnlyIDs":{"durabilityModifier":-28,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":0,"agilityRequirement":0},"consumableOnlyIDs":{"duration":0,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}},{"name":"Cracked
        Skin","tier":0,"level":30,"skills":["TAILORING","ARMOURING"],"sprite":{"id":320,"damage":0},"identifications":{"DEFENSEPOINTS":{"minimum":2,"maximum":3},"AIRDEFENSE":{"minimum":-8,"maximum":-4}},"itemOnlyIDs":{"durabilityModifier":-28,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":0,"agilityRequirement":0},"consumableOnlyIDs":{"duration":0,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}},{"name":"Gritty
        Rocks","tier":0,"level":32,"skills":["WEAPONSMITHING"],"sprite":{"id":361,"damage":0},"identifications":{"DAMAGEBONUSRAW":{"minimum":8,"maximum":12},"SPELLDAMAGERAW":{"minimum":-12,"maximum":-8}},"itemOnlyIDs":{"durabilityModifier":-28,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":0,"agilityRequirement":0},"consumableOnlyIDs":{"duration":0,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '177'
      ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/ingredient/search/itemOnlyIDs/&durability%3C-28%3E
version: 1
