interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/an%20invalid%20username/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/an invalid username/stats","code":400,"timestamp":1629227885740,"version":"2.1.0","data":[]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '162'
      ratelimit-reset:
      - '55'
    status:
      code: 400
      message: Bad Request
    url: https://api.wynncraft.com/v2/player/an%20invalid%20username/stats
version: 1
