interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/search/identifications/&xpbonus%3C4;6%3E,lootbonus%3C;%3E
  response:
    body:
      string: '{"kind":"wynncraft/ingredient/search/identifications/&xpbonus<4;6>,lootbonus<;>","code":200,"timestamp":1669923763678,"version":"2.1.0","data":[{"name":"Ancient
        Coins","tier":3,"level":59,"skills":["JEWELING","WEAPONSMITHING","WOODWORKING"],"sprite":{"id":361,"damage":0},"identifications":{"SPEED":{"minimum":-8,"maximum":-7},"LOOTBONUS":{"minimum":4,"maximum":6},"XPBONUS":{"minimum":4,"maximum":6}},"itemOnlyIDs":{"durabilityModifier":-122,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":0,"agilityRequirement":0},"consumableOnlyIDs":{"duration":0,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}}]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '162'
      RateLimit-Reset:
      - '17'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/ingredient/search/identifications/&xpbonus%3C4;6%3E,lootbonus%3C;%3E
version: 1
