interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1628593136,"version":1.2},"WC1":["19kss","Heather_notrealy","ha15226","Vhispers","alex05062009","XxxkamilekxxX","IAmStupidCow1","lolstillshane","74YOLO","FTW3","IwasTKi"],"WC10":["xJarran","Luna_OuO","Skwibble","DomixCZE","Patonk","AlvaroRogers","IvorAbisson","Antouya","PJKwon","Renios","zivave","foxy2604","TomR24","mini_mamo","letter29","The_Androphoniac","mfyt","AquaSnow_","Poyia","GrizzlyChicken_","ChrisHelloThere","RemixN1V","Dream96","KarenGillan","KouliCZKa","FAZuH","PeggyBlazek","IronHands","Huruf","MrRickroll"],"WC11":["Lethioti","cheezitdave","_Tokidoki","Tsubaki712","Stooets","loexter","S240","Foiler","MrLagyhka","SrArian","PapaPenguin_Jr","MeHDiGIP","komyyrrw","_Ir0nDem0n_","So_no_head_","SrErfan","AutChangM","Inhesion","Listen2TheVoices","guccislides","michal04pl","_dRoR_","Kuni132","sjomp","Fouak","IetsCools","SomeDuckingDuck","N_zm","guillem2009","GlassM","Aynalia","MagicalCarrotXV","ImpostorMongus","xJTD","5_29z","kenny94046","_NotNate_"],"WC12":["ilyShouko","Hashymal","Dracium_Z","hennycrash9","OzzyXDD","king159bus","Nriz","LennyFox007","1_Blockhead","MissMiku","Glossoholic","JasonLin","W3K0L","R3CE","TheNewN00B","ltrltrltr1234","BangtanKookie97","tijnswereld","briourbi","Janimpsus","Cymbalboi","lightdeat","iurgen","sziksu","Dragon_mini","yolo_boy5","Ak47_HK","vulcan0622","AndroidGameBrek","Diero","Rikumaru"],"WC13":["HarryNCY","Hazde","Shelly_qq","Radostorm","DopleTople","TemaSeriy","trevl312","mr_konne","WoodenCroc","Joe_ovo","Swax_x","PORISUTIREN","oNeppy","s2796yek1","KapitanOgros","xDeft","gluteals","Ralph_0206","Mini_Mumbo","Boldi6548","Jamies","Wilrent","Dannythekiller","Mr_Milkman0","XDD_Hero","Maria3clean","taketheowl","KIM_1326","mejodia","xNewagex","fuzekli","GiornoGiorvanna","RokEm","Charontis","Zatzou","Leafish"],"WC14":["Lalacent","ItsybitsyJewelry","Suyarumi","water_jet","Kailua_Pig","1qw3e2asd","Feueristic","ManDoo2005","PiggyQAQ","Calluum","ppfart","MakkerJEFF","a1235813","JCH00","shadowiness","Spekus","nHexanol","TBGamer809_","OGPaka","GodCarp","Raycifer","GracieBabyW","ShadowyLord","iSoosie","awaWaterrrr","RaikoKami","ksan_04"],"WC15":["tukemenebisio","P0SI0N0US_SPYDER","SpiderKory","Sthalln","1m0kan_","Irukaa","Ksteve010","Jafork","MortosVivos","OPcatlover22","MacaDamianNut314","Melone_Aim","LisaFunck","CavenBlack"],"WC16":["m8tricks","LordchenEnder","Bimox","ravenkey28","caxapuHkaMC","AmaRaku","bb_____","yumisuke2342","TheWandererKarl","Dinos19","Mr_Lau","naiyou23121","Weisercedric","zongzi23303","LightShadow_live","Tawn","KazuLovesU","Daisukekage","Hydrophase","SakeRingo","Kiwi_2008","Epilogue970008","AnanasekE","DomStarshark","swagbatto","Zorro0806","Kokyunage","Captain_Grumpo","asmic_","Dreiasaiy_IDK","SFPavey49","Frazxr","taxors","vigeltje","Connor1736","Atraxica_MC"],"WC17":["daance","E_Doom","_rennn_","Tryhack","Waffellz","Dryalmcd","enchantedbunny5","Caytemo","Inw_Sukee","RyCeX1","Wenho_","ate2","KOTIK_OBORMOT","Cyana__","bga8864","HelloNature","Iriutjok","comicozzi","prowcyon","DBlockEurope","GrowlitheGaming","HermitKaeru","HOME2335","MaliTygrys","AMcT","POWER_PING","leonagastya","Demaster112","Fallen_Star_tw","Chokanan","Cwont","HeartAFire","Rafy","eimisyt"],"WC18":["coltonmu","wibaux","NotoaYT","SeraKittenn","Jqkeup","PolarBaeJr","EMT923","MiniMandrake","Mark888k","bigkutasisko","SCP_Night_sky","stand0","EddieED","NHC22","SEBIWECH","SenojBob","MarciGamer759","MallowArgon","Silverw0lph","Pododeng","Yobeezle","Dr_T_T","Jirayut","Logan0324_","pencil_mr","_Raizel","Rage_21","tangwyllt","Stale__Martyr","Joran_de_barbaar"],"WC19":["LEisbaer","iSniper1010","NightRaid_","Mitzuki_Finest","Kenoolia","freddLess","K1K0_ED_","sokosQQ","FishInTheKitchen","Wolfyyy554","zMars","M8807","_wlg","PikaLegend_","Groffles_Bear","Paxep","Ikuruu","ItemIdentifier","MinecrafterSo46","Not_Innocent","Sn0wLin9_rns","XBismarckX","KawaiiKahbe","sobble_sabel","Monsterjaeger_9","GalaktycznaPanda","zeelytic","__Tenshii_","majorminah","CaptainJLP","szuperabel","Jaack_BS"],"WC2":["HY_Hanyul","Geralt1007","rio_x","topgearjoker","PvPxRobin","soffiia","ThiccChez","goldenman0505","nkklk","Cumik901_c","MonkeyBoy20002","_Noximus_","Spl1tz_","Glupling","deyang0519","filipbluh","Alisa1200","Shidoex","tychi185","detune","Bfallen","EchoHD_","mattion23","FreneticBoar534","MaksimRim","TheSast","Lesefin","AzNat","combat_dragon","MarineMasterxd","ATTOMSR"],"WC20":["ItsAight","Pomelo_Roy","Peachy_Nari","Naraka00","Araragi_Tsubasa","snowball3130","Starianzel_","Moonlightkill","CookieWeb","HydraOnTheBeat","YandereAreCute","SuperiorBun","isca10","eTeRnitySs","BrotMitAim","TataCheck","smallfive","Tonylyn","Spexys_wifey","deliciousJI","HalfX","melihsahin12","87Cookie_PC","GameKnight373","Sleepingpanda312","cookieman205702","Spex22","Lord_Wincent","Eisbergzwerg","Neptium","luuk2601","TimeJuice","fixow"],"WC21":["nick789000","Namklun","Skypoe","OffBrandOreos","DragonMaster26","Hue_Sans","WayaBoy","Mailo23","RisenEzura","Cloud_Dash","silkieUK","___cat___","Panda_playzq","Good110","PokemonGamer11","Rupster009","DarkMask2111","LuvU4ever","Necronexe","notbazzz","shippeel","raen_qt","latexio","thebigcnu","WMGameLive","Meiruchent","huntervalou49","Aymericbarge","Neon_Sparkle","joshua2648","zKaneki","Lalatera","robcozmo","xaliriyaa","Maarcus2"],"WC22":["mulldover","Seagazer","xPook","Xx_Pig_gamer_xX","BlatroZ","ninihihi","Fazgenn","JQSHEY","rslJonaas","ZeFate","_Angers_","oSkyD_","Moe_block","Kaizookuu","Nyries47","FukooSan","ByEmoTr_"],"WC23":["Senshoewall","ctas144","jaeddung","Mr_Maelstrom","Boebii","king482","Eisengolem302","ParsnipParsnip","theseaemperor","N3ght","VideoLattice240","M0rais14","Qustark","ShinyRacco","tae7716","Gaallaxi","polishiKONG","E1ian1","KarlosSCP","Xenon0_0b","Shizoids","alexis60120kill","G4M3R1124","michael22ray21","Paynike_TV","Lubecki","Roeland_V","Stockjamin","DarkFateX","Andie_Pandie23","EK_Suya","__B4C0N","Gladionus","byJxn"],"WC24":["_PUDDING__","JeroMC","Mayitham","vanduivenbode"],"WC25":["Pacmon","Young0718","LordiTeopi","Drie_Kleuren","KelD1k","UwUmenow","Roostrex","BistBoy","Kiyan","Drynial","xByNilzz","geraltofbodrum","SPECTRE1350","Corona_Weedus","MasterJosef","SupSub","_sagelicious_","BadFCA","Anonyamous","FHNTVRF22","Dave_style","hexalotl","Simon_314","EnGuska","NickerGotico","Mr_Rares13","TobiKaboom","Carson_Rogers","Amizziko","Misha1712","alenik202","CozyFawn","MatkePRO_90"],"WC26":["uMakeMeSad","writesnowwolf","pswrstar715","_GAZ_MalegaMas","Applepig101","IndirectSleet23","SlapMeToSleep","rise1256","natsuwoo","Galactic3","GFlavour","Kaphaen","LordLightSpeed","jjstin","Kokojakoko","Kar_ling","Zsolaplex001","love_seal","Dylinux","Gabrimous","_Chipla","AxolosG","oryol407","Goldenemerald65","oWonder_","firesome","Platypus_Pirat","_gus19","AlanGreyson","Nitrou","Kronossphere","SuperE_TOP","moomoo141001","Trendrik"],"WC27":["tinygrass827","WhoDisLol","Yazzzzz","LordGoring","HKGamerNoob_2","sinonkawaii","LexiGirl243","SmallerSnail","_Eeveelution_","NemoZa","Stella1038","LupinMiner","futuretom13","Marasigan","Sub2I1","MrRussetPotato","nagyattila09","BenceX100"],"WC28":["kazitu1710","tonywup","Kenzek12345","FSmile","Sedyreph","Z3dRick","TrfAle","LambSauce101","IceTiger_05","SteinGaming","Blue_gaming_DK","mizztee99","ROGI888","SimonasLTU","ryousama1021","MeneerPinguin","Green_gamer_DK","Bobbet_the_pig","NagatoIJN","domeh_","lolohes","Sir_Batman","Burton","Target_is_typing","Lukkero","Sacredfuel","HANIBAL","MineoZ","Music_Man_inaPAN","TheGameur2pro","YeaImBad","monseur_monges","SuperLilS","keshishian","tukorama","Mamogo"],"WC29":["pvpgodx","Kamatachi","ImPocket_","KarateMasterOne","DementedBacca","AyusanBob","cadyxx","MinYoongi","ronin865","Atomic_Puffin","Blueswords","Telerr","PROJECTpig2007","MlyuL","xAlex_xz","Grimgrinnir","TalhahTheTurtle","SupremeTaco_","Jongpary","Z00mane","GaleFoxy","MaxxyMoo2012","JoshGamer2010","miNimurtcEPs","FlippityFlops","xAllura","FakeNutella","Chwyssie","Caiowi"],"WC3":["WashioBB","protecc_rye","MrSohob","Nextlastend","AliaS_Force","meyf","umaiwa","SaruV","KanozyOwO","Sl4zz","blanoir3298","hiro_shin","GamerHD0106","TheKofiX","SiKlOpC","CLOBXXL","xCrownx","CarrieChiou","FloorOfLava","Katile","mythic421","Shlyapaa","TeleportMe","Dracsono","Asatti396","Alloy22","Skypedia","nothesinistrtype","SaltyKing","LordQualle","baliraptorr","Aegleseeker","Sherias","IceWarox","Pvpmaster44","SignatureFail","Skidooskei","TC_Lucky","DiShaJiu"],"WC30":["Vance568","xBustYou","CodGod","Oblit_eration","Apple___________","PrizmSnipe","Ezpeon","nick123987456","Hedgehog_Girl","KingCarlXVII","QueenElisabet","GlitterJullan","CebuPacific","LC_Clarence","ExtraLemonZest","bananazeinn","Single_Martyr_","justlive1995","ryotaro02"],"WC31":["bblueeye5","Maarcus1","itzMarkplayz","Vestfal","DotajeL","Rayquazamortel","Witzey","BruceVII","Catl","PyriteCactus","lartosk3010","Aryzzel","Don_glahgd128","Neum_Love_Subs","_Mindy","Xanoxo","gdr313","BurningAspect","KosherBeef","LuwuNowo","Nieke","bikesuper","Defervesco","Koalaz_","SquidynessX","DeathZoneKaishi","Albin","pPly","ASFJerome1311","Koni75","NotableOsprey92","Miteku","Squirtail","FrankyPT","C4LV1N_"],"WC32":["xMoinServusMoinx","KingClub","mmfmgmghggmgmffm","PakHong","BlockMaster_5","PlexPark","Hi_im_ZZ","Shertwartkidz","D8VYD","janos0001","NulzFranklin","TianShui_YiFang","SektorOdin","DediGoose","ACutePumpkin","link173","LuCoolUs","Ikno_","rairagemus","crimsson","FrixFox","XYLISA0w0","FridaKrok1","KeuBig","YamatoImmelmann","SkyblockPixel","HageshiH","sebie01","oxih","kamilord248","kwildspirit","LeoTheGymOwner"],"WC33":["Rabbit_Gaze","HappyBanana420","Keniye","Nitrogen7","kamilereon","DinoRawrr","TowerOfAscension","CuzImTimer","imawwsum","Zekca","NeonRider","SleeepingSheep","Borkyyy","pokefreak134562","Puuug","Moshii","Nayoline","Xypnovoid","IceyFox","ChocoLot","MekiOh","Omnivi","Albb_n","Silera","AutoBridge","vikidi98","YuriDaFurry","yumeir_"],"WC34":["TehNelston","hatena_tyan","MrGamerFoxy","toebeanpizzaguy","Mael","kiatgbi","Masteroverlords","season_cat","__BadName","AngelTheNeko","jamster_roks","Rockbay","danielc4444","Stoopid_Dog","MarkusBoBus2","Sivrel_","VoidBraykr","MrSnupe","Bl1k","Ikeapojken123","AcMongTheSleep","UltraSpaaxian","Jason_Jotaro","D0ERK","_Lymboe_","EnderFriend31","s0w0s","ZillaJr_YT","moro10","Funumunuh","Cryecr","duggo","_Dorian_Z"],"WC35":["LaMDaKiS","ChaosIsHerez","kinghenry790","Birkbork","McNinjaaaa","OneLazyPanda","RU5_4III","BS_Wendy","Kick_23","FrledPotat0","AmaZingYew","k4n1v4n","PesoWeisi","xLisa204","the_jevry","LucShi","TheMinShi","WokSolid213","WT_TU","XHayabusa1125X","zMrX","alfredchi","drvnkdoctor","Jianuru","SuchyJan","SkitVenom_","Chiccotot","VorteX_TerRa","CasterThrone","UnicornGirl2088","oeviivog","Chickenshooter66","OneMenacingBoi","_Mimo","i112"],"WC36":["ParTiz","Gogless","Miha_RRED","tingwan","NukaDrinkers","MasterOfThunder","RazeMen","xShioriz_","kenboy192","Mob1729","Errttetronn","Mateszopszpeti","Yuurilari","Jazzzbow","ImKinda_Bored","FearlessGamingXD","R0bst3r","SUg01_tR45h","ForEverInMyHead","Mackoma","_Bats_","AnotherRogus","KWR01","De_illuminati","VEGN3wow","KMLOPK","_KNT_","PHGz","Chaos_DemonKing","Walter2700","IPBJI","siljeviola"],"WC4":["Errty","Moonie","AlexDaFlames","Frxstybeast","_Charlottez","CecileBleats","CorneilusFboots","dutchminer2011","Raitou_","Kingpablox_","MrsFrida","Perfekta0902"],"WC5":["KIRIshimaMarina","toothly","mochi96336","istvanroli","Itzz_Kat_HUN","Mjolnir_01","PuchongBoy","Starle_TW","xXLeqit_VincXx","Wyther_","KitoHiyoki","Rinkael","hammydude","N1unar","TheRealSaplingS","I_Am_Stoeptegel","Captain_Barklez","davie123dx","WWOOKKEE","R0nkiel","Lanolu","Suicidal_Rose","Stupidino","Bogtnt64","mike_HUN","Sasong","_TotemOfUndying_","RandomEmerald77","DolphinO_O","RubenKan","Mitchelhof","MemTim","Merlreen_N","niBBun","D1uLaSing","OG_Sans"],"WC6":["Crazy_potato11","fan_doga","spnl","Ph8enix","IShadowD13I","ksa_jacks","VonVarlight","0lz","6_Sneak_9","skinnysausages","RubyTheAvali","rdhfh4756","Yuyukey","Lacrosseboss15","Bearfacedsoup62","spangebob","Carlo_C","Kornel6","destroyer98076","FlashxPoint","AlexJr_2006","_yorru_","mine87josh","parrottv_1","karatakeudonn","Nightdara","Magnet9","SwimmableGuide9","selvin123","LegoGamer1230","D4rk05","PolarW","MarkusYantony","Arm9nam_privet","Rommel_","LillaNyckelpiga"],"WC7":[],"WC8":["Kohelik_","Silvel_","ZXsrh","iMLiTw","Tiger5er","HellFiredAssasin","kousn1029","PlateSmasher69","A_rabbit_UWU","NekoQnQ","taesunsong","FiveDarraEggRoll","zi__jun","_Logic__","KaktuszSok","oya","JSEpic","Katonica","Rajtek","CiotusPospolitus","ryder930320","CloudFrogg","Vinicius001X","warsoul88","Slaydin311","kangwooseok1234","techspsycho","Haxboi","vyja","TwilightPyro","Simple_Sample","JustDr3am","NUBBASSON"],"WC9":["nerdynerdz","OK_WOW","ufficiale","FlyGamingF","dhcy","Einar1230","Twandhi","Mamoet","hmm_yep","Nelsbah"],"YT":[]}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/19kss/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/19kss/stats","code":200,"timestamp":1628592973000,"version":"2.1.0","data":[{"username":"19kss","uuid":"1dfa1b3a-bfcf-458f-9ce9-fd91946db4e5","rank":"Player","meta":{"firstJoin":"2015-05-16T17:37:06.378Z","lastJoin":"2021-08-10T10:55:14.439Z","location":{"online":true,"server":"WC1"},"playtime":60364,"tag":{"display":true,"value":"CHAMPION"},"veteran":false},"classes":[{"name":"mage","level":838,"dungeons":{"completed":191,"list":[{"name":"Ice
        Barrows","completed":5},{"name":"Corrupted Sand-Swept Tomb","completed":117},{"name":"Corrupted
        Decrepit Sewers","completed":6},{"name":"Corrupted Lost Sanctuary","completed":18},{"name":"Underworld
        Crypt","completed":5},{"name":"Infested Pit","completed":6},{"name":"Sand-Swept
        Tomb","completed":1},{"name":"Undergrowth Ruins","completed":3},{"name":"Corrupted
        Ice Barrows","completed":12},{"name":"Eldritch Outlook","completed":1},{"name":"Corrupted
        Undergrowth Ruins","completed":7},{"name":"Corrupted Infested Pit","completed":3},{"name":"Corrupted
        Underworld Crypt","completed":3},{"name":"Fallen Factory","completed":4}]},"raids":{"completed":34,"list":[{"name":"Nest
        of the Grootslangs","completed":6},{"name":"The Canyon Colossus","completed":24},{"name":"Orphion''s
        Nexus of Light","completed":4}]},"quests":{"completed":63,"list":["A Hunter''s
        Calling","A Journey Further","A Journey Beyond","Royal Trials","The Fortuneteller","Recipe
        For Disaster","One Thousand Meters Under","Dwarves and Doguns Part II","Dwarves
        and Doguns Part I","The Envoy Part II","Cowfusion","A Marauder''s Dues","The
        Envoy Part I","The Thanos Vaults","From the Bottom","The Qira Hive","???","Realm
        of Light V - The Realm of Light","The Ultimate Weapon","Troubled Tribesmen","Realm
        of [...]
