interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Boots-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Boots-1-3","code":200,"timestamp":1629225191214,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"BOOTS","skill":"TAILORING","materials":[{"item":"Refined
        Copper Ingot","amount":1},{"item":"Refined Wheat String","amount":2}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Boots-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '160'
      ratelimit-reset:
      - '54'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Boots-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Bow-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Bow-1-3","code":200,"timestamp":1629225191371,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"BOW","skill":"WOODWORKING","materials":[{"item":"Refined
        Wheat String","amount":2},{"item":"Refined Oak Wood","amount":1}],"healthOrDamage":{"minimum":7,"maximum":10},"durability":{"minimum":175,"maximum":182},"id":"Bow-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '159'
      ratelimit-reset:
      - '54'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Bow-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Bracelet-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Bracelet-1-3","code":200,"timestamp":1629225191521,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"BRACELET","skill":"JEWELING","materials":[{"item":"Refined
        Copper Gem","amount":1},{"item":"Refined Gudgeon Oil","amount":2}],"healthOrDamage":{"minimum":0,"maximum":0},"durability":{"minimum":175,"maximum":182},"id":"Bracelet-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '158'
      ratelimit-reset:
      - '54'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Bracelet-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Chestplate-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Chestplate-1-3","code":200,"timestamp":1629225191675,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"CHESTPLATE","skill":"ARMOURING","materials":[{"item":"Refined
        Copper Ingot","amount":2},{"item":"Refined Oak Paper","amount":1}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Chestplate-1-3"}]}'
    headers:
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Chestplate-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Dagger-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Dagger-1-3","code":200,"timestamp":1629225191828,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"DAGGER","skill":"WEAPONSMITHING","materials":[{"item":"Refined
        Copper Ingot","amount":2},{"item":"Refined Oak Wood","amount":1}],"healthOrDamage":{"minimum":6,"maximum":8},"durability":{"minimum":175,"maximum":182},"id":"Dagger-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '156'
      ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Dagger-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Food-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Food-1-3","code":200,"timestamp":1629225191982,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"FOOD","skill":"COOKING","materials":[{"item":"Refined
        Gudgeon Meat","amount":2},{"item":"Refined Wheat Grains","amount":1}],"healthOrDamage":{"minimum":24,"maximum":32},"duration":{"minimum":1080,"maximum":1116},"basicDuration":{"minimum":60,"maximum":60},"id":"Food-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '155'
      ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Food-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Helmet-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Helmet-1-3","code":200,"timestamp":1629225192135,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"HELMET","skill":"ARMOURING","materials":[{"item":"Refined
        Copper Ingot","amount":1},{"item":"Refined Oak Paper","amount":2}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Helmet-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '154'
      ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Helmet-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Necklace-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Necklace-1-3","code":200,"timestamp":1629225192283,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"NECKLACE","skill":"JEWELING","materials":[{"item":"Refined
        Copper Gem","amount":1},{"item":"Refined Gudgeon Oil","amount":3}],"healthOrDamage":{"minimum":0,"maximum":0},"durability":{"minimum":175,"maximum":182},"id":"Necklace-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '153'
      ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Necklace-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Leggings-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Leggings-1-3","code":200,"timestamp":1629225192435,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"LEGGINGS","skill":"TAILORING","materials":[{"item":"Refined
        Copper Ingot","amount":2},{"item":"Refined Wheat String","amount":1}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Leggings-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '152'
      ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Leggings-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Potion-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Potion-1-3","code":200,"timestamp":1629225192605,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"POTION","skill":"ALCHEMISM","materials":[{"item":"Refined
        Gudgeon Oil","amount":1},{"item":"Refined Wheat Grains","amount":2}],"healthOrDamage":{"minimum":24,"maximum":33},"duration":{"minimum":360,"maximum":372},"basicDuration":{"minimum":3,"maximum":3},"id":"Potion-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '151'
      ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Potion-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Relik-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Relik-1-3","code":200,"timestamp":1629225192754,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"RELIK","skill":"WOODWORKING","materials":[{"item":"Refined
        Gudgeon Oil","amount":2},{"item":"Refined Oak Wood","amount":1}],"healthOrDamage":{"minimum":7,"maximum":10},"durability":{"minimum":175,"maximum":182},"id":"Relik-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '150'
      ratelimit-reset:
      - '52'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Relik-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Ring-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Ring-1-3","code":200,"timestamp":1629225192919,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"RING","skill":"JEWELING","materials":[{"item":"Refined
        Copper Gem","amount":1},{"item":"Refined Gudgeon Oil","amount":1}],"healthOrDamage":{"minimum":0,"maximum":0},"durability":{"minimum":175,"maximum":182},"id":"Ring-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '149'
      ratelimit-reset:
      - '52'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Ring-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Scroll-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Scroll-1-3","code":200,"timestamp":1629225193113,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"SCROLL","skill":"SCRIBING","materials":[{"item":"Refined
        Gudgeon Oil","amount":1},{"item":"Refined Oak Paper","amount":1}],"healthOrDamage":{"minimum":21,"maximum":26},"duration":{"minimum":360,"maximum":372},"basicDuration":{"minimum":3,"maximum":3},"id":"Scroll-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '148'
      ratelimit-reset:
      - '52'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Scroll-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Spear-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Spear-1-3","code":200,"timestamp":1629225193326,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"SPEAR","skill":"WEAPONSMITHING","materials":[{"item":"Refined
        Copper Ingot","amount":1},{"item":"Refined Oak Wood","amount":2}],"healthOrDamage":{"minimum":4,"maximum":6},"durability":{"minimum":175,"maximum":182},"id":"Spear-1-3"}]}'
    headers:
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Spear-1-3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/get/Wand-1-3
  response:
    body:
      string: '{"kind":"wynncraft/recipe/get/Wand-1-3","code":200,"timestamp":1629225193576,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"WAND","skill":"WOODWORKING","materials":[{"item":"Refined
        Wheat String","amount":1},{"item":"Refined Oak Wood","amount":2}],"healthOrDamage":{"minimum":3,"maximum":5},"durability":{"minimum":175,"maximum":182},"id":"Wand-1-3"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '146'
      ratelimit-reset:
      - '52'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/get/Wand-1-3
version: 1
