interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/search/durability/&minimum%3C175%3E
  response:
    body:
      string: '{"kind":"wynncraft/recipe/search/durability/&minimum<175>","code":200,"timestamp":1669923777318,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"BOOTS","skill":"TAILORING","materials":[{"item":"Refined
        Copper Ingot","amount":1},{"item":"Refined Wheat String","amount":2}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Boots-1-3"},{"level":{"minimum":1,"maximum":3},"type":"BOW","skill":"WOODWORKING","materials":[{"item":"Refined
        Wheat String","amount":2},{"item":"Refined Oak Wood","amount":1}],"healthOrDamage":{"minimum":7,"maximum":10},"durability":{"minimum":175,"maximum":182},"id":"Bow-1-3"},{"level":{"minimum":1,"maximum":3},"type":"BRACELET","skill":"JEWELING","materials":[{"item":"Refined
        Copper Gem","amount":1},{"item":"Refined Gudgeon Oil","amount":2}],"healthOrDamage":{"minimum":0,"ma[...]
