interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/list
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/list\",\"code\":200,\"timestamp\":1628677109373,\"version\":\"2.1.0\",\"data\":[\"7-Yottabyte
        Storage Component\",\"Acid Magma\",\"Accursed Effigy\",\"Acidic Blood\",\"Acidic
        Remains\",\"Acidic Solution\",\"Active Fireball\",\"Adamastor's Faceplate\",\"Adaptive
        Tissue\",\"Adventurer's Diary\",\"Aged Tome\",\"Agullo Beak\",\"Alga\",\"Algae
        Mat\",\"Alnamar Meat\",\"Altered Ash\",\"Ancient Coins\",\"Ancient Heart\",\"Ancient
        Currency\",\"Ancient Metal\",\"Ancient Panel\",\"Ancient Moss\",\"Angelic
        Gem\",\"Antique Metal\",\"Apple[...]
