interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1628677104,"version":1.2},"WC1":["Yazzzzz","Gal12870","Minzelkium123","Stale__Martyr","Forever_kcl","Swordsharpener","SektorOdin","Applepig101","Omega_Gamer_64","Apple___________","WarStats","NagetsPlayYT","Anteabelle","JonaThanos27","Thomasz111","skywalker998","Markus789","MistakenChain","Dermpel","_Jelle","boevic3","sieMC","DiShaJiu","MrRickroll","mokopikochan5","Shelly_qq","Huruf"],"WC10":["_s0y_","DementedBacca","Ph8enix","Lisachristin","alarc8","Demize_7615k","TrainMasterNL","Kohelik_","Chiroru_sqn1","FiveDarraEggRoll","TeleportMe","hiro_shin","N8SWA","Crlze","Araragi_Tsubasa","Block314","NauticalMaple83","ChocoLot","AlexJr_2006","MMG_Su","wltsky","Frispik","Commander_Jan","Darkairess2282","bblueeye5","VadimPetryuk16","Tezcat","Merkmiralles","Silver_Games335","MallowArgon","Lalacent","bga8864"],"WC11":["_Thinking_Face_","Zizicongcong","g2213swo","Zapditos98UwU","redorb7","Keniye","willie0227","BS_Wendy","zMars","meyf","Masteroverlords","ThurinTurambar","Dracium_Z","MaxxyMoo2012","YahelAmity","JoshGamer2010","c2y1","Aqualost","DinoRawrr","Funumunuh","BurningAspect","NotableOsprey92","C4LV1N_","FinZe10","Tommy_ente","aSear","Fallen_Star_tw"],"WC12":["T3O7","Skwish","VHoltz_","Fuguh","FlippityFlops","TheNewN00B","OK_WOW","dylan82205","arufadayo","SakeRingo","tangwyllt","dutchminer2011","Ikatya123","lunatran","Kurama_83","Firestorm10111","Henoy","SlimJimDawg","KOADPRO_","Meraquo","DarkFateX","neatnemo","Oreous","AndrewPlayz14","GarryDaLegend","GarfieldK","nothingbutidiot","ImStep"],"WC13":["TravelerSuryc","MasterJosef","IceHunter26","Rabbit_Gaze","TheRealRB3902","VampiGoay","LC_Clarence","Exemals","Rin_23","5tyxie","MoreMeFeed","Dyrynwn","CGKieron","drizzychanelle","Senior_Kactus","PvPxRobin","Nightdara","Kayatou","Gazel227","kmatyi45","xetqla","yummydonutz","GaryTheGuy2","W3K0L","LovelyEggBowl","TheMagicWither","shawnchang2010","Maarcus2","hudang12","19kss","xXDcraftXx"],"WC14":["JustinBreadoux","MaksimRim","SMOO7","KalaBot","snakelover78","Kaphaen","Shlyapaa","Ezpeon","Ukongz","Catacity","Voxaire","YuriDaFurry","6_Sneak_9","Bakson_Hunter","Dekoghost","R_SPhoenix","Katile","Drajenail","zhemo","EchoHD_","Vaxture","JakeTheMineman","gamer_monster","SkyTim_404","Ksteve010","Hyprn_","lukx2006","ThxYou","0NeverOne","Alespic","IceTiger_05","KayJayDub","TheWandererKarl","Its_Breado"],"WC15":["SpeedyA","ChipmunkAlvin","JerxGamer","LusciousDeath","camaga","k1mlay","BasicRush","AlexDaFlames","Cakeassassin","Anonyamous","Kazuha___","Corona_Weedus","FrankyPT","TheGoddessMercy","Omnivi","Harganeth"],"WC16":["Senshoewall","SpyroTheMofo","natboyy","Slime","Henry3376","lonely030","refrigerant","Lionnier","sokosQQ","Jessica807","xJarran","smuuki_69","kijio","A_Lovely_Potato","MoistCement","caxapuHkaMC","Zenchira","TobiKaboom","icanseemyhalo","Zaniczu","AngryAfer123","NHC22","Hydrophase","4l0n","Ronogamy","Chick0503","MrSnupe","Mariojoa","iidopelordz","S_1mon","iWaterr","MertEnes","PolicePlayzMC","librickysimon","_falon_","Sacredfuel"],"WC17":["show294almighty","Ruxxel","WinZZed","dead_or_alive","ForEverInMyHead","oSkyD_","OneLazyPanda","ThatBossEthan","De_illuminati","_Ember__","aizx","BenceX100","nagyattila09","KineticDragon45"],"WC18":["Emi_Dito","Boebii","Enderman4708","KouKouChiao","Xenon0_0b","Mottled","RellikPlaysMC","x2eZ4you","Riskeep","Borkyyy","underlein","Ch4ms","luuk2601","D3vi","5h4w","Yuyukey","Glupling","StillNotFast26","JBear6002","Rasy1n_","Smelly_Possum","wojteuuusz","Metallenno","klackFauxjoao","PesoWeisi","LeverEnd","Decizorro","Coinflip__","SadMachine","MilanB09"],"WC19":["WuffiSky","VoidBraykr","W_enderman","Dingalin67","KelD1k","freddLess","KitoHiyoki","Mr_Eichhorn","yumisuke2342","Mesanda","jukebox999","Mint__owo","kast01","MisterJacket","spnl","bigboydynamo","Dier0","Diero","EnderIstCool","IndirectSleet23","Qustark","N1unar","rilomilo9","FLIPMYBIRD_115","Pokemaster1098","Blurtterfly","dlmn8r","theseaemperor","RoswaalL","Brosqa","Silverw0lph","AmaZingYew","GrowlitheGaming","Zarazil","Primepandas","Aviciis","OneMenacingBoi","WokSolid213","liancous"],"WC2":["iSoosie","Sasong","56TR","hirviioszka","DerratiX","Saifster","swiftlily","Catse7en","minor_builder","justmsa","bananazeinn","KingCurl","Amelia1405"],"WC20":["RazeMen","NSAI_OD","Aujto12","87Cookie_PC","DroppyBub","_ChipsAhoy_","HugoWazo","Cthoma23456","skinnysausages","MMinecrafter001","K1K0_ED_","Nriz","Yoona00","Bl1k","Ic3Raid","Minyu","Skyrolux18","FloorOfLava","AnyCoffeeMilk","Silvel_","maznqrchetoBG","YMustang","Pilvey","Lize_Alvarez","HumbleCactus164","_Tarnished_","skylok_coolong","sparky0606","Levieeh","Chickenfinity","zKirito0912","raygotsai","Leqito","_Koah_","P1nkVixen","Maria3clean","Scrm_","Comet_007"],"WC21":["tcdcbs","BigHero6_","Blokiman","fall22","Drathemeir","AprilNaCl","_Tokidoki","Rayquazamortel","_Vanti_i","Kayuuti","ZillaJr_YT","Milord_Rikobum","zBrunin","HHPH","1_Blockhead","Zefs","Riseult","MocnyZawodnik","BrotMitAim","immayeetya","Tankerjolt_","Lobeation","Unstable_Dragon_","TheOneBlackCat","Tibcsi06","ZUTT0","exqlode","SenojBob","YandereHunter","szuperabel","ManDoo2005","MinYoongi"],"WC22":["blobserr","AmaRaku","SteinGaming","N_zm","meowTOW","OzzyXDD","Memo124","fligugigu","kazitu1710","MeneerPinguin","Mael","ZILL__","fab291","wl9","iagson","Suyarumi","AutoBridge","PHGz","TeaShii","RemixN1V","ONE0817","Fraya1010","spyton_","JAHS3H_0NFR0Y","Kenoolia","darkaffair","TSLRelease","LucShi","Athena_VN","Phoooon","Shutler","GGWP_YT"],"WC23":["Calluum","ppfart","RubyTheAvali","mmfmgmghggmgmffm","MOJackal","161","Frxstybeast","asleepwinter447","On1li","eleimater","Glorious_T","water_jet","mike_HUN","Luna_OuO","Retepeter_"],"WC24":["BadLife_LY","HotKing","BadFCA","wlg","Eva52044","PolarBae","TAKUMI9618","Otuclop","Viklavi","CunuNyis","PertSK","pspmatax","josei456","Kerzzi","Stenkross","a1235813","a29246353","Soichiro1000","bebest2794","Capslockpotato","LisaFunck","xXLeqit_VincXx","Flitgay","Ere256","_NotNate_","Zeeye"],"WC25":["BrotherShooterLP","_PUDDING__","Jxisoo","combat_dragon","MidnaNightmare","cavo_","niBBun","Kaizookuu","Charontis","HarryNCY","Aegleseeker","SkyblockPixel","SheepMindSC2","AlpakastarSC2","SuperiorBun","Lethioti"],"WC26":["aifu_F","Bogtnt64","LordchenEnder","ryder930320","Geralt1007","DrMuteSTEVE","Ihortop175","deyang0519","xEGGshell","Anthrixx","Pv4","discarrotonfire","A_BEEPer","Skwibble","kyngnukem","rairagemus","iMLiTw","Daggered","SEBAN123","Neiyo","Foiler","BrickMasterShow","Cliffope11577","_Fretus_","Lanolu","michal04pl","Matthixus","Akuagon_","TheTeasip","Feudzi","taesunsong"],"WC27":["Sutela","Batboy1104","cattinlovepiggy","Namklun","MilkyMitch","oeviivog","Hamu_24","xKabekan","J1zzyJoe","NekoAct","Cow_Milkchan"],"WC28":["Literka","aiZdexy","zi__jun","Ben_1234567","KSylarzero","Xsers","MyuRyung","_Duzzel_","Heyoth","idanw","Foxdawn","Maiev","taxors","Antouya","ufficiale","Rinkael","AndrewLee6","PigPlays1","Joran_de_barbaar","M8807","LuwuNowo","_Pyr0_Chicken","GhostyBoyyTv","Rodlip","eimisyt","HollowFreak","NOOBYPANDA_","T307","Mailo23"],"WC29":["ChocoMuik","TheSuperMario64","Frazxr","CatsOfWynn","xXHorrorhuhnHDXx","73682","Ctx35","Leafbugs","PuchongBoy","Dr_T_T","EMT923","LordGoring","PenguTrolly","voidsocks","WitherStorm2005","isaacOXIN","YandereAreCute","Hashymal","Gatsy","Nikelz_","MarkusYantony","Xaver_PL","Webstreetwien"],"WC3":["Bellozero","Skypoe","Chokanan","S240","Roostrex","TechnoUltimateMC","fghj_V","rise1256","Lassehoj","BananaRocket","byJxn","Foolzy_","jonas2o15","YamatoImmelmann","Galactic3","bobrob2002","AsifHD","Rajtek","Vutivo","BeautifulDarknes","MemoJK","crimsson","CiotusPospolitus","Yutr","Not_Innocent","Nicky2203","extrnl","FlufoTurtleGamez"],"WC30":["YamiNoir","curtsey","Prince_Wang","skywalkinerate","Kenzek12345","ArizonaPing","HagarTheDrunk","EgdarTheRuiner","HOME2335","Demangevil","Fouak","Cozmic_37","NeptuneCoffee","shippeel","High_Pong216ms","LeftToGame","Buniverse","xBustYou","Hooshu","stand0","MrSohob","eTeRnitySs","ZhadowZtriker","Leo_4","acefs","FeyZor","Tengi482","PrizmSnipe","IceyFox","Slyke4","halmalac","sneezinDragon","SovenGaming","banter_block"],"WC31":["PHEMEALONE","Axuio","Amal_Laitmer","Ian1872","zHokkaido","asmic_","WT_TU","Sedau","Slvrp","GodCarp","oryol407","Levaithan","TheSirShadow"],"WC32":["xLisa204","CreepyArt720287","Seberus_Ice","pencil_mr","Marco_XD2000","zimouwastired","_Phasme_","l_____","firesome","andimaw","RubenKan","M4de","TorokOVD","GameKnight373","Polishdudealan","MortosVivos","Marci2007","baba17290","JasonLin","Alcama","Lucascc010","SeniorFloof","trickr","Chiccotot","VillanyLeo","WINGDGaster","Crozxr","Starianzel_","ExtraLemonZest","ImAngry_","Ruarc_88","cxyxiaoyu","Xhnx","Strafiks","okko123123","Livershoot12"],"WC33":["LunaGardner","Dongchaaaaa","JustWolfy2","_Zyara_","Taraneas","_ItzSacha_","Albb_n","stxphanieeeee","kakojkjk","Lord_RobbVII","MrLagyhka","AdidasHun","Pvpmaster44","ScimiTaR_","ZrBence","Frezail1","Xaiati"],"WC34":["EternalFireice","GodsLeftNut_","MonOkL","DomixCZE","OnlyFansTM","TAD3790","NoMartel","TomieIto","A4r4","Absolut_Melt","MySnoww","weixun","Witaker","SaltyBurrito385","Z3dRick","LekotWarDenz","LoneWolfx7x3","Stormie797","flxwly","_neferpitou","Dexuuuuuu","Stooets","Ameshi","Fathom8946","daance","GoujonVrac_Jr","LuCoolUs","Bb123gogo","geraltofbodrum","Jo_Gama007","InnateGlobe9377"],"WC35":["76vm","Jqkeup","pokefreak134562","PicoBlomst","czad","iPrah_","DoneFear","Yalin1009","ukkiman_","BlackPorsche","Epilogue970008","MrProPlayz","Rage_21","i5hqo","LaMDaKiS","BIBA_BOSS","Slobbadog","D1uLaSing","isacplay","LeeresInventar","MrVoidGuy","SplaTunes"],"WC36":["Justin12529","_KingMark_","Zockergirl0903","neonduckss","cKay10","Hue_Sans","zullinq","Feueristic","Stockjamin","IvanLeung","Methmatics","QUENATHRA","Mpixell","Feeely","Mcti","Charmira","Sl4zz","jikutis","yoloswordmaster","TomR24","creeperowman","conqueror_gaming","Tatijn","Lucas_Pix","skyblue5741","0WithoutTheAsuna","Ruslikan69","Groffles_Bear","Poifect","The_chcicken_egg","TheStalked","ughAlastair"],"WC4":["RustyGoogles","MagieWald","KMLOPK","Nesin_Amatias","RNGLifesGood","R3CE","umaiwa","dhcy","Alloy22","KanozyOwO","Spekus","LordQualle","Dream96","PolarBaeJr","Mini_Mumbo","blanoir3298","thebigcnu","Nayoline","Liyumi","SaruV","Doggy_W00F","Twandhi","xCrownx","DaCharge","Catl","JeroMC","jamster_roks","CLOBXXL","Lousyre","Skypedia","Dracsono","Orionid","Ingwee","WeaponMerchant","Kroko_fant","ShirunaYuuki","slumpyslimer","schuffrich","WaffleWrecker"],"WC5":["adairh","Metzav","adeovilis","Eisengolem302","widoww","cqlli","KazuLovesU","Sosodistrict","Weskosp","nick123987456","Mackomick","Sosobkdm","MauTrau","FireWizard123","Hedgehog_Girl","Maximowskyy","ghisr14596","Rasrass","AquaSnow_","Dresrosa","LexyHartman","Jazzzbow","1280p","Player780","Daniel_Is_Here","andlap02","Jutonix_","RochenBluete546","Reverse_TH","NOMOREWORRY","MinimoxHD"],"WC6":["Seagazer","jhil","laxey230YT","EddieED","Draco21","Cloud_Dash","_Layer_","HiraganaL","RomainS69","toothly","Soffika","demonofthevoid","Perfekta0902","ha15226","AshZwynn"],"WC7":["dbc1201","RussetMantle","kousn1029","Gumbull","NekoQnQ","LordLightSpeed","deliciousJI","MemTim","LolyKatana","BraveFox2000","KingCarlXVII","Termigamer423","Aut_Chris_","jsrwashere","toppukota","256M","Ekarita","Harrison7209","Mr_Lau","zNotDiamond","Wullllf","diimitri12","IceWarox","Squimble","Kronossphere","GiornoGiorvanna","QueenElisabet","MlyuL","RoboNite"],"WC8":["Uwabio_","Maxdadutch","XxxpvpxxX12","Longd1cklos","DasMedium","Amizziko","Grasein","TwinZiito","Kim_Bong","Sakuzei","DeepLilac","_Chipla","PanPouCz","Sthalln","aay_Panini","Jaina_UwU","Mr_StrawMan","Mannagryn1","Aratorg","Kariyot","xkumaman","Faunder2002","Flaxxes","Asatti396","whyyEV","Osmierk","TwilightStalker","Skullbra","sjomp","MccNugg","z115","__B4C0N","TurkeyChan","1847D4C","PeckoKrsnaSlava"],"WC9":["ctas144","Nepttuune","Ian0822","Zekca","Nitrogen7","Koni75","Ropie","Alkalosis","ARandomAsian6969","SynthesisCT","RelXis","0lz","Crazy_potato11","Locopelle","RisenEzura","MigatteNoGokuii","Quadruple_A","Ellia_","Jacky_Kwan","ImpostorMongus","thatwolfie","alist22","KouliCZKa","Sdrogo_Marino","SugVon","IamFye","LeKoi_","Doppish","WayaBoy","Nieke","TemaSeriy","Mns_Hello","Curtis_uwu","kamilereon","MMG_Tom_TW","Arm9nam_privet","5_29z"],"YT":[]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '153'
      ratelimit-reset:
      - '24'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
