interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/search/skills/%5Ewoodworking,alchemism
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/search/skills/^woodworking,alchemism\",\"code\":200,\"timestamp\":1629227876236,\"version\":\"2.1.0\",\"data\":[{\"name\":\"Acid
        Magma\",\"tier\":0,\"level\":91,\"skills\":[\"TAILORING\",\"ALCHEMISM\"],\"sprite\":{\"id\":378,\"damage\":0},\"identifications\":{\"POISON\":{\"minimum\":90,\"maximum\":100},\"WATERDEFENSE\":{\"minimum\":-10,\"maximum\":-8}},\"itemOnlyIDs\":{\"durabilityModifier\":-49,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":8,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":-90,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Acidic
        Blood\",\"tier\":2,\"level\":43,\"skills\":[\"WOODWORKING\",\"WEAPONSMITHING\"],\"sprite\":{\"id\":441,\"damage\":0},\"identifications\":{\"POISON\":{\"minimum\":140,\"maximum\":150}},\"itemOnlyIDs\":{\"durabilityModifier\":-65,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Acidic
        Remains\",\"tier\":1,\"level\":102,\"skills\":[\"WEAPONSMITHING\",\"WOODWORKING\"],\"sprite\":{\"id\":351,\"damage\":15},\"identifications\":{\"HEALTHREGENRAW\":{\"minimum\":-60,\"maximum\":-50},\"FIREDAMAGEBONUS\":{\"minimum\":9,\"maximum\":12}},\"itemOnlyIDs\":{\"durabilityModifier\":-74,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"7-Yottabyte
        Storage Component\",\"tier\":2,\"level\":90,\"skills\":[\"ARMOURING\",\"WEAPONSMITHING\",\[...]
