interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/recipe/search/healthOrDamage/&minimum%3C11%3E
  response:
    body:
      string: '{"kind":"wynncraft/recipe/search/healthOrDamage/&minimum<11>","code":200,"timestamp":1654609143106,"version":"2.1.0","data":[{"level":{"minimum":1,"maximum":3},"type":"BOOTS","skill":"TAILORING","materials":[{"item":"Refined
        Copper Ingot","amount":1},{"item":"Refined Wheat String","amount":2}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Boots-1-3"},{"level":{"minimum":1,"maximum":3},"type":"CHESTPLATE","skill":"ARMOURING","materials":[{"item":"Refined
        Copper Ingot","amount":2},{"item":"Refined Oak Paper","amount":1}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Chestplate-1-3"},{"level":{"minimum":1,"maximum":3},"type":"HELMET","skill":"ARMOURING","materials":[{"item":"Refined
        Copper Ingot","amount":1},{"item":"Refined Oak Paper","amount":2}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Helmet-1-3"},{"level":{"minimum":1,"maximum":3},"type":"LEGGINGS","skill":"TAILORING","materials":[{"item":"Refined
        Copper Ingot","amount":2},{"item":"Refined Wheat String","amount":1}],"healthOrDamage":{"minimum":11,"maximum":14},"durability":{"minimum":175,"maximum":182},"id":"Leggings-1-3"},{"level":{"minimum":10,"maximum":13},"type":"WAND","skill":"WOODWORKING","materials":[{"item":"Refined
        Barley String","amount":2},{"item":"Refined Birch Wood","amount":4}],"healthOrDamage":{"minimum":11,"maximum":13},"durability":{"minimum":207,"maximum":217},"id":"Wand-10-13"}]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '161'
      RateLimit-Reset:
      - '57'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/recipe/search/healthOrDamage/&minimum%3C11%3E
version: 1
