interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=territoryList
  response:
    body:
      string: '{"territories":{"Ragni":{"territory":"Ragni","guild":"Avicia","acquired":"2022-06-06
        08:09:15","attacker":null,"location":{"startX":-955,"startY":-1415,"endX":-756,"endY":-1748}},"Emerald
        Trail":{"territory":"Emerald Trail","guild":"Avicia","acquired":"2022-05-27
        01:59:15","attacker":null,"location":{"startX":-615,"startY":-1530,"endX":-436,"endY":-1652}},"Ragni
        North Entrance":{"territory":"Ragni North Entrance","guild":"Avicia","acquired":"2022-05-31
        16:57:08","attacker":null,"location":{"startX":-944,"startY":-1761,"endX":-818,"endY":-1859}},"Ragni
        North Suburbs":{"territory":"Ragni North Suburbs","guild":"Avicia","acqui[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=Avicia
  response:
    body:
      string: '{"name":"Avicia","prefix":"AVO","members":[{"name":"birdiefly209","uuid":"4d9f8bfe-67a9-432f-b120-72536a88bab1","rank":"CHIEF","contributed":28409979,"joined":"2019-08-26T00:18:50.064Z","joinedFriendly":"Aug
        26th 2019"},{"name":"Albb_n","uuid":"f9115f13-135b-4e95-9419-1abd76b54e0c","rank":"CHIEF","contributed":30219741892,"joined":"2020-08-27T14:35:28.892Z","joinedFriendly":"Aug
        27th 2020"},{"name":"Salzgurkee","uuid":"238eb2d6-f214-4db1-8d52-456c0c7ebb03","rank":"RECRUITER","contributed":21537736,"joined":"2020-11-14T02:01:10.711Z","joinedFriendly":"Nov
        14th 2020"},{"name":"Mole_","uuid":"28a323d9-2ec7-4d38-ac23-7b6789bfa5a6","rank":"CAPTAIN","contributed":30376284,"joi[...]
