interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1628428158,"version":1.2},"WC1":["PrismIfer862","CatsOfWynn","_PUDDING__","Koalaz_","ilyShouko","xPook","Its_DiiViNE","Maarcus1","NeonRider","juliusbl","Pepijnbe","DonutKing26","M3l0N1njA","Soul_Ability","SHOham131","AgentHigh5","JaydonTheWarrior","Heroically","Maarcus","LittleBunnySam","YTW_vd","K_Gun","Hello_Im_Snow","GatoVoador"],"WC10":["DuckyHe4d","Lukkero","MaybeFAZuH","FeyZor","Inscolosus","SuperiorBun","Riderixo","GeistFighter","Aryaaan","Shadow___Phoenix","JFrost_","Charzzan","Dia1012","LeTritonius","f1uffyCat13","Kyara1","Ab0t","Amankman","SpeedyA","Hwidmolis","DeadlyGoose_","Keolleang","Gakssom","Sk_lled","GreenStorm","Spexys_wifey","MarcuuusGottheit","Sakyul","Catl","Ahrtd","DinoTome","lavisgaming","ViniLeati"],"WC11":["Sivrel_","AngelTheNeko","FAZuHMC","Orienor","TrfAle","Sayori_","DaddyIbby","NTNS_Seni","PanderMoon","TemaSeriy","SayoriMC","Pyradox","Fowlgorithm","E1ian1","nikita539","BlockNorbi2011","anatomyy","Heath__cliff","Bearfacedsoup62","LaMDaKiS","Bogtnt64","The_Gold_Bunny","Caiowi","TW_HHH","Oblit_eration","VEGN3wow","Stump7235","C3dwow","PatzrikSan","dariustgame","lgsw22","XNellaplaysX","Flitgay","KindaSquared"],"WC12":["Mini_Mumbo","CIA_larper","NecronHandlee","TomR24","AlenPro56","Heilfoxy","IEnjoyFemales","CarrieChiou","Dracsono","SaruV","schuffrich","slumpyslimer","Costep","SleeepingSheep","Skypedia","Doggy_W00F","KyriosSK","KanozyOwO","Cabalion","DqnaldDuck","Shelly_qq","Skiewie123","Qd2","Mezo998","Moshii","Belly84268","FloMiMoTV","Alloy22","satoorn","danyadan2222","fusiongames","Sucuky","acefs","Listen2TheVoices","DARE_Memez","IvorAbisson"],"WC13":["kamilord248","cyrus_lam","FortuneChicken","Galactic3","RiderTest101","Sedau","C00D","BlockMaster_5","nick789000","deliciousJI","Shomari","MikozR","hoood","YTme","ThatBossEthan","Albb_n","cup_cake_queen","Tehiva","HelsoLerendary","ORCUN5000","SkyLegoMan","yukkuri_sitai","Shobez","electricwolf5321","Ness1254","Darkphoenix9732","Hiileike","Ehrenschaf","Boscosogood","sanes541","lord_ciasteczko","fedianofoXxX","Blue_gaming_DK","soro0709","MaxiWaxy","KarlosSCP","CelestiaLove"],"WC14":["kurmiaponas","SkitVenom_","GrandmaLeesa","CE_Cute_toast","Buniverse","faiolino","Ere256","josei456","stxphanieeeee","AmaRaku","PatayKa","PvPTheBestMyTea","Todaywater55","Kaede_Akira","applehero1","PK2006","givly","ojros","JoshofPhoenix","DatMoonGamer","terry7414","noych","Kaphaen","Kliko","Lord2014","Silera","CodGod","Duesus","Louveyris","LeethL","tom_302","W0lfraam","Milomoo7","LkD_Vinici","Nriz"],"WC15":["Stale__Martyr","Vestfal","LordLightSpeed","84v","HeroHanex","_OatMilk__","SektorOdin","StardustHaya","Rocky579_","Vladuyi","Sergo_As","Dakriii","NickerGotico","Tuurender","Rabacz","Violetwizard192","SolyTerre_","Fuge007","Sir_Charlesworth","Fufutis","Jxisoo","Wresp","SignatureFail","Want_a_Top","Z3dRick","oxih","WizZzLe","VonFhita","KouKouChiao","Crazy_potato11","heleltd","destroyer98076"],"WC16":["Coinflip__","White_guardien","MlyuL","Omega5454","proektor_viktor","laswame","Hi_im_ZZ","Xx_blabla_xX","slaxstein","RiksatBacsi","_polarpenguin","Nekumaa","blue_sneaky","SilentCombatant","EnderFriend31","Godii","Epilogue970008","JediSiaxe","szben14","ALEODERSO","MeDI0","TruisticList304","superguambanana","Skypoe","mantux5","alzack12","O_lav","Afyedoh","carryIdriss","V1Z3R9","BeddedNoob","torix007","SentryPickle","Enuhme","Marci2007","Queen_Gooby"],"WC17":["ppfart","Xavier_Lizardman","QM_D","spnl","onlypain","_t0kyo_Z","Fishasourus","Frxstybeast","Ib_s","DasMedium","Z00mane","iMLiTw","NOMOREWORRY","ha15226","p3mikka","Shidoex","UIChozay","RedBull_x","NotVerySocial","PHGz","HuynhDucPhu"],"WC18":["DaAwesomeOne678","Paxep","Rockbay","molojbtw","NSAI_OD","BombermannSklave","Moonie","Hauntingly","Twice_Drowned","SerMartyn","Ren_Baki","Gamerforthewin","SwimmableGuide9","DGTforthewin","Altqd","Haru_Haruto","LegitSkill_","Buildmaster21","AntoineHWL","xSignify","Feudzi","ltrltrltr1234","Dekeido"],"WC19":["Naraka00","PurpPunch","Dracium_Z","Mamogo","pialop3215","Rabbit_Gaze","ALEXMCDIG97","stickedystick","tcdcbs","PolarBaeJr","CorievAnwenryon","ItsybitsyJewelry","Lisachristin","pearl_xD","zChristos44","JustinBreadoux","Kiyan","KalaBot","Dragon_Meef","FiresparkTV","Nayoline","KirigayaAkuma","Chokanan","CantLie","CocoKittyX","Frogwow","GirinGom","MrSohob","Q_Mitoboru","Jqkeup","Ingwee","Karixon_","Sop_p","Susmaher","gonzalo13","PeledGuy","MrLund","Minecraft_444"],"WC2":["NekoAct","IK_TGP","Linako","onn1z","Tiger5er","Passiflourist","Foiler","alarc8","Sutela","Skiddly","FukooSan","mrcraftyketchup","Zenniferr","WhoDisLol","RandomHomosapien","Cow_Milkchan","_ItsSky","LexiGirl243","GoodOleDusty","LillaNyckelpiga","Mwtt","ThomasMC_","slime_lv_1","Itiyu"],"WC20":["sokosQQ","Corona_Weedus","Rodlip","aa524524","BurningAspect","tukorama","BulbChan","Kewbin","MigatteNoGokuii","oSkyD_","Zinnig","Nieke","TOMATEN_GOD","imperathor02","T307","MasterofEternity","LordQualle","The_Androphoniac","Dream96","Tania_Play","EnanaSaiko","thebigcnu","MagicMistake","jhil","PokemonGamer11","Maiev","CaserMaser","Noraxa","Dnwr"],"WC21":["MauTrau","UwUmenow","Chiciboy","SterrenkijkerNL","mosukun","yummydonutz","Demonic_Reaper13","mathias029p","DarkLordTino","ElWolf","Doctor_Pindsvin","brandonZ89","20W","Zephyrforest22","Eve_ring","brbl","cookie_from_heck","EMT923","micnm","CuzImTimer","Nitrogen7","Koni75","ChEN2205","nHexanol","DinoRawrr","Cliffope11577","rickertff","bikesuper","FluffyDuck10","btwPiggy","Maarcus2","Borkyyy","Calluum","orz__","Kroko_fant","Wrelf","DeathZoneKaishi","0lz","Lizsy"],"WC22":["PolarBae","GetNaru","6_Black","Skidooskei","FireWizard123","CookieWeb","ToaOfIce34","FlaxMainlevel","TAUPIX","JSEpic","redorb7","CasterThrone","Hechey","N1unar","ThEpicFerret","Sucram2004","FellowBrian","Exot1c","_Chipla","feruram","babyalchemist","RobBM","iMxrk","iTxylor","bausk","Auxilir","Ninanas","renoegert"],"WC23":["_Nostal","Dr_T_T","CierraAnos","EmpireofSindria","lilianxmoi_","janos0001","canadeean","shutupmatsuda","sxoeee","brendon94city","Paynike_TV","MouthlessMayhem","Wasverzachter","Captian_J","Wheenchrue","Evil_Viktor","Namklun","Infinite832","Maxiking1610","Miozzzie","uNmLongy","Lentse","Zedronyo","Vhispers","Tomki1","Rikord","anchan_chika","TheTrueMVP","OoBlackoO","Vali_the_Elf","tairitsu__","CManSG","n00body"],"WC24":["Pomelo_Roy","Qifish","Wakamodoor","snowball3130","xLisa204","TransponderSnail","Kuruyia","Mercenary32465","Huanying_TW","Luna_OuO","Ihortop175","CWlS","Jason_Jotaro","Marco_XD2000","Mad5keleton","ZillaJr_YT","Suyarumi","boneman635","writesnowwolf","FeArMeOnYT","PhantasmWisp69","Gabros25","ARICK_08","Lalacent","Forever_kcl","gamer122333","HXNJV","zliabli","Blackout_RL","BigHero6_"],"WC25":["GreekGamerGR14","mrgordon145","vForGiveLess","MeFake","JustDr3am","GhostWithAxe","GlassM","RickDxp","Poyia","_Charlottez","MahdiWSR","Leni11123","MalteErik","TheWandererKarl","BurstCreeperBoy","Mirmit","TigerChopTony","RussetMantle","soheil633","adeovilis","SadMachine"],"WC26":["LuCoolUs","ChaliBRplg","NotFAZuH","HiraganaL","extrnl","water_jet","BonkyBob","Seriskey","man42","MagicalCarrotXV","DomStarshark","Telerr","PEKO_peko_pe","raen_qt","Axymerion","MrGumelo","SugerRush3","BetaWiiia","ichi0110","MacTheSnack","Shok0Shoko","CZpatron10","GamerHD0106","Mini_Dollar","Funumunuh","Ssugarball","Sakespear","Mattelau","natboyy","Jessica807","Dan4ik_","frankoceanfan12","Flo01","_DAKHAN_","Gmonge","Memokgg"],"WC27":["LordGoring","ryder930320","hollowBloc","shadowiness","RKWHY","BeefBurher","Yeafy","MaggiMa","EgdarTheRuiner","Repainting","SciCal","MasterM1000","Bakson_Hunter","WayaBoy","CatonaMan","Triumph_OuO","LootBomb","Mr_Smumookee","PhantomReindeerX"],"WC28":["KingQwerty1000","XxEcoxX","ThrustfulElm","Cyb3rNisse","love_seal","Sladciy","Kleah","Crispydreams","Yume_Yozora","LibbyClaW","NoCaPla","Sir_Kino","Katonica","Ksteve010","GetOnMyHits","Senni0312","LittleLenny","BinDerGuteste","Ronshalom117","_Xanoks_","Thelastsurvivor1","whatcolor","BloodlustBlack","Nesin_Amatias","EelEel_","DernicWood","Lead_2_Gold","Slimeblader","VorteX_TerRa","Permia","xiM7MD1","WoodCreature","Deadkokszi"],"WC29":["Saile322","HuntAktiv","MagicManiaTV","HappyMeal_MC","DerMister","Smhxd","Superstasher","Jevandu22_","FakeNutella","NMWL","daysuki","DemonHD","ImPocket_","Dead_In_December","Papageikordel02","Fredocoaster","chezxx","xCieJe520x","NexStargaze","FauxFauch","StarFluxGames","Ramous","DerpBeerHk","_Kaning","fruitmelon","in_sky_wars","ZayRonS","DynamicGatorboy","kenny94046","Lord_Earlyboy","MrSnupe","moro10","Cypekrown","NulzFranklin","SupermarketBob","Surved","cchyphon"],"WC3":["ChGravity","Qustark","Xx_Pig_gamer_xX","NekoQnQ","DragonMaster26","AitchM","king482","DBD_Mr_Fluffy","EddieED","Bellozero","byJxn","bl0ckbuster2k_YT","BlinkingBoat667","eattherich69","Jamiryo35","Walbos","ByEge","cKay10","Katze1905","Nikzzzz","Blokiman","GrizzlyChicken_","ananastv","TheMasterMarko","swaginator1488","Phextod","SlaYinLaSer","_iLikeRoses_","Vlexander","Celia623","AnalnyyBur228","PetitYaourt","Mingigi"],"WC30":["Demangevil","TheCreeperCow","Veenos_01","Glisly_13","fekolo","ughAlastair","DNCNguyen","JershMerx","megapixelflame","Piouf555","Dorickick","Ledz01","1_Blockhead","I_am_handsome1","magikoopamagic","Slimeytunes","RedTea_","a29246353","FelpizSzS","Swifty_x3","justacoasterfan","mr_trangue","Mythicized","Soichiro1000","vage","magphi","boxy_spiral0","AshDiesAlone","watisIQ","Deztinationz","NinjaSlayer26"],"WC31":["_MasterMeow_","Matsouza","Terranhort72","Kaufman_bros","Lilbreadstick","iPerblacker","HarpKnight","KowaKuma","kotasek","castormine","uwuellie","WolfbloodX66","Hyxolotl","hiro_shin","EluxET","Joe_ovo","AMcT","Sasi11","CasuallySophie","SaoPvp","skinnysausages","Hadamo03","Dabsonlit","Omnivi","goudman","iLonelyMoon","Vaxture","Eldrich75","MasterOmega7","CutestClaire","OK_WOW","Corptain","The_Cosmotist","Ender_Lexer54","Fanxiang"],"WC32":["DieAnzeige","I3en_w","PuchongBoy","SongofSnow","FloorOfLava","NagetsPlayYT","winbran","Rydogu","HalfX","Starle_TW","ImNawc","ChocoMuik","Mio_Lio","Good110","Silvel_","widoww","Rytronix7","ErFonso","_sagelicious_","Stoopid_Dog","Pododeng","ruzzelld05","hudang12","JunletTridner"],"WC33":["GN_0210","Puaro_TV","RJ_lostdeer","Nahwari","Lionnier","GrizzleBurp","LindaMaple_owo","R3CE","SansAtionnel","humse","dutchminer2011","hundog24","Thagoi279","Mailina","icanseemyhalo","Hyplex","xX_Krusty_Xx","Aezerie","Ic3VIruS_","Zr_Ray","YuxiCatStar","Min_Game","Jhin_Sea","Liyumi","tofu360","Austrocat","pat_plats1234"],"WC34":["Dirt_Mogul","1blackvenom","spitzball","FAZuHst","zHokkaido","PHEMEALONE","nezerto","TheSebah","_HIDAN_AKATSUKI_","Tattyhat","scudr","MarkusYantony","vassilas","Mystic_Lightning","Errty","sigmund_fred","SCP_Night_sky","LC_Clarence","D8VYD","19kss","Darkrenga","BadFCA","Dra1ned","KhanhMai","Dsl_zero","ClawUwU","RandomUwU"],"WC35":["HK_Free_HK","Jacky_Kwan","toothly","Mesyder","dhcy","ChocolateBiscut","PakHong","ezzath","Ghost1John","Ellia_","DrOfDoom","MnM_13","xxSyrox","JustViper","fotmiapl","IcyLixZ","Budiono","HerobrineTheLord","Shutler","TurtleDz","Atomix1234","justGatze","bananageeee","AniBigZ","xSkiing","kmaxi","NHC22"],"WC36":["Luke931110","BNA_del99","PrinceGhost","MemTim","HotKing","S1imeTea","Uboatbear","Demaster112","Veroooo_","Skulldeggerry","ZahnpflegeOP","BotHaiKala","Ezpeon","GrizzlyKripper","GrowlitheGaming","BNA_zero","Arcade812","RoboticCow","Luxroar","Nekanu","Knieschleifer","darkisaac25","IShadowD13I","biLiam_","Alex123xela321","DarkEndominator"],"WC37":["NairodP1998","Odiibe","taesunsong","kimdoggi","YuriDaFurry","GixntIcepro","YamatoImmelmann","MINejun1","AstroSprout","smartieknh","L2nOxQuu4","Azares","Connor1736","LightShadow_live","jedaythailand","Len_Uchiha","MaxiusEden","_VIIX","Bliss_cherish","smuuki_69","arufadayo","KenMl0z","Monahru_","Gatsy","iBug","Rage_21","huyming","Necco99","D1uLaSing","CremCTQ","CramCTQ","FemboyNeko","trickr","_jaded","Anteabelle","K1K0_ED_","TataCheck","TheTeasip","ExtraLemonZest","Decizorro"],"WC38":["Stooets","ChrisHelloThere","KittenHasSlime","ggxd1324","1Mercyy","InkCassette","Ssephiror","GODDON3000","IzPat","Arqito","Dermpel","sharkiek","Lalatera","Dongtas","Vlri","TonSS","Marginalcat0410","sRann9","Leqito","loexter","Rin_23","Arctic_Monkeys","temo_online","DJBillGates21","maximglueck11","LittleFriend_","KarenGillan","dpdms_04","dwinklewort","Japaner1234","TheKofiX","__BadName","cream8213","DarkNovy"],"WC39":["ElfinAwakening","Nightdara","Elephelk","FSmile","_ItzMiwkaYF_","RedKnight93222","Tryhack","DragonairKnight","kumquatmay","AlpakastarSC2","Lateguy","minatur","KippyDoodles","bqof","Sacredfuel","Onteri","MikuLaGan","funkymonkey126","Neutrao","MouthToilet","Jakai_TM","Epper","jazzy1704","Stefan_heida","ViveLaVita","_Evan_0820","Shaltie","Hosino_nagisa","Gamerhuman96","SheepMindSC2","MinYoongi","FalconLim","Julinho"],"WC4":["Xenon0_0b","AquaticBq","mmfmgmghggmgmffm","Carillos","Alkyd","Jonny_Gamez","HotNons","RisenEzura","Kingjulian019","zMars","CLW50","Draaipunt","_Malroth_","X0reK","IetsCools","Apple___________","LupusBuilds","topa1300","SirFlat","Iogepryga","Nevilleperson","LuwuNowo","Germanium_","LemonSherbert04","H_Milky","Jerry_Senpai","Sdrogo_Marino","DasWurfSchnitzel","Kaos_nexus","Kashikage","DudieGuy","LorenzCastano","BeaMiller_","Diero","mini_mamo"],"WC40":["Ruckblick","TheWalrusMaster","meyf","Lassehoj","xByNilzz","WMGameLive","TurtleTurdWaffle","Sandiii","Dqnik","Perfekta0902","BadLife_LY","ryleygracie","AIeexx","lsy6026","Cloud_Dash","MonsterFlo11","Eizen__","FifthCentaur846","Nearwynn","LvckyKnqck","LucarioGamer222","NiFuLa","Lollertjes","YouOne_","DreamChasr","Parralex","joran2805","AdventurerPat","kwildspirit","zSuccubusGirl","Frenen15","BoubouBear","katexmp","darkaffair","GiveContraband"],"WC41":["HamKara","E_Doom","okamichika","Ein_Jojo","Dqvola","Fire_Cristale","facsio","Taisan50","HageshiH","_DarKShaM_","Acepexx","ObezSoraka","Cecilil","blanoir3298","jjpowerman","crylforce","Mitchelhof","Bysse18","Samppa123","Mynee","kusasap","kijio","SavageRevolver99","Bambyk2703","MMman_2546","FRANCOS","L4v4J4k","Ser_Havald","fandasliz","Samsam101","Lubecki","Tepgam","probablyChairs","Xenorhaste"],"WC42":["MrInter","DoTBerT","tobias2102","YESEES","favid93","Bimnir","latexio","Visablie","BubbleTiger","Su3ht_Jon","TimeJuice","_xBAMBIx_","Dark_Lord_133","Lord_Wincent","maxhaylock","Psxchotic","IamPalidan","Ryanpmjava1","rainbowherobrine","marimacomaro","greenishpenguin","SurerThrower425","Kariyot","stuffmaster","Electrofunk","GK_boy","ArielYotam","Hatfessor","bga8864","robogov","RationalOtter75","Ala640PL"],"WC43":["Alberonaa","Schmalbein","MeneerPinguin","DarKBestDBTH","Bart_MC","vhsAesthetixs","LuvU4ever","Ph8enix","Waveworn84","SnowNightOwO","Kipe47","KenyMonster","briourbi","CunuNyis","ECH_sneaky","I_Am_Stoeptegel","Spadestiel","Airdoggo","Rumonum","aurel5767","_GoldenGrin_","JankoK6","MastGeraldissimo","ronespresso","Lhz271","87Cookie_PC","POWER_PING","Castelaization","WOL_13","D3vi","xxBelle247","Chwyssie","Cythorax","Ciruzo"],"WC5":["Geralt1007","QuantumShift","LordchenEnder","KnotheFlo10","BC52","Zeerion","_NightmareXD","Gppagui","spammob77","AddictedStoner","Bfallen","Feeely","B0R3D","Xhnx","Cryecr","Alex_Evil","Frontlinecrazy","Azurame","01zys","___cat___","TheNewN00B"],"WC6":["TowYUE","DrAltoTempest","TobiKaboom","mwur","ImAluneth","OwU___","Zerfex","Andormu","Shells__","spirotix01","ZanderbkpV2","GalerienDuTurfu","MrGhostune_","AVinc","PumpkinSlasher","kannNM__","ADRlAN_SG","Papa_Raptor","Ronald_Who","AABatteries_","stewie_4_ever","Rapteh","GlitcherIsTaken","Jamer_theGamer","KkangAn","_Catastrophic_","MustachedSquid","McPlayHD","Sp3edPL","PingoJ"],"WC8":["Mr_Rabbitman","weihzoo","DogDimension","Drampersad","Mathev","BadMinVIC","schlange1313","txst130","Pengy2552","TW_Realex","TruePex","DoziMC","C4trueee","DidoPat","JD_IAN1012","IAmReal69","Plueys","l_____","raygotsai","xKananMariMoon","ImpulseResponse","shadownova008","W_enderman","Haruto6088","zivave","theseaemperor","Crime4810","Tobi_the_hunter","vaxjo_cze","NovaVolnera","Superior_Coco","Spl1tz_"],"WC9":["Barmanand","Yasiksis","scyu","wei__joe","_s0y_","Asert22","Blockiestone82","ImSirBacon","HuanFeng_","willie0227","oCheng","mohammadzh2006","IzBizBoz","BS_Wendy","MasterJosef","JPSatas","_Elleria_","lightdeat","EchoHD_","MaksimRim","TheDweebFace","Xeno935","LeWolve","_ThatGuyAshe_","Joltux","Cemx","RU5_4III","VioletSalad","Konenala21","MiniMandrake","nika_says_hi","SrHaze","Asatti396"],"YT":[]}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
