interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/list
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/list\",\"code\":200,\"timestamp\":1633164104369,\"version\":\"2.1.0\",\"data\":[\"7-Yottabyte
        Storage Component\",\"Acidic Blood\",\"Acidic Remains\",\"Acid Magma\",\"Active
        Fireball\",\"Adamastor's Faceplate\",\"Accursed Effigy\",\"Adaptive Tissue\",\"Adventurer's
        Diary\",\"Aged Tome\",\"Acidic Solution\",\"Agullo Beak\",\"Alga\",\"Algae
        Mat\",\"Alnamar Meat\",\"Altered Ash\",\"Ancient Coins\",\"Ancient Currency\",\"Ancient
        Heart\",\"Ancient Metal\",\"Ancient Moss\",\"Ancient Panel\",\"Angelic Gem\",\"Antique
        Metal\",\"Apple[...]
