interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=pvp&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1654609135,"version":1.3},"data":[{"name":"Ceciliya","uuid":"2937deae-822a-46a8-96f3-2f2a6b2a5fe6","kills":103250,"level":1467,"xp":94568390,"minPlayed":20684,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"num":1},{"name":"Spases","uuid":"76fb11e7-c03a-46b3-9c02-f8dc1bea0397","kills":49427,"level":1474,"xp":253244559,"minPlayed":42051,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"BLA","guild":"Blacklisted","num":2},{"name":"Erasc","uuid":"7b18a580-a737-4233-95a4-90da72506f23","kills":21009,"level":1484,"xp":58895113,"minPlayed":55693,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"Fux","guild":"Fantasy","num":3},{"name":"Psykko","uuid":"b99e07f1-ec75-4b91-9316-7c063ebb79ef","kills":16398,"level":1456,"xp":580303220,"minPlayed":122449,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"CATA","guild":"Dernic
        Nobles","num":4},{[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats","code":200,"timestamp":1654607430772,"version":"2.1.0","data":[{"username":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","rank":"Player","meta":{"firstJoin":"2017-06-12T16:54:46.948Z","lastJoin":"2022-06-07T13:09:31.687Z","location":{"online":true,"server":"WC1"},"playtime":215182,"tag":{"display":true,"value":"CHAMPION"},"veteran":false},"classes":[{"name":"hunter","level":1678,"dungeons":{"completed":306,"list":[{"name":"Decrepit
        Sewers","completed":4},{"name":"Infested Pit","completed":4},{"name":"Undergrowth
        Ruins","completed":5},{"name":"Corrupted Decrepit Sewers","completed":14},{"name":"Corrupted
        Infested Pit","completed":8},{"name":"Corrupted Sand-Swept Tomb","completed":214},{"name":"Sand-Swept
        Tomb","completed":12},{"name":"Corrupted Underworld Crypt","completed":9},{"name":"Underworld
        Crypt","completed":3},{"name":"Ice Barrows","completed":6},{"name":"Corrupted
        Ice Barrows","completed":2},{"name":"Eldritch Outlook","completed":3},{"name":"Corrupted
        Undergrowth Ruins","completed":13},{"name":"Fallen Factory","completed":4},{"name":"Galleon''s
        Graveyard","completed":5}]},"raids":{"completed":209,"list":[{"name":"The
        Canyon Colossus","completed":103},{"name":"Nest of the Grootslangs","completed":25},{"name":"Orphion''s
        Nexus of Light","completed":81}]},"quests":{"completed":259,"list":["A Hunter''s
        Calling","Point of No Return","A Journey Further","A Journey Beyond","The
        Olmic Rune","Mini-Quest - Slay Dragonlings","The Hero of Gavel","Royal Trials","Mini-Quest
        - Slay Angels","The Fortuneteller","Mini-Quest - Slay Conures","Recipe For
        Disaster","Mini-Quest - Slay Creatures of the Void","One Thousand Meters Under","Mini-Quest
        - Slay Astrochelys Manis","Dwarves and Doguns Part IV","Mini-Quest - Slay
        Ifrits",[...]
