interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=guild&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1633164090,"version":1.3},"data":[{"name":"Emorians","prefix":"ERN","xp":88243917052,"level":101,"created":"2017-12-17T21:45:54.124Z","banner":{"base":"WHITE","tier":6,"structure":"dernicBanner","layers":[{"colour":"YELLOW","pattern":"STRAIGHT_CROSS"},{"colour":"YELLOW","pattern":"CREEPER"},{"colour":"YELLOW","pattern":"FLOWER"},{"colour":"WHITE","pattern":"RHOMBUS_MIDDLE"},{"colour":"WHITE","pattern":"TRIANGLE_TOP"},{"colour":"BLUE","pattern":"CIRCLE_MIDDLE"},{"colour":"WHITE","pattern":"TRIANGLE_BOTTOM"},{"colour":"LIGHT_BLUE","pattern":"TRIANGLES_BOTTOM"},{"colour":"WHITE","pattern":"CURLY_BORDER"}]},"warCount":25292,"territories":57,"membersCount":109,"num":1},{"name":"Avicia","prefix":"AVO","xp":106451540728,"level":100,"created":"2018-08-01T16:40:45.322Z","banner":{"base":"BLACK","tier":7,"structure":"tier7","layers":[{"colour":"BLACK","pattern":"GRADIENT"},{"colour":"BLUE","pattern":"GRADIENT_UP"},{"colour":"WHITE","pattern":"BORDER"},{"colour":"WHITE","pattern":"TRIANGLES_TOP"},{"colour":"WHITE","pattern":"TRIANGLES_BOTTOM"},{"colour":"WHITE","pattern":"STRAIGHT_CROSS"},{"colour":"WHITE","pattern":"RHOMBUS_MIDDLE"}]},"warCount":16344,"territori[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=Avicia
  response:
    body:
      string: '{"name":"Avicia","prefix":"AVO","members":[{"name":"birdiefly209","uuid":"4d9f8bfe-67a9-432f-b120-72536a88bab1","rank":"OWNER","contributed":28409979,"joined":"2019-08-26T00:18:50.064Z","joinedFriendly":"Aug
        26th 2019"},{"name":"brandogilby","uuid":"1a0081dd-f331-4e5c-a548-7b6e13ae08b8","rank":"RECRUITER","contributed":60794493,"joined":"2020-08-01T20:23:07.255Z","joinedFriendly":"Aug
        1st 2020"},{"name":"Albb_n","uuid":"f9115f13-135b-4e95-9419-1abd76b54e0c","rank":"CHIEF","contributed":27136175725,"joined":"2020-08-27T14:35:28.892Z","joinedFriendly":"Aug
        27th 2020"},{"name":"Salzgurkee","uuid":"238eb2d6-f214-4db1-8d52-456c0c7ebb03","rank":"RECRUITER","contributed":177265[...]
