interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=territoryList
  response:
    body:
      string: '{"territories":{"Ragni":{"territory":"Ragni","guild":"ShadowFall","acquired":"2021-07-20
        21:39:52","attacker":null,"location":{"startX":-955,"startY":-1415,"endX":-756,"endY":-1748}},"Emerald
        Trail":{"territory":"Emerald Trail","guild":"ShadowFall","acquired":"2021-07-20
        21:05:20","attacker":null,"location":{"startX":-615,"startY":-1530,"endX":-436,"endY":-1652}},"Ragni
        North Entrance":{"territory":"Ragni North Entrance","guild":"ShadowFall","acquired":"2021-07-20
        21:38:19","attacker":null,"location":{"startX":-944,"startY":-1761,"endX":-818,"endY":-1859}},"Ragni
        North Suburbs":{"territory":"Ragni North Suburbs","guild":"Shadow[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=ShadowFall
  response:
    body:
      string: '{"name":"ShadowFall","prefix":"Shy","members":[{"name":"TheNamesTen","uuid":"7cebb177-af2f-40cf-8cca-0fc617dcddd8","rank":"RECRUITER","contributed":147322324,"joined":"2020-09-14T08:28:25.390Z","joinedFriendly":"Sep
        14th 2020"},{"name":"lasse333","uuid":"8bb33e74-a013-4866-a90e-4bae31bcce1e","rank":"CHIEF","contributed":931889692,"joined":"2020-11-15T15:51:01.563Z","joinedFriendly":"Nov
        15th 2020"},{"name":"Sir_Sandyduck","uuid":"d3bc336e-d2de-443c-9915-fd1144a63722","rank":"CHIEF","contributed":222737816,"joined":"2020-12-23T00:36:53.303Z","joinedFriendly":"Dec
        23rd 2020"},{"name":"Asuns","uuid":"25343e3e-4543-4746-bd54-18a9a134fd45","rank":"STRATEGIST","contributed":184252470,[...]
