interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/list
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/list\",\"code\":200,\"timestamp\":1628184135901,\"version\":\"2.1.0\",\"data\":[\"7-Yottabyte
        Storage Component\",\"Accursed Effigy\",\"Acidic Blood\",\"Acid Magma\",\"Acidic
        Remains\",\"Acidic Solution\",\"Active Fireball\",\"Adamastor's Faceplate\",\"Aged
        Tome\",\"Adaptive Tissue\",\"Adventurer's Diary\",\"Agullo Beak\",\"Algae
        Mat\",\"Alga\",\"Alnamar Meat\",\"Altered Ash\",\"Ancient Coins\",\"Ancient
        Currency\",\"Ancient Heart\",\"Ancient Metal\",\"Ancient Moss\",\"Ancient
        Panel\",\"Antique Metal\",\"Angelic Gem\",\"Apple[...]
