interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=guild&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1628677099,"version":1.3},"data":[{"name":"ShadowFall","prefix":"Shy","xp":9026675919,"level":86,"created":"2017-08-21T18:05:25.508Z","banner":{"base":"BLACK","tier":6,"layers":[{"colour":"PURPLE","pattern":"RHOMBUS_MIDDLE"},{"colour":"WHITE","pattern":"STRIPE_MIDDLE"},{"colour":"WHITE","pattern":"FLOWER"},{"colour":"BLACK","pattern":"TRIANGLE_TOP"},{"colour":"BLACK","pattern":"CURLY_BORDER"},{"colour":"BLACK","pattern":"CIRCLE_MIDDLE"}]},"warCount":15145,"territories":39,"membersCount":89,"num":1},{"name":"Avicia","prefix":"AVO","xp":69920912805,"level":100,"created":"2018-08-01T16:40:45.322Z","banner":{"base":"BLACK","tier":7,"structure":"tier7","layers":[{"colour":"BLACK","pattern":"GRADIENT"},{"colour":"BLUE","pattern":"GRADIENT_UP"},{"colour":"WHITE","pattern":"BORDER"},{"colour":"WHITE","pattern":"TRIANGLES_TOP"},{"colour":"WHITE","pattern":"TRIANGLES_BOTTOM"},{"colour":"WHITE","pattern":"STRAIGHT_CROSS"},{"colour":"WHITE","pattern":"RHOMBUS_MIDDLE"}]},"warCount":13494,"territories":38,"membersCount":107,"num":2},{"name":"The
        Aquarium","prefix":"TAq","xp":90406583969,"level":98,"created":"2020-03-22T11:11:17.810Z","b[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=Avicia
  response:
    body:
      string: '{"name":"Avicia","prefix":"AVO","members":[{"name":"birdiefly209","uuid":"4d9f8bfe-67a9-432f-b120-72536a88bab1","rank":"OWNER","contributed":28409979,"joined":"2019-08-26T00:18:50.064Z","joinedFriendly":"Aug
        26th 2019"},{"name":"TMlol","uuid":"dff5bff0-ebb7-4921-aa7c-8241282628bd","rank":"RECRUITER","contributed":10521738,"joined":"2020-06-11T22:50:33.103Z","joinedFriendly":"Jun
        11th 2020"},{"name":"brandogilby","uuid":"1a0081dd-f331-4e5c-a548-7b6e13ae08b8","rank":"RECRUITER","contributed":60794493,"joined":"2020-08-01T20:23:07.255Z","joinedFriendly":"Aug
        1st 2020"},{"name":"Albb_n","uuid":"f9115f13-135b-4e95-9419-1abd76b54e0c","rank":"CHIEF","contributed":27115697578,"j[...]
