interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1633164108,"version":1.2},"WC1":["Suyarumi","Ooopsay","Ast0n3","haydox69","Lee_with_4_es","VITASZE4412","lachymoo1921","noidc","SaltyKing","NeonRider","f1ow3r_Ja2","Blueswords","xXBuster","igoligo"],"WC10":["SpooksReturns_18","Infinius","Nukewarmachine","logitak","DreamNumber1Fan","Chomusukee","Blockybfb","iZaiiTeK","0NeverOne","Eroxis","ElaireWinters","XS1ingx","Cobayaforever","nadavch","Ragchel","MRkiller_X","Democratics"],"WC11":["specter_knight_","WAZ01404","FormerlyChucks","Dw267","_Vurkanes_","hirotoy0","KodixBaldhead","LJS04","Az_igazi_Pankox","Rage_21","ichi0110","zacktracer","Flrelfy","SGTKFM","PureCloudByAir","SteveKunG","kotones","davi33","IMakeMc","s0w0s","LAUR3NZ","Sl4zz","aiZdexy","0ffend","Vhispers","Rinkashii","Pizzamampf12","limeugh","Nightnettle","Nima87","David566667","XxLight_OwOxX","I_LIKE_DIRT123","StillNotFast26"],"WC12":["Idekater","ZXsrh","BigPizza9876","HotPink_Prince","Mr_Rabbitman","1_Blockhead","Apokalypse05","valenia","Ad4m69","IMzet","MonkeyB42","zVenx_","imperathor02","Himewari","Da_BadBoi","jazzyboot","Fiffi_0815","Arheynt","Ian0822","Vinssous"],"WC13":["gamerman5601","Flager_Man","Prungon","kelongg","Har312","Taumis","Al_Shehhi","jeqss","VitaminK1","AlexBaan","LemonBullcc","Goronenyoshi","SquirlFlite","Gan_juba","PoppuZote","wilsan3","echsim","orenGr","wowew","yukkuru_chan","Forestcommando","narthoolis_","Faxxy1","Darkraft_YT","TheFrostB1te","Lblox","Topy3","Dark_Pheonix1","ItemIdentifier","soal5367","Tnepres"],"WC14":["TheRetroRaichu","One_Eyed_Pete","YTme","MrAshen_2","razer_wither","Orginality","Groffles_Bear","Aprizotic","Blade4Kingdom","Lootboy9","PyrusJustin","Temones","PadroneOmega","GARYBOX20","KayAspectia","B_enedek","PanD0rA__","cnumnumz","czekon","C0nstantPain","LucsBot","Samric","SupineCow381928","Matigrillson","Brahkas","BTK2000","zGuaapo","Ksteve010","ZyFlareon","Elzariia"],"WC15":["Mosha72","Seagazer","pomqkin","Xisys","Kraugel","Fury_Earth","KanozyOwO","WuYi","xMayow","Aussi3Mate","proha_Fox","Tr3d","muru1","Thallahhh","Bootrun","Chiccotot","ASFJerome1311","LunarLegend180"],"WC16":["Pekacheew","Spheroids","NimAspirin0206","pentahedron","JAYoung90","IWillRekU3206","ShadeLeone","CoffeeTimeNow","BlockBurst13","M8807","Shadow_moonlight","Pheonix228","Link_The_Hero","Kyykek","Ikasy_","RussetMantle","lemonalade","A_Moll","xiao_zhi__","WeLoveMemes123","Miner_HQT"],"WC17":["Fearurobi","Nathaniel_c_s","Maiev","Harsta","CarlitoCabonito","hegelund08","Shiinaz","_OutFeu_","velxz","program283","Magowo","Errkk_Skyseer","feorge"],"WC18":["fff_every_day","Rak147jh","blanoir3298","owoModix","Demonic_Frenzy","amberhoofd","Snowled_","Awwsamiri","thorjulius","BerserKY","Zorome__","Skylantera","T_game1","Pandabaa","Henricks","ArtcI","nico09x","jtlim3812","Shattered_star","Salty_Pinecone","HedgeHogg1734","zonkulous","Ghostyboy_","m1x8g","hufft","SkaletaGames","3yBHa9I_IIaCTa","Laca1011","SwedishNoob","Ho_goon","steveholdssteve","oliwa247","Tale61","_EndermanSteve_"],"WC19":["Alone_Alone_Al","SteelFoxy","Janni56","nicebruddhahosas","DRGREENLUNGZZ420","Maluss","pa05112309","Cvrtis_","Rey_Uver_Bust","birk303","YharonChicken","Destiny_Ram","zrpq","5zzzzz","Gorkensal301010","epletv4","Amenthyst","Good110","Kwasny_Robaczek","AddDasZ","MikaelUr","JarvyLarzSJ","RaiderXWhite","PeanutHero4886","_Grundel_","UnshapedPower16","Ralshido","Goblin_Fart","ShadowVYX","ChaosMelone9","Poke55","Cyayo_","spoghet","Blue243","FKYB"],"WC2":["PigPickAxe","IcyWind_040","HIMHIM2204","KaeVIII","Brodie54321","Cendred","OctoberVIII","OceanBoyVN","Keinetic_","Balduer","ARC_seal","Orionid","DudieGuy","Luky__cz","Redex27","SovietS3al","Kleftakias","owoEnz","MlyuL","Unsatisfied08","DK_Hound","Thyntain","Vopenka","Will4340","Spitfire456123","iCultish","007samboss","Lanceplayzss","Synch__","buttercreeper72"],"WC20":["YSHUH","AlanGreyson","Aelyea","Pure_Crystal","aFireBlaze","Rfakhri11","HarryJPotter","_Patriick","Prisme606","Cyana__","lavnc","AxolosG","Axlod","Camollll","Zerfex","Sparky_Jack","NazK_","XxUnicorn_uwu_xX","Salamanderlonk"],"WC21":["Priesade","Aidosang","Harru10","Avita","ArentVos","Survival_Lele","RiderTest101","theseaemperor","_Askaii","DrMuteSTEVE","blackcat2018","Eliasr0207","Counthill","Phlpp_6","yj58","SizofrenKedi","ImLexi","B765432354","Krissien","Farbschlurf","TheFloofBean","Speedrunner2Wish","PeiceOfCake","WayaBoy","thewhitemaske","Saika","EThowt1107"],"WC22":["ReddRZ","madfrog6","PsychopathSuiSei","rokobata510","disabledoctopus","Decizorro","meowmeow0510","Mr_P0taet0es","Pangalan","Twe2x","Robber001","Game_Fiendz","Xsequtioner","wigelpikel","NqRin","JazzyTheBee","Liqhtspeed","TheCyprius","iiMecro","DiDiwah","P4RZ1VAL_","Xerxesz","Galaxy89464","SwifyKitten","MoonPulse","Selchar","Albaiihts","Balzsveged","SpicyCinnamon","Bad_At_Names_Guy","CodeRKX","Grimdjo6","WithoutAScript","SnavPope"],"WC23":["craftguyL","Bas_Tech","JellyJackHK","ThEpicFerret","WarpingLight","Wabzy","NiceAndFabulous","l3lackChee","__BadName","natthaphon2550","0h_L1fe"],"WC24":["lengoy","oRight__","nu162","Sharpre","kykym6ep","F4K_Tibi_Ezz","MartyLove6606","Herob","Skyline_Michael","MR_ACME","SpaceComet99","WarpedLeaves","AjuroMaru","j3ns_k0rt","FalconLim","whxsper","Crimson_Herrings","fludsqua","SuperBoomTNT","pat_crafter07","SheepMindSC2"],"WC25":["VX14","siu_jerry0u0","FrostMelon","Siixel","_brown_bear_","KeralixYT","shahr5508","Kingsman_DE","ValMendoris","WillTMcManus","_laye","_s0y_","jameslkc","AZHeaps_","kratzkrag","WynncraftIsBest","DarkZed645","Carnish","STORM3377","Big_sity_Prolap","Greenxxrose","KillerTomate16","taa876","ofeky","xd_mchotdog","linnyflower","snoepkanon123","SadNogitsune","Cmanda","Apakalyph_HD","GameKnight373","YEETAMUSMAXIMUS","StarlightClover"],"WC26":["DespacitOwO","NotAHackusator","KiwiTeaa","Noritho","Kextekercs","Goldenpig55","Evil_Viktor","ainz2001","Kaede_Hoshizora","bneator","Plompa","pakinator2000","NuclearKFC","chunsing1119","Mira301","LyftedTV","suppo1100","fusiongames","ADudeInAChair","ChessMasterr","MelonPanda","EdoDrill","Pitch_7","oront121","crafttomtom","jothstar","Rebien","Lil_Deer_Gamer","SGSDG","hata156","p0k3rfac3","Vestrack"],"WC27":["WizBack","SyndereN","PigPlays1","Unr3alistik","Fudgeyducky55","Extr4cti0n","HoJai_","tcdcbs","Tagrals","BadLife_LY","flaskis23","Angry_Pony","NunuNana","ortieez","Yobee","fancydctreeblox4","LookAButterfly","LC_Clarence","Faulthy","VialbinoGamer14","ZasperOW","_AppSt_","A_GL","Crixx007","Small_Arthur","SoftVore","Ruimond2020","StellarWombat","FireFireYT_","Satorisa","Mr_Valle","_BuldoSauR_"],"WC28":["Celmestra","AymanSenpai","kingdedede1273","ZooPii","PowerEmil","Xgaming1371","RigidStudios","HellFire3003","BadGuppies","Cloud_Dash","Avazo","stoneofsteeI","Gorkensalg","iCallumity","scurepank23","QuonkityQuonk","CaptainWalrus6","jeremy279","alfredthedonkey","FastAsVoid","dragonprinces","LifeIsOk_","LoGoN256","penggi_","ComradePig24","Kata_Kana","Zippers1","LangyCZ","TheFinie","76vm"],"WC29":["tomere","darknessV10","IordanidisL","Jessu4","Davibs01","Holy_Bucket","M7AM7","Ow1nn","DeviGamePvP","U_M_I","KhongPhaiPo","Ryo_24","PHGz","nekokunn_","23pm","Ettoregame3465","Daddlies","Marc05_","TheUltraMonkey","Rudeburrito","Baken","NoamRight","Ilagias","toUrl","CarrotBunn","Soichiro1000","AltoIgloo","AmbassadorMax","nomusan0805","tphoeng","cobraphenix07","aaa12035","PruneThe3rd","zztabor","LOL666PX"],"WC3":["Maarcus1","Axorit","JoinTAq","TatoMerchant","VireVeonix","Slime","OriTheSpirit","Waffellz","exopodable","czad","Voxeeer","DinoRawrr","Shok0Shoko","KyleCarrot","Sadann","PolarBaeJr","Wideman","L2nOxQuu4","D1uLaSing","DatDotDotDot","datdot","MrGrucci","WeaponMerchant","Icy_Ice","sum00","U_YU","7260","JuniorSupreme","Silentmaxx","crturtle","unrealphantom","The_ScorpionZ","KhanhMai","JeTeComboEnAsics"],"WC32":["Toufu0365","gandiiii","Dw00010","DenZyL235","MonDz","skypower13","H4ru__","PokemonGamer11","Electrochemistry","MaybeIamDana","Zinnig","Pffa","hubukituki","bikesuper"],"WC33":["Iannaan","MissingLightTW","Wolfdragon24","Thomas8454","Diamond_Laser","Broodjeboter2","Maracs","Lilydere","NyghtHound_","MikakunYT","SirTracyXVII","rushiaenjoyer","cataclysmOfPigs","Pododeng","Snowy_Cathy"],"WC34":["Calluum","ppfart","Trigonometri","MichaelCratar","Zadbrat","MmrSmite","SaturatedVapor","SirRicington","LaMDaKiS","Yusobad","Goong_Ploonk","nkklk","Poopninja31","NaPewnoNieArczi","Martin411","Ding1128","ZiggyPlayz","_Knoll_","Arcaneghost24","_ProFor_","LordOfScience","jesseseptoo","Dacro16","KarenGillan","DingCheng0611","Aerrihn","_OneEyed_","DeadlyLucifer","Delf295","Assailent","l_xiaozhe"],"WC4":["S8Bing","xXTigaaXx","Hell_5ire","LRlaokei","oMixkyD","MrPuffer_","DarkEnergy242","_Chipla","musicalluci","SolarMex","2ur_","reoru1306","seasameoil","GarettFogel","tukemenebisio","DennEEker","EdtsonUwU","Yukihira_Souma","Amishmoistyman","snermann","weirdTDM345","presz","adzburg","Gyseline","Berded","xyz2001","LaplaceDisplace","HeySeb"],"WC5":["Dracium_Z","Julppuu","75vm","DesignzZ","TigerNewc","mars522","iSoosie","Galaxyfuse54","x_Enigma_x","Astrofoid109","xTigah","MinYoongi","kid8831","LunaMoon137","GLDENCHAINS","Mns_Hello","skywalker998","xjsk","SinfulBan","Ootakemaru","_draxy_","Fin_Land","maikura_jp","a176","VCGO","SugyOnThis","Pipohylje","millertym3","BcraftLP","TAD3790","andressss23jr"],"WC6":["smile_yuy","mmfmgmghggmgmffm","AskMyself","Celestises","Severnis","Winter_Echo","TwelfthR","JenoJames","MamaMug","Gatsy","Edd25","Mikazu","WalkingATHopCard","SpKirby","KnotheFlo10","492ms","Kidroy_buckley"],"WC7":["ziuzidu","BigStupidCat","Embers_fireyt","OtisDaNerd","Cruz","ryder930320","Osmierk","Tunzisfeb","AmberHeart0","SektorOdin","n0chv","Datbi1ch","Recentname","MrKilller","ViValdi_01","LilChildren","FlyingCity263","ImSoCherry","KnuddelFuchsNyo","Hoaf","shiftkeyz","KatiTan"],"WC8":["Kamyuu","a0916204515","OKOKLH","caaaaake","Script_super","Czg","jomkung415","Ms_DrawCreeper","Mozarts","mr_bear0","Guartectiever","Ls_Raxnar","SannahBellentor","AEGIS549","Lexf1r","Bran_","SirBoccoro","Sobota654","KiritoHvH","honoka_pitaya","Matt_the_Person","Gellos01","adrianerkul93","ThoughtCanoe10","ItzMaty","EmpireofSindria","ItzRosmontis","paivaf19","Herr_Kasi","battlebeastz"],"WC9":["HotKing","Naetty","CurnsIron_","Demoniac_Shuten","_Kedama","xAyasei","Kyzuhr","GoldenStrawb","Daera_Love","Azert125","Youzoy","Technikel8","HidykTv","ZenTherBenz","Arikage","CigilOp","AWNecro","Tambourin","ztw0_0","N0vato","SoSo123","GamingDemon_","3DeepWater3","KotaroNika_Yt","smfja2hv_05","MARKABEST","InsidiousFury","triplerazee","winbran"],"YT":["kmaxi"]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '129'
      ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
