interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1669923744,"version":1.2},"WC1":["MelTinkerbel","some_rand","ArroganterOG","Womensaoa2538","M1QQo","VinyciuS1","OmarAlGhamdi","Fiery_Mystery","HolyMusicStarts","FireWizard123","Imomusi","Marvenius","Kooeen","EveryMe","masterfiss","Not_Zander","_RetroGamer0_","PeanutKing333","Koena","Norze","Paladin_Pal","Sergio_02","Leootje","SyncFish","AmieeeexX","lolipixel","funnybonez420","Am0g","fandasliz","Rescuable","Alphatoxxx","Derpy_Engineer","ffeerrbb","porpl","BoringBen","Fusem","Shylxe","Valkyrja_VII","_Crucio"],"WC10":["OrangekkTM","ZockerFuechsin","Zupa_ORmana1337","Ontheprowl52","Pianoplayer1","SpacePony","ReNegative","ghostdearp","Sorynthian","CatonaMan","farog","Elysiant","YF22","404l","Fel4004","tinalou","Schokimilk","Foxeru","The_Royal_Perill","Reesearoni","ImN3rP1k0v","Fihdeh","miniPCpro","TOLDY","damizizi","LegoStepper","ImSeven","Speedtart","comfymiwoo","xesus1n","JustAFarret","Aron_LH","SnorkelStan","irenepm","twoward","LintyCorn","Zerozcraft","Pryatna","Tuntun2468","qwedsazh","Chest707","GejusFejus","Sohgan","Lalatera"],"WC11":["Hangoverd","Drakosha05","AAAARGGH","Paulz32","kyw_","KrigerLV","Lankum","Nokomeiku","Legendcaleb","NoctisLunar","Soulheim","Sand_V3","solsquinox","PhoMz","frekashi","StomaticStorm50","TaraTheDragon","taubiti","OiferaN","Leqos","SsquishyElite","BoringBird","JinxJanx","Zeaza","ontx","atychiphobie","misterballer","RoiDesPatatoes","Redstonerblast","Springyboi471","CosmicRaj","ananasTin","PanAddict","Ursinaut","bootyhunter322","Gianni112005","Timon_CZE","AddBl0cks","sidnc","SamuelRC"],"WC12":["RaidKeeper","Easonhuang","Dough115","CrunchySugar1","Ryukor_","IssHiz_CroZZ","LoveIsBad","ANewPlayer_1","IlikeBeans21","elifroga","qOp_EkusaQ","TrippleB364","darkghostO9O2","NitroniumHD","Zer0late","Killereni11","Birdy_45","ArizonaPing","S7EFA","PolarBaeSr","SkyHigh_UwU","Venomousdude13","Brewdwich","FantaFrog","almngsy","darkoff9","1nf4m0u5","JavaJar","LittletheDragon","SlugBudge98455","Legendex2000","HeyRosey","Voxxor","FEDEGAMER640","K1knev","michalcrc","DieZombie8683","mike3gerritsen","Zyborg5x","TNTGamer39","CloortZ","GobiAzimiya","IronClad224"],"WC13":["ryphion","beam2814","Hitshield","That1DireWolf","ronespresso","Elevation112","UndyneTheFallen","ethfan922","FireNneon","Rextyyy","xHerb","oxids","Neutrao","Enderclaw","MeteorMes","Day__Night","GastonPerez2","miraclemachine","xmikachuu","Chiarophinx","GreenMysteryMan","ImMcChicken","screamAtag","3zPz","Deus_do_xilofone","TheIVX","LittleChicken33","TheIvyX","caddriel","Wynnik","AlphaWolfx4108","Nessem","SoniCinos","Meliocean","__BLOCK__HEAD__","teckton","Qvintus","LST_Staardust","BangtanKookie97","Flokzha","iurgen","Dyleze","urbymine","_Lenna__","8xy"],"WC14":["LilNuggie","mc_elfs","SaruV","R1P_Bozo","TooTriggered","Soulxy","Namhkn12","LogicalBird","Tiago007","bella0902","desiy","Thei1609","MaSaruhogi","Daniel_Hany","Matchlg411","Furkanyo","Paeng_","123HD123","Glacade"],"WC15":["Takozcu","DucksTillGr3g","jebalen","piece_002","JoAsPo","HeteroBranco","MegaMax9272","GamerAdam100","Monarchial","NeverStepD7","Solindel","HollowJa","_HotChocolate","leugim23","jasperroyale","NotVerySocial","LetsJack9","soer9096","REDDTS","REMZProd","ScowlingCube665","Hirasol","ItzCoZzZa","Tymburi","Staphylococcus_","lavastrider28","Aryzzen","LateOgre","Bqnaner","SzymonP732","NiKitosussss","Achennium","Th3_Cooki3","eason_w","STRIKERXCORSOL","synchronate","jvginfinity","RowanABoat69","TheYeetedPotato","trajedyss"],"WC16":["_w33kend_","Fudgeboard","chalenger934","Portal_TicTac","Aeskium_","pippip16","GeorgeW_Kush","ItzSh1ro","Auristelle","IncognitoJ0e","Samson_W","Marmijo_Captain","Kysre","Chaosdave34","Pachedres","GatoVoador","tomka700","Jelibean","GooberBoober","Eilmar","_Fuxzy_","Kunnoichi","XH","MooiGeit","DonPritty","Maga_The_Waffler","JOLO9922","DoritoSenpai69","MutantGambl3r","romancuster","KePiadina","ItsmeAlek","DarkRenewq","IntrepidFerret_","Zeriq","io15","nuau","MilanVV","yrry"],"WC18":["KinnieEraser","BenedictusTheCat","catboyLuw","Steemee","4xid","Anx_brad","Eragang","Diamon_sword1","ALonelyCookie","Cotander","ahjd","Fabi_0802","5hotgun","Doggy_W00F","Trailior","Gurdus","Dopio","Keldorn","IgnitorZA"],"WC19":["FredwardTheDog","Crystal_Legend","Dough_Fat_Cat","Mr_Fouffe","Helmuth0221","MrSody","LunaSilverhand","Jarre07","Rickmeneerman","Nielson2827","Facingus","izh1k","Lowdresi","likeablesundew8","Gainzz","dskjhsdk","Bear_King","Threstor"],"WC2":["F4Bus","TheKster01","NikolasFresh","ExileSGS","2910DoXx","xobandech","Wombo03","Akunsei","_Der_Keks","DAVID_CZ","sumahoooo","Eabhlin01","HakanAbiii","McFreddo","TheKidNnja","jeppe625","ItsPaiku","throughs","BrokenJpeg","Maccabeus125","Soul_Lore","VerseQuence","FoxyIsPlaying","GTWBrandon","cukkar","Coesette","uglymoss","Vexmae","GumiSenpai","csapka","karlo_sa","XkillershotsX","Cs_Mini22","EmptyCupOfTea","constructor054","BATATA_AUTISTA","KazukamiZ","BlackxxTiger","Saraldar","Zelnox_"],"WC20":["Dungun0","Deslgner","MizukiHR","BasaraKun9","Detenti0n","Xypnovoid","zachplaypixelmon","hytf","DonVaughn","Lililena","Ananasik2005","Butterbunnyfly","Agrame","tankofpacer","BoardingZebra","Bootrun","olim5","AJwarrior1010","Ender_Ded","jollyranchar","Renixy","NashiroAoi","Scootaay","MivosVanos","IshiLilly","SakizciAdam","Troicalion","TheKiwiGamer","LangScott","kosmosre","SilverSythe27","Magniuns","Coelji84","AnimeWithSushi","sum00","Mister_Rocketguy"],"WC21":["Darkola","DoctorSno","Mocomochi","TheVoidness","Cryotic115","WackySmurf","Krevius","Spolaked","Mcoop","toqether","PremiumIcicle","GebutterteWurst","Asoart","kebabdoner","pedrusgostation","Valkylic","BigBootyAna","UnhallowedCatboy","iBug","lnvites","Pentasaurus","skoneez","Dr_Voltage","MoonGay","Calluum","DonkeyOfLegend","Lord_Schmiddi","FireStranded","riri0109","HJPoLLi","Horb","PhysicallyTired","Aerofluff","Bakura1","Dr_san"],"WC22":["A_guuuuuuuy","Matteozin_2022","opsun","ptoooooooo","lindafelix","czad"],"WC23":["0tafs0","Zepat","LessTritonius","Bobicar","W4ll","sebastionIsHomo","tekt","SoorYe","Dracium_Z","M0r0s","jsshemeth","Enora22530","TakeVape","Alberigh","w1n4p2nc00k3","_littlePrincess","jingleblues","Lobster_Bob","EPIC67890"],"WC24":["ParentalSettings","JustVal64","Draumri","Julia1324","Meek_ANTIFUN","Sir_Axolotl","cs980031","jappee234gg5","CaveClash","xSashkax","Kraft_Lawrence2","BluePiggy54","smurfyourpeak","BeaconTheRabbit","xDuskyx","Rij_","Aiza","Rwnder","Cco0lL","Henryies","mansi_","Sseraphim","AceGaming_"],"WC25":["AaronCH132","Alyshu","Sabelallan","Mathias6287","Heksi","MrRaveMC","Frozenman","TB_Smonkie","JasonScorpio","Shadowslayer1818","KelD1k","_Kioo","MrMythiccc_","ambvlence","LittleEcho","Discount_TacoCat","Clintj","freshnP","minhcl","AshAngg2000","Juicydotjay","Burokoli","Ztirom22"],"WC26":["Kthuulhuu","Leone_Chan","thecakeisnotalie","BITCONNNNECT","Lewxo","YouAreBaldBTW","JetBoxOne","Gangsterizm","NiniVX","I_NoWa_I","9mg","TheMelonecraft","Crowfeee","Mindy_Huang","nether_slayer55","DrR6B","Alfred_Wind","MCPetiboy","blackcatwizard","Kryssix","Balls3D","LUGG1A","RicardoMilosTL","crturtle","mathsman100"],"WC27":["JenkemAddiction","Aerotheum","BROCKA","rixass","_Fallenking","FrijolesDios","aucontrario","Emilio_Minecraft","MRSHINK","Chris_P_Bacon08","_Skilix_","Nakiado","EarthInSpace","Kamurana","Marnuscus_Wafers","Paesmendo","danielykw","Herbie14","NinjaGamerHD0102","Azullo","alecvags12345","OnPnt","Lotting","Leo44","Avocadokrieger","legohead105","leroichco","MichisSlave69","rbfarm12","SaailentWolf","Kaporal25500","Dark_Ghost20","zCresH","Waranei","IchhabekeinNamen","InfamousJackson","khawker","Goomlit","jekku_es","KyriosSK"],"WC28":["FrostMink","creepTNT","_Devy_","sergeityB","CptBlobBeard","Lolic0pter","Riverword33099","babounse","Lord_of_Kebabs","LegoMonkey19","JaedenPK","palle9000","_ChoicE","Doobiousrex","Gruchaaa","WildnYT","liltoxicpain","wione_","MinosChampion","Flohysx","Giovanni75","Imadbro21","John_Ranpo","Pipars26","Nelly0121","thcrn","Hookn","Panderift","StealWynncraft","I_Am_Stoeptegel","erchh","6851","RiverThe21st","Lawsei","ChrisWildfire","Linkevan","Dispasim","Ast3rix1","JoKerMurder_","CrimsonKrost","TheMaus_","Ruinalin"],"WC3":["Maffynek","StoneMan2015","Skioop","Sh3k3l","Lucky_Lemon","Toshiro_44","Evengamer11","Cantbyggivar","Sex_Defender","Ancre","Spony","xfeat","WifiBad","nachoGR8","epona444","Ladumarci","SJTheHalfGay","helllooolo","kirby2500","ArtemisFowl3rd","michceli10","Moloch_1","_thatotherguy_","Anuket","AvgUsrName","HeadHunter153","gamer_noir_pro","Butterfly_303","31Yoshi31","Doggernaut_","Nobody_died","__Dyx_","ZeroNoise123","NothingButBread_","Ziom0023","sakarn76","Kamerr","SimiliXV","Nightmare_fun","karolsw3","RayBeam123","Typerio_Psy"],"WC4":["derLuk12","Eddy100","Elytry","Robbie04","DaddyRinke","Bijelac","NiveauSubmarine","arexnosty","theory0610","YolomanticXD","lAbeliciousl","Mizto","Crnac","wixed43","marci12325","Cirme","pepper1boy","Zwexya","FreddonBleu02","S1NS","CynoBread","themoster86","kaitlyn777","SuperSpaceM","Zwiebler3000","MagicCrafter11","Blackboxie","SwaggaNugget1432","OreoBoba","MrLBrobot","1Feenix","castmarco03","max_val","sourdoughTTV","dinis2003","FrankyMeatb4lls","8903870","PoisonV","CJRebel","Psiony","jackywacky666","Migu526elito","D4rw1n_","haruwu_owo"],"WC5":["AvishYT","Shadowclaw965","Not_Mspear","LuCoolUs","FearsomeDuck81","FearoftheKnown","Druser","brilliantknight","GlennBlaze","Lolkid03","BarkleyDog17","Postyronium","xXantorx","MothrBlocker","NilsGameIdiot","TOXIC_C3PO","AkhilFV","101rockerkid","Polpoid","Alazair","LordTwigo0608","theMatois_17","CasperSmoke","MrClo812","MiscEris","Avinzendandan","Kornel6","Niesi","Monkey_Suit","Sigizhorn","Bimsiiii","AlexFwfwfw","Michaelekcc","Leviswepro13","xprogam3rx","crueee","Tempyseemo"],"WC6":["GlitterJullan","Rednax_MC","_Zei","TNTbommetje","Moffelaar","Johnadam211212","BillCiqher","Danny2222","TheTouchOfGod","Jadigz","Meko69420","RiceDeity","MorrMor","Yuhmip","YoloLuc","Juliannutella","Greevil_Kaze","MrDutchyP00","StarsonGaming","stependia","StrafeToOutplay","Munago","Mantheniel1575","Alexrgus2013","MagicalPeny","jackOlantern471","SmallerSnail","donaldduck09","xfloh253x","Trajanas20","Cerebri","MeckMaster","Anon08"],"WC7":["NebulaX59","onoitsryane","Quicksilver100","Sairuks","YukiSnowie","G_Snart","Stese045","Yukasumi","Alfa2701","Trestun","Mingkyy","Niviay","HorizonLyne","RIP_Eddie","764hotshot","LetMeThrowS1","Bamatois","ShadowCat117","Ide_Standi","_IEurope_","GlitcherIsTaken","__TEREK__","222wwwidk","NikoIz","JeanShamayin","IOwnAmazon","Gegaba","Bukina","Blocksy123","Edinyoow","Lujipie","Ampheross_","PixelMinerXD123","KoniKuchen","Tigershark8900","Scaressca","themanarnold","xProxifyy","LeRobot","Ladmxt","sharllesse"],"WC8":["ItsYaBoyKay","Maarcus1","Colts_","DerVillager","BROthePRO","HOLOZombie","Azulanite","GaLaxY12062"],"WC9":["Exocrine","Sharkama","Spacebot037","Olimposz","_Tails__","FlamingScythe","baldsniper","Shad0wskill","_Yah0o","RealBlackRose","Dreadddddddddddd","Septicious","CARLOSMG2002","Ninobf","lMM0RTAL","SigmaBlaze","BruceZ","Tzuchuan","Heyoth","X_WYF","derpedturtl3","bennya10","zGuaapo","ppfart","Kamauu","Nitrogen7","Bleizi11","BajGdo2","heligekiko","MvRgamer22","Ceasless","Kladenstein","Izanami_23126","Zurged","Kyirden","I_Am_Bane","AkarszKorszakllt","Ultimablaze_","MadNoxus","Jiuzz","wttseng"],"YT":[]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '128'
      RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
