interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsSearch&search=farplane
  response:
    body:
      string: '{"guilds":["The Farplane"],"players":[],"search":"farplane","request":{"timestamp":1629227890,"version":1}}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '141'
      ratelimit-reset:
      - '50'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=statsSearch&search=farplane
version: 1
