interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/list
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/list\",\"code\":200,\"timestamp\":1628452540020,\"version\":\"2.1.0\",\"data\":[\"Acidic
        Blood\",\"Accursed Effigy\",\"7-Yottabyte Storage Component\",\"Acidic Remains\",\"Acid
        Magma\",\"Acidic Solution\",\"Active Fireball\",\"Adamastor's Faceplate\",\"Adaptive
        Tissue\",\"Adventurer's Diary\",\"Aged Tome\",\"Agullo Beak\",\"Alga\",\"Alnamar
        Meat\",\"Algae Mat\",\"Altered Ash\",\"Ancient Currency\",\"Ancient Coins\",\"Ancient
        Heart\",\"Ancient Metal\",\"Ancient Moss\",\"Ancient Panel\",\"Angelic Gem\",\"Antique
        Metal\",\"Apple[...]
