interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/MrBartusekXD/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/MrBartusekXD/stats","code":200,"timestamp":1629227870498,"version":"2.1.0","data":[{"username":"MrBartusekXD","uuid":"0edc3eb6-74d8-49b6-8b2a-3c0782183e3a","rank":"Player","meta":{"firstJoin":"2020-01-11T17:24:29.427Z","lastJoin":"2021-07-26T17:02:09.988Z","location":{"online":false,"server":null},"playtime":2866,"tag":{"display":true,"value":"VIP"},"veteran":false},"classes":[{"name":"mage","level":753,"dungeons":{"completed":56,"list":[{"name":"Decrepit
        Sewers","completed":4},{"name":"Lost Sanctuary","completed":2},{"name":"Underworld
        Crypt","completed":1},{"name":"Ice Barrows","completed":6},{"name":"Sand-Swept
        Tomb","completed":4},{"name":"Undergrowth Ruins","completed":5},{"name":"Galleon''s
        Graveyard","completed":4},{"name":"Corrupted Decrepit Sewers","completed":3},{"name":"Fallen
        Factory","completed":2},{"name":"Infested Pit","completed":4},{"name":"Corrupted
        Infested Pit","completed":1},{"name":"Corrupted Lost Sanctuary","completed":1},{"name":"Corrupted
        Sand-Swept Tomb","completed":7},{"name":"Corrupted Ice Barrows","completed":1},{"name":"Corrupted
        Undergrowth Ruins","completed":1},{"name":"Corrupted Underworld Crypt","completed":10}]},"raids":{"completed":0,"list":[]},"quests":{"completed":149,"list":["Point
        of No Return","A Journey Further","A Journey Beyond","The Olmic Rune","Royal
        Trials","The Fortuneteller","Recipe For Disaster","One Thousand Meters Under","Dwarves
        and Doguns Part IV","Dwarves and Doguns Part III","Mini-Quest - Slay Frosted
        Guards & Cryostone Golems","Dwarves and Doguns Part II","Dwarves and Doguns
        Part I","Fantastic Voyage","The Envoy Part II","Enter the Dojo","Beyond the
        Grave","Mixed Feelings","Co[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=The+Farplane
  response:
    body:
      string: '{"name":"The Farplane","prefix":"Yin","members":[{"name":"renderme65","uuid":"5be48ae3-82f4-4f4f-baf1-c26fcbe1788a","rank":"CHIEF","contributed":0,"joined":"2019-05-13T00:01:52.787Z","joinedFriendly":"May
        13th 2019"},{"name":"ojomFox","uuid":"33b6a693-db57-4b3f-b6df-d0772876994f","rank":"OWNER","contributed":356440083,"joined":"2019-05-13T00:01:40.211Z","joinedFriendly":"May
        13th 2019"},{"name":"MrBartusekXD","uuid":"0edc3eb6-74d8-49b6-8b2a-3c0782183e3a","rank":"CHIEF","contributed":3179914,"joined":"2020-07-16T18:42:57.175Z","joinedFriendly":"Jul
        16th 2020"},{"name":"RhodieCub","uuid":"55309fc6-413c-4e05-8394-52f28ae41909","rank":"CHIEF","contributed":8913564,"joined[...]
