interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/an%20invalid%20username/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/an invalid username/stats","code":400,"timestamp":1669824249047,"version":"2.1.0","data":[]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '150'
      RateLimit-Reset:
      - '51'
    status:
      code: 400
      message: Bad Request
    url: https://api.wynncraft.com/v2/player/an%20invalid%20username/stats
version: 1
