interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayersSum
  response:
    body:
      string: '{"players_online":855,"request":{"timestamp":1654609110,"version":1.2}}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '53'
      RateLimit-Reset:
      - '3'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayersSum
version: 1
