interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=territoryList
  response:
    body:
      string: '{"territories":{"Ragni":{"territory":"Ragni","guild":"KongoBoys","acquired":"2022-11-21
        12:30:36","attacker":null,"location":{"startX":-955,"startY":-1415,"endX":-756,"endY":-1748}},"Emerald
        Trail":{"territory":"Emerald Trail","guild":"KongoBoys","acquired":"2022-11-21
        12:57:04","attacker":null,"location":{"startX":-615,"startY":-1530,"endX":-436,"endY":-1652}},"Ragni
        North Entrance":{"territory":"Ragni North Entrance","guild":"KongoBoys","acquired":"2022-11-28
        07:58:28","attacker":null,"location":{"startX":-944,"startY":-1761,"endX":-818,"endY":-1859}},"Ragni
        North Suburbs":{"territory":"Ragni North Suburbs","guild":"KongoBoy[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=KongoBoys
  response:
    body:
      string: '{"name":"KongoBoys","prefix":"DUDE","members":[{"name":"EchoHD_","uuid":"cffda75c-db67-4fc7-be4c-9439a0f81c27","rank":"CHIEF","contributed":56717942524,"joined":"2021-12-20T11:46:07.679Z","joinedFriendly":"Dec
        20th 2021"},{"name":"DarwinMix","uuid":"7d60f720-fd7d-40d6-84fd-c1a8703e4caf","rank":"CHIEF","contributed":50227783,"joined":"2021-12-20T16:03:39.511Z","joinedFriendly":"Dec
        20th 2021"},{"name":"hlickyalf","uuid":"cd72b6da-f94f-4c30-8642-80eda5cf9268","rank":"OWNER","contributed":131753856740,"joined":"2021-12-20T16:15:41.429Z","joinedFriendly":"Dec
        20th 2021"},{"name":"doyatte","uuid":"e3eab6ca-a62d-4bf2-b90d-8d6e84d2e7c5","rank":"CHIEF","contributed":6605772118,"jo[...]
