interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1628090183,"version":1.2},"WC1":["DogeTennant","ObsessedWithU","Color4do","bluebliinx","fandasliz","AquaticBq","DieNow88","Rex_Saltus","Jhin_Sea","Stenkel","Springallen","Psychotrauma","Pheniex6550","hakkesaelger","Blatscher","RedstonekPL","Bskinght","Pakhiu","Panda_png","UkranianPatriot","YummyIsIce","19kss","GatoVoador","KairaNamiko","_See_","randyRIP","RazAssassin","StarFluxGames","EconCreeper_10","jammy8donut","BlueRoseAce","q____","alfredchi"],"WC10":["Small_Jam","Arno_TW","CaptainWalrus6","MrCoalz","AlenPro56","Urenzal","GutZ_Jung","110KILL","xCrownx","LemonSkash","MinYoongi","MrWolf64k","yogchamp","missbillford","Hamsterlordje","NOMOREWORRY","NoHaxJustTaco","MasterM1000","jj136975","Tuna_General","cxyxiaoyu","Manu0911","chromattics","YTW_vd","dogeyy","xXTigaaXx","K_Gun","ZUTT0","trollman12334","LegenaryX"],"WC11":["The_Predator","Flappyho","KishiUa","duggo","diana69","Quellson","Zembios","RedBirdMann","rushed0v","_Master_M1nd_","mimik2283","AltiStar","8ZZh","meme9696","Yuperness","MasterEndermann","shazaamtopher","Chuckjirka","Amelia1405","Alozola","AlphaDuke666","dark_devin","l00sehead","WCSC_","Lord_Pomidorka","Lkieblockcrftr","Airut","P17YU","Alisa1200","ORCUN5000","Ruckblick","majod99"],"WC12":["SwammingRaven","Lootrun","GidiGangMember","torix007","DarkS0nic","RedKnight93222","Sliwap","Ronya_P","WitekGrzesiek","Shadow_Starnite","Atomix1234","CatBoy_X3","ender_dragon30","Nici_187","KingSlime3","davie123dx","Vaedran","AmazingGamer321","Fardarey_CG","Blackout_RL","FrostyRosti","CozyFawn","Mirent","tae7716","choper02","BoiledMilk","anime_girl3443","Raven__Key","doc_crab","Valykru","Elektro_Remix","MayorofKenmore","HunterAaron","Saas_Floexer","iSniper1010"],"WC13":["Henry3376","RussetMantle","JershMerx","Hedgehog_Girl","SuperGMan9","Rishuardo","Gangreeni","Mjolnir_01","hirviioszka","Keenaai","flameVSflame","MagicMistake","Leafish","Bran_","Sasong","APTstudio","Amankman","duckyucky","skullgamer702","Indigo_Blues","nikita539","Zefs","TackXx","zMrX","White_guardien","nick123987456","LucaDoller","Nimrond","Peanuttos"],"WC14":["Protoclasm","OrlidoX","RomainS69","Neptium","Littlechung3","Caytemo","PapaPenguin_Jr","NostalgicFlames","Infinity1G","Neko__idk","prowcyon","_Ir0nDem0n_","nikyang","Captain_Honk","sparagus300","gemachtefing","DeltaVapour","Tank1014","dxlusions","Angie0612","PagePrye","playday","madinventor1","AKknudsen","NotMooo","Zrezah","AzT3J4S","fireice9999","Iamravioli","PrimeTube"],"WC15":["DrDrewskii","Rabbir_Reaper","low_song315","GateauAnglais","JeMangeUnBalisto","mgpablito8821","Zzafiro","spdepig","schuffrich","Tiranien","Silverw0lph","onbruh"],"WC16":["jedaythailand","exe_kurtyk","Nigirirolls","Jedihome","maocay","Firemelter","KirigayaAkuma","Jonny_Gamez","RisenEzura","QM_D","GC_Money","Basuu","Btg5510","summerslime","Vaxture","mansi_","Tylerlol","Pv4","chickenbanger69","Ephyri","LottoXotu","L4pr1s","PapichuloFF"],"WC17":["BeefBurher","Melioo_","sbhave","Bdeathlord","Shizoids","bausk","Ruffmann","CaptainClubs","Vorpyy","LeoBL0CKHUNTER","Nhextra","EEMythic","Acc_","Ihavesnake8820","IamFye","wholg","TheMawR","Bonk_12","Moltencoil","xIceyy_","Coco_Vyo","lochie5491","WoodCreature","Democratics","oWaxing"],"WC18":["Feuer25","Raycifer","ninichiyo","domeh_","Zosaronix","NekoQnQ","Tiptoplopo","CuzImTimer","WayaBoy","creepers2themax","PakHong","SkipperMst","Fireblaze1","P4TT3X","KiliE2001","BobbyBazin","BanaapIe","s0w0s","Mitteni","MaxedOutH","LeonKunChan","Salty_Pinecone","Coldestchief","Prankster999","_Laplace_","Iron_Chopper","Aqualost","Gumbear","IEnjoyFemales","SignatureFail","CWlS","SpeedyA","rDante","Poweff","Gladionus","NotableOsprey92","Zinnig","DarkraiNightmqre","Moshii","ArchoKast","Ingwee","IkMagJouNiet"],"WC19":["Kamatachi","SilverPwnz","Tawn","Lanseloh","zCallMeNightmare","NOMASAN","The_Gold_Bunny","DJSamurai_","AutoBridge","pistouch","Silera","Carrota","HaHaShi1208","Ilikebeef47","TheLazySeal","Svens_Son","wo2w","Flareix","Miniko_","iceking7781","Illuwm","LUC447","emosstional","lukey_12345","BinaryBitGamer","OmarAlGhamdi","LemarHun","farthaver16","Kamtoonz","TimTorial","wltsky","zsozsokocsi","DakotaSowers75","ZzzCyan","Rubendaval","Gabor_1111"],"WC2":["MoNaRcHIIsT","FlamingFrog23","zepofan","alexeehe","Anbn03","Jason__Chen","Mr_Chemist","TataCheck","AmitTheKing1234","SnowyFoxPlays","Paul_Panda_at","zakamo20","Dobbys_Socke","itzMarkplayz","TheRedCommander"],"WC20":["water_jet","saltyseaduck","DeoAtlas_","7kasi","Emilus_","king159bus","MuffinNeedWeed","Log_dog7","MeepieBR","gdr313","CDParadis83","LMHQ","emhan03","LuwuNowo","EThowt1107","Farbschlurf","a1235813","ThomasThePencil","Dustbinnn","4Builders","Nieke","shyn20","Abyssaled","Valenthym","Rawr_Foxy","KarenGillan"],"WC21":["loexter","jackedbosnian","Taylo4","Cxnder","CactusLapis","Pokefyre","Demangevil","DebileCow","TrainerRyoshi","Mochiiw","Voxaire","cKay10","_InVi_","Kepler_17c","Jacery","Nojo353","Wither14","MinecraftGoogle","fedianofoXxX","peelppp","HailKingBlobfish","Halbarad_","Generic_Hoov","Letherea","Mwtt","_brat","Fowlann","_LeoYTPro_","Crownless_King","Pooui_Yui","ronron965","Fushi_Corn","isacplay","Jf62","leib_be","Ryzarion"],"WC22":["vTeeny","EddieED","Fille28","Crixx007","HalfN0ob","Ezpeon","KnotheFlo10","Noobathan","minimoy2","6_Sneak_9","NBenMa","Alex_Billi","Avi_Gaming","LexyHartman","Oakmana","TNTYeeter","AlaaxCraft","SimplyDon","megbudroc","TheFireDragon52","GabCocasse"],"WC23":["NebelJunior","xMeHDiGIPx","kuyarr","Dkcy","KillerGalaxyYT","TombRa1der","Mini_Dollar","Jaamii","mpanizo","kenny94046","CookienAddict","skystabber","VioletSalad","danielc4444","Sneaker_Head","TAUPIX","Akulchik2","Isshiki416","_Raizel","7mechka","Wagner204","Loooou","PeachySunset","FlaxMainlevel","HKChiken","LordQualle","Zerfex","Blokiman","Vince_09","AncientIroh","TheKristoferD","osamagamer59","Bobooji"],"WC24":["Diplo__","dnk10","DrBada55","Momorico","itskingcheesy","KrustyCheTang","Qifish","Der_Babaron","AsgardianP","Jona_246","unfritiertes","GamerGodTasim","snowball3130","U_YU","Volna_","CaTer7414","mrgordon145","HarryNCY","Tobi5219","Wakamodoor","Pomelo_Roy","Rhallo","itsDavyi","smallfive","Nikelz_","BlockbosterJ","RotemRotem","loveyouu","AzzyNicora","ImTheRealMVP","__squish","Logoman555","xTolokx","HollowFreak","Ambeiro","Kimmey_","BC52"],"WC25":["Randarcanum","Doggy_W00F","_Kaning","Cnya_a","Orginality","soffiia","_Mimo","chihaaya","ronnoc_z","R3CE","Chissa09","zarkeur","eidriB","JEFFev","PaZZle1","BluePastas","__MINEvsBOY__","JaySleepin","SnowyBirds","uwuLurrun","Avoidingg","saugs","toitouine","kittymenace","GOD_DAY"],"WC26":["Mynee","PrizmSnipe","margogole","Buklim131","Ninjis","Argensolis","HoneyRedRose","8457","Nesin_Amatias","Joshuadesu","Nyrocarion","SnazzySquash82","SurerThrower425","Suhzie","Haitch0","Ageotori","HermitOuO","D_legendary","katexmp","xXkingblairXx","CCoolDead","ReiTopeira","SoldierDaoIE","Multinougat","HazardousSarcasm","Pinguing12","RiverThe21st","Kopoa","ypad0110","duokit"],"WC27":["HotCheeseSauce13","Slimeblader","PixelM42069","DJBillGates21","J4npa","Flapjack298900","Penguins76","manio5280","AmaRaku","Khamn","fizzycreeper004","schmelli049","ppalliwabwa","temo_online","Akaitu","_Tomaato_","GMysticYT","_Knoll_","OriginalSnek","_elliox_","LuciferGhost","RyCeX1","JinxedDefault","TTVq","Goldenapplexx","itsAmora","YouOne_","GlitterJullan","Wobbuffet77","Spekus","Squizzac","ZeD0x_","crturtle"],"WC28":["jusejik","QuantumShift","sobble_sabel","GamingMister","HappyMeal_MC","RayDnT","Kamilha","Ryoichicooper","Alphiriall","Haizzz","Slime1480","ikadamo","potageSE","chanhige_a","Jordytamp0n","fytypald","DetectiveRikka"],"WC29":["Keniye","Spikesi4ek","IamAkon","Riluel","Benzyo","Fallen_Star_tw","Askamer","Minejayro","Turkse_Slipper","DwergKaas","__BadName","2__Plus__2","SoupStore","JonnyJonnster","willie0227","cookie_tv007","Reddbearon","GANGBYMYSELF","1BLaCkDaY_","xxepicslayer69xx","HotNons","Catacity","AbnormalyAverage","0verflux","DeathDoUsPart","SektorOdin","SpiderKory","Mapparere","_IcyPanda","Zaphkyr","BS_Wendy","Loapu"],"WC3":["_ItzSacha_","uwuGlxphs","Jarrsonn","OwOching","ryder930320","OverFears","Bearfacedsoup62","gluteals","SerMartyn","Yonderbadger","Antonio_Blizzard","nigrkoks2115","Porkchop_6","Lvciano","WoahMan","LordZomboss","Gerrit_Akabane","Ellia_","ThurinTurambar"],"WC30":["mochi77_uni","Goldhaibaum","Corvusio","Vruxiuk","20W","Orienor","Suyarumi","1agentchase","wibaux","JKcaramel","yLucasDSA","Ematrone","AoiRos","A8_BeztZed_VN","5ugar_","tropic_ohcen","Juniooooo","slaxstein","riksuvonspagetti","Yolter","Fabignvcioo","IceKnightCharge","RandomDude9037","Ryo_24","therealgman_","kluger_kater_1","Su3ht_Jon","Sk_lled","ronnyMG","Su3ht_Asuna","megustaXD442"],"WC31":["Spoeinky","ZanderbkpV2","Tania_Play","GeorgXVIII","YoovE","D34thb0rn2264","Greenbracelet","SarcasticOctopus","N1unar","DeRosa269","minurenw","Tinyfires123","PapaKuma_","Pockooss","TheBlitzzz","Not_A_Neko","Gppagui","Septicemia","TricksterTommy","TheScrypterPL","AquaCorn14","kxun","Magic_soda35","Monahru_","nagyattila09","Rayonlio","Ka1gen","Wicoulas","TZUK","SneakingSnake","TheSast","KnuddelFuchsNyo"],"WC32":["JasonLin","Slimeytunes","whatdadogdoin0_0","Tjerk_XD","FishInTheKitchen","SlimyBlueSlime","_ejilonh_","Zeronev","Ceo_of_bobux420","DrSmiIe","CramCTQ","FlawPart","TeleportMe","XDEIDX","Mathev","Carla_0268","cheeseyfe","expectocat","SigmaWarlord17","GyroDragonite","MaxAttack08","CaoBaPhat","Raitou_","SaskePlays","ADucco","Tee_Dee","Ddeminosi2","sluuth","DrugonMonster","thecalvin456","MrBstriker"],"WC33":["LuCoolUs","exqlode","FT3","56r_","tukemenebisio","Sunulok","Sivrel_","Bloop212","Pigxelate","I_DASH","DarkNovy","janimal2003","OKCUMUPOH","Umazu","EMT923","_Noximus_","Onezee1","Obiwawan","Drunkdude101","RandomStando","Kukisek22","Luna_OuO","godzilia2","Spexys_wifey","Crabzilla3583","cici8888","croncho","VpV_KFD","CoffeeToast2288","michal04pl","daysuki","VHoltz_","Captain_Barklez"],"WC34":["BorisForis","Bin_ich_hier_","PyroBurnem","GobiAzimiya","NLDetected","annkirstine","consify","FurryStyle","TempThrone42220","TheHunGeri","Caramel_Frappe","Fishron_","DojoTobi","Kirisame_Reimu","_wlg","bga8864","WMGameLive","RelXis","Star_Lord17","POWER_PING","Matronix31","DeepLilac","meowTOW","Sheng630","ronioskari","HiddenSockss","PugLordTheFirst","Stefan_heida","ale3noah","FuriousliamYT","JGamerBoy","SKN11","RageNautilus"],"WC35":["mmfmgmghggmgmffm","mellyscent","Marrryy","JamsterB22","HarryOtterTM","Passiflourist","eerror","demondaddy21","SummerFont","IMGAMG","Miltiades178","Patonk","Cinnamorols","SirParadox","MyNameIsNike","IceWarox","01zys","_purplegiraffe_","NeonRider","Naraka00","Wackolo","Blueswords"],"WC36":["ImNawc","MlyuL","Perfekta0902","TheNewN00B","Cloud_Dash","Lorrmark","nothingbutidiot","ahntaea","HoJai_","Mr_Whiteeee","bioflame1236","0ThroWNN","Chromide","tri","Demoneck","Darkrenga","GameerGod16","KillerClown99","Swifty919"],"WC37":["ppfart","Calluum","DEATH_BODY","FAZuH","MyuRyung","Maarcus1","Dracium_Z","MPzinho","Otval12","PPsychonaut","jurgenfries","LeChat_Pitre","bananazeinn","Ewtepak","PremiumIcicle","LegitSkill_","ExtraLemonZest","icantburncanu","Xx_Da_Homeboi_xX","snipzmaster99","eboysam","KittySenpai","BradHatta","Shok0Shoko","GetNaru","dwinklewort","Japaner1234","mrcraftyketchup","sensaibu","KhanhMai"],"WC38":["Vitamin_B1","shadowiness","Skidooskei","Its_Breado","Tsukuyomi_OwO","DJAGERA","VollzeitDepp","Henatara","Bellozero","EzraShield9867","Moguditto","DuckyMomo08","MasterOllie548","Steve161803","antoine50150","Bezvard","Crisll","Yoona00","Ahmsord","Riwui","James_Ciro","Akaka00","MaxMayster","jomi112233","xLisa204","Lord_Earlyboy","Mifiop","Matilde_kathrine","errorrrrrnull","IShadowD13I","Yonemori"],"WC39":["WitherStorm2005","Rin_23","0Tietaatje0","iGalahad","ethachu25","redneckjo","YikesItsMyth","XTYWIZZ","Shxdo","BypassLunar","NeroTheImmortal","xXmirechekXx","lucinaq","SheepyPlays","EXvPea","Punch1000","Trent_67","Power_of_Woojin","Cute_Puppys","WT_TU","E1ian1","BlobbydaDragon","Drakon322","JellyBigBrain","Aiza","Wices","RevenantHorror","Azap","a29246353","grieverkiller214","PeggyBlazek","JoeyThePolarBear","AngelTouch","DemonTrou","dubvulture85","_pocketlint_"],"WC4":["SirMichael_","Chiciboy","ZhengYue_moon","fekolo","Malevolant","RobBM","JBM111","8Rainbow2","BurstLime","LogibearJR","RDSB03","MasterOmega7","Marco_XD2000","EvanOrizam","PingoJ","Natethanel","445g"],"WC40":["Boebii","BottleLezard","deyang0519","Geralt1007","xSignify","damiansk123","Tiger5er","ZMS_Kristof","Dekeido","Warble128","Fluffy2305","Viniciuscap","aSear","IZANUB","brudermo10","quenteor","tangwyllt","Setantaa","coltonmu","PattySilva","RoseyBoi","Kiyan","chillieracorn5","Alloy22","Jqkeup","GroTeNo","OOFler","DaAwesomeOne678","Bezwstydnik","Pharalther","Greatest_26"],"WC41":["juliano000888","kusi1622","RecallingSpy947","Manimanocas","Thomasz111","TramvesCot","love_jiji","NecronHandlee","odamar_gamer124","KafuuChino_OwO","GrizzlyChicken_","AnbuZaine","FBI_0pen_Up","Defervesco","TotaledToast","atarfejavi","KMLOPK","FireWizard123","Understandab1e","A4r4","PHGz","FlexAL_","Bairit","loizerz","Lukario_Extreme","DreamsStealer","Cocho69","420chemin","Capiosus","Ichstinkehaha","orphanmeatman1","PIGPIGISTHEBEST","Rice_Boiy","notbadd","Attimaq"],"WC42":["TheGh0sT300","EsIstEric","icanseemyhalo","DiscoZomboss","Anniouo","OasisX_","KrakenSkulls_TTV","megaIopolik","Mailo23","Bogtnt64","czad","Ctx35","ArizonaPing","HugelWugel","Kreator_21","HedgeHogg1734","tjxrk_","Kaos_nexus","xPook","McMarcK","strivver","EricZ_VN","NuggetJuice","SugerRush3","cckaa","LC_Clarence","Reosa","Domiinuus","DatBert","unrealphantom","LvckyKnqck","MonsterFlo11"],"WC43":["zeptheal","Dermpel","Popi_Craft","w1ng4r","MrBodaka_","deadzone88","Krata_09","Evolvedman2007","skvirtl","Nuzren","Evil_159","progamer_55","Hisue","GODDON3000","ZMAN485","Number_Eleven","H1ddenCube","GamerNickyboy25","Sofokee","qwert9811","SSeven0","iKartoofelv2","MareCigan","halloAnnanas","manubejarelpetas","Hwrxk","PortyMart","Katchiro","Dr4rmy","THeDarkMaster_Mj","112batman","spinyshell","RoboticCow","Abdulkhalig","GrupitoV2","squddyX2","AWaterBubble"],"WC44":["haku_chan46","codernotgamer","luwenyu","Gitroglou","Franciscood","MagicalCarrotXV","kbalu","Krayrat","adishpan","youth_53","Stonie2010","JOHNL3NN0N","Topito","AlvaroRogers","confidentpotat0","XuriPlays","nezerto","ImmuneFriend834","JAG_GAG","dovekichi","ImMRMONKEE","xiaozhangdalao","96e","WinZZed","LeTritonius","FinnMaster556","ThePowerOfUwU83","Kecske_36","RazeMen","Exlann","Nightswan91","Nevilleperson","Snazz","DatabaseAce","Larymm_YT"],"WC45":["Koop80","Ruxxel","XLord_123","Crazy_potato11","StrangerDawn","PanderMoon","Zverko99","Saly03","Tobyx7234","Eliux","why_is_whomst","xxxxOwOxxxx","_Sh1ft_____","i112","adrian_05","SuchyJan","TortiEzDa","SQU1X","LilChildren","Samgormc","_DarKShaM_","7rosemint","SaruV","Allain0617","sharanah","Mr_Eichhorn","Kingpablox_","Kosmixs","Bolislaw69","Redsake_","Minaras13","MasterJosef","Scypham","SimonasLTU","Schnitzelchen09","CyberFox500"],"WC46":["Petrifra","w4LLeNNx","Manmax14","Kwisudjd","Pengy2552","Ectyron","Shobez","KATANA128PL","aych07","Orphion_","cchyphon","GZSauron","WeaponMerchant","BurningAspect","Miniki","Northie_","DediGoose","iMauriceiNoob","Jartov","almazzzzzz","RedGamer735","Jamiryo35","AverageEater","MilitiaMan10","Deroekeloze","McClubbin_you_up","Stenkross","qkflbari","DenyCZ","TILLZ0","LaMDaKiS","julikuli1","Loakig","aLii0","AshadowA"],"WC47":["Tommu12","ModiCrafti","ycy8812","Frxstybeast","ante1ku","Frogwow","HeDeAn","na2ve","Aimat","NotCt","VinceTheChampion","TongChun","vinyo000","Kazreti","Auxdible","Ledz01","Sindragosa","PeakyBlox","Seas_Hi","Dwarflike","Cinnamon_C","AlejoPr","MasterMeep_","Azares","Q_Mitoboru","TonSS","MGProOv2","_Alien_Z_","Vestfal","EluxET","ArcherHKW","NoNoArNo","Cammicasera","Muhv","CreamyChezy","SashimiHammer"],"WC48":["__0o0_","xRoouu_","DrexYiii","_Lymboe_","Kreppo187","Crpt_26","Vadris_","kamigoat7562","Wookin","Cryo_Frost","Aebe","Gummy56","INTERSEPTER999","VEGN3wow","NameLessX_x","Hariboop","SupremeTaco_","Troilux1","oxih","THCForLife","GeassTV","MxSalvo","frozennightrain","Estavius","Pinker_Real","AgarosD","P3pxe84","DarkD0t","1OOs","Sebi_0601","TatoMerchant","COOKIE_MAN09"],"WC5":["project945","Night_empty","Surved","Dracsono","Frozne","Eva52044","DrDenson","DirtyMike550","xJarran","redmer_666","Buur123","ChGravity","tipit419","_Zei","Night_F","lucky_cat_owo","Willy_bro","TheEmeraldG","xGamerYoshix","LizzyLimbo_","TroidaBoi","Gaming_Turtle__","Tankk_","Tuurender","rara503","TunariLumimies","Takikari","Doshik18","SwimmableGuide9","ichi0110","hudang12","I_LIKE_DIRT123","FPGxLegend","Watermelon205","NSAI_OD"],"WC6":["Okiiiiiii7","Munt_Machine","frankensteinsmum","Hi_im_ZZ","cephzs","kiminyz","Neqk","DieAnzeige","Glix22","NikkiFlower21","awaWaterrrr","Lari_the_Elf","ceasar0415","Yanyx8","FlatDesert80","random_person321","PokeBloke","EllaNoTeAma","Howard_khh","hennycrash9","Afyedoh","Arm9nam_privet","tikinout","Hzii3530","Owen1428849","PumpkinBunny","HyperionCvC","latoun49","IAM_Will_Pump","cocodepombo","Lxeys","Sw0rDd0gG0","Lethioti"],"WC7":["xKananMariMoon","MitJosh","KingOfWorld","Natyan_","briourbi","DolphinO_O","ItzJustJax","KittyMilkTea","CyberCone","Radziura14","StayAliveFriend","ItIsStitch","Fishasourus","Stefko_GG","hammygames07","Rocky579_","AstroFuture","DoctorTera","Kilian_Wolfsblut","Apple___________","LeBonManu","LateOgre","BloodyStrangez","mello1000","LittleVictor_7","EchoHex","folkfeller","JewishParty","Juuzaki","Dqvola","Awesome_Daniel"],"WC8":["ErisAdam","fadedshades","LostBot","Feueristic","UmG1","TornadoSandstorm","XDyl4n","SadMachine","pswrstar715","Nickname_Legal","Lio_","Mecei","Dannitauwu","Ecence","LimeWolfLizzard","simsimhan","EdgarVerdi","SummerIce233","TheTrueMVP","KaufMeinGucci","capeluigi","redhead123toad","Loopsy918","Mizae","BreakBlocks111","AlarmedBroom515","BlueBear1280","XPMMX","Liyumi","ChocoMuik","Led","Glop777","D1uLaSing","HomelessMarker","Ssephiror","Feast_and_famine"],"WC9":["Araragi_Tsubasa","dormo01","extrnl","Lucky_Lunge","Retepeter_","DragonMaster552","maddiecrusher","Corrovox","L2nOxQuu4","acefs","ACGhost123","IFynnI","PaperCranes","Customzuez29","UberAwesomeDog","Taumis","notynote","HarpKnight","KowaKuma","Bombernd","SkyLegoMan","Azuri_","MarciGamer759","Kroko_fant","xX_Krusty_Xx","Dunemitts","Sora18971","Hyplex","ParsnipParsnip","___cat___","sin90equals1","Exbibot","Kingofladybugs","MerkelRauchtWeed"],"YT":[]}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
