interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=The+Farplane
  response:
    body:
      string: '{"name":"The Farplane","prefix":"Yin","members":[{"name":"renderme65","uuid":"5be48ae3-82f4-4f4f-baf1-c26fcbe1788a","rank":"CHIEF","contributed":0,"joined":"2019-05-13T00:01:52.787Z","joinedFriendly":"May
        13th 2019"},{"name":"ojomFox","uuid":"33b6a693-db57-4b3f-b6df-d0772876994f","rank":"OWNER","contributed":367263972,"joined":"2019-05-13T00:01:40.211Z","joinedFriendly":"May
        13th 2019"},{"name":"MrBartusekXD","uuid":"0edc3eb6-74d8-49b6-8b2a-3c0782183e3a","rank":"CHIEF","contributed":3179914,"joined":"2020-07-16T18:42:57.175Z","joinedFriendly":"Jul
        16th 2020"},{"name":"RhodieCub","uuid":"55309fc6-413c-4e05-8394-52f28ae41909","rank":"CHIEF","contributed":8913564,"joined[...]
