interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1629227865,"version":1.2},"WC1":["YukaIsHere","IsaacCE","RafaelGomes","Maarcus1","CharlesEM","CatDragonSupreme","Calluum","kyro07","Spoofify","Siimbad","Cruz","Korthik","DogeTennant","daance","20190910","chinatownboy456","Ashenslive","uzbuz","nikita539","Doomblade216","Deferent1","FISHY_IS_A_qt","Squoooshy","Magic0Fish","LJinming245","TheQueenOfDemons","d3ci","Toffler_DK","19kss","Tealycraft","Koritaru","Artely_","Strolled","Glorious_T"],"WC11":["steph__jp","Kokyunage","derdaniii","Nebsu","aytox1","TheMasterMeeper","SALASANDER_","SakiMiyenaga","Frozzenshark","Feeely","LordReaps","Trigonometric","HaHeRee","Gammel2012","Crashtendo","mgsVlad","HactTB","bga8864","PMG2005","DaphnesBros","Perceiving","Fistojedi","Feudzi","Pls_ik_ban","_MrErlin_","bigduckinREAL","Adamosx","Venalli","Sashasyper","GooberDayz","SilverCheez","3BMaker","Arcturisus","zx3n0x","Nikelz_","ItzNiko88","HappyMeal_MC"],"WC12":["MinesofTG","Doge467","Seagazer","animekid69","oweyaf2","PJaxOne","xAllura","TaHKucT","xobiwan2","Mistamage","Juic3Boi","TerrarianSoldier","PumpkinBunny","meyf","inki_uwu","Hzii3530","SignatureFail","WoodMerchant","Konenala21","TatoMerchant","LLobsteRR9","CuzImTimer","Jqrnhub","krembo2","TH_Davee","huyming","_TypS_","IkMagJouNiet","WoodCreature","NotableOsprey92","KyriosSK","DarkraiNightmqre","Skypedia","Ridgi","Omnivi","FrankyPT","Seryzser","Kiyan","Shadow_Flamer","Kewbin"],"WC13":["AgentHigh5","kousn1029","LettuceWasTaken","LouisDeGuerre","Nrg90000","lukey_12345","Jono236","91q","2_kill","OmarAlGhamdi","Th3Police","ewPanda","Mayzees","SuperPiggeh","pPly","bikesuper","sadsouls","KosherBeef"],"WC14":["brammaster","Skylord_Lilalna_","TimeWriter_Ty","stevekochavi","tofu54","SunExtractor","Derpicorns","dark_devin","DarkZVirus","Succakitten","ShazzzzNinja","firekong","abnormie","R0ya1T","dungeon_raided","highrescucumber","DemonSlayer7658","zMars","0verflux","potatobleh","unrealphantom","FireStreaker2","Kyren223","Poyia","TwitchyHornet","_frotte_","Mineso123","B0R3D","Entity020090","Black_Arrow764","ghostchaser05","Tigerbird08","theseaemperor","Devil_Dog"],"WC15":["Jevandu22_","Speedliann","Karakuridoji14","Caitlin2001","Fadopastor","W0_olf","viw","NewerX5","aayan15","DeathZoneKaishi","Crazyman267","Jack___Johnson","IamRainb0w","imperathor02","MrWatchdog","LordWatchdog","Flareix","R3CE","YoshisWorld","OmegaCKL","SirWatchdog"],"WC16":["Maracs","SpiderKory","Esnie","16izayoi16","DOUBLETROUBLE43","WestisHeck","MeekoMonkey","Aqualost","Crashman100","TheEnderAssasin_","Kaierss","Nato901","Lightningkitty","Kroko_fant","press_f4","Terrian_Warrior","LegitPeasant","Epic_mAngo_chunK","MustachedSquid","ufficiale","TheKralex","sebcd","NotoriousTiny","Merautis","_Arooon_","Doggy_W00F","Wices"],"WC17":["SnowyProton","yogurtmuncher","exavault","zi__jun","MagmaCxbe","stillnocake","HappyBanana420","tiphunny","ibravura","bmd1","Ars_Magica","PlazmaVolt","Schmalbein","Sire_Maou","lilian5112","Undeniabl","valegast","esp8158","Tiagx","TTep4uk","Whale_Doctor","bobbyshurtluff","HarryNCY","Rafailka","WestSidePanda","Teapot9001","CooleKatze123","wo2w","MerchDownBelow","yogchamp"],"WC18":["Jqkeup","canadeean","DanTheNeko","EndlesSCaptainn","Fraser1_","DaedricDemiGod","Prankster999","Zerfex","Leggendairy","RandomRandomness","DummyFox","Kitsunewo","MrMushoom","Phoooon","juliusbl","w1lzer","MaskedHD","fireliccio","mcwarrior60","stependia","KalaBot","delta00"],"WC19":["AGoodUsername44","ShaylynEM","Marina_My_Mommy","cutiepuppy8","MRpatrykos","Alespic","Eisbergzwerg","Snellecas","Odiibe","JeanChristophe","Qd2","Neutrao","PeiceOfCake","Cloud_Dash","Ctx35","FurretGod","Cakeruiner","KarenGillan","iMauriceiNoob","iSniper1010","269g","Marsauh","Fishron_","IronCube6019493","crturtle","Penguins76","Ikasy_","CaptainDylpickle","_Necrosis","Dream96","adrianjch","Galaxy_BlozZ"],"WC2":["Chigger69420911","Billopher","HektarDeEpic","Skovspejderen","DEAT38","SteamUpdate","Kayatou","ItzHazel","Aferios","nightscout01","Hastur_Kin","JohnHandc0ck","RicardoMilus","OpaAfspreken","Leeder_","Barackouda","em_i_ok","RB_Spaden","Relflow","milimeter7","FredomFM","7260","luukschade06","LeonTsukiyama","OmaAfspreken","Macro_Eric","Wkreconypl","RaptorCloak13k","copper7","Gli1ch","JTJWarrior","Noah_HW","Benzknight","Noxdiaz"],"WC20":["mmfmgmghggmgmffm","iFrqnk_","AngelTheNeko","BlackTeaAndSugar","PhoenixFluffy","CritHit_","WaerenxOfficiel","carotterose05","YoutubeOctober23","TheCanadian0417","TubbiestMoon","CuddleDino","Dased","CarlusMaximus","Yuzuchhi","Quwercik14","WarriorWithin142","Katiecat1232","Thelrm5346","ShrimpPig","kabanosikpl","Permia","Exemals","kmatyi45","QuakeOfficial","MightyWolf_","frangofrito","Mikmen57","Apple___________","Raw_Fish","Aerihs"],"WC21":["MortosVivos","Mini_Mumbo","finnyjusdied","PingBlue","Nukewarmachine","IAMRK15","ItzMythic","Mcshort201","_Guess","nik1806","Mister_Paketi","Ortem","Papageikordel02","Wak__","Aromatischer_Tee","Tom_Goe","p4gu","RussetMantle","Grayskayle","Natyan_","xavigamer65","Fyzha","Interstormer78","PingYellow","thelaye1235","HiGetS","zMrX","mansi_","Zaphkyr","MightyShaper","Legomix13","IceHorror","ilyYerin"],"WC22":["Bezwstydnik","ccao56","xXDemPantzz13Xx","FlippyBattle","Sunulok","Artificial_Robot","loosje85","sgtforge2000","evergren12","AmaRaku","RigidStudios","MrKrippi","Xqlin","Airdoggo","mariocultmember","RubyTheAvali","oOCharcoalOo","Duck_Truk","Raegos","Wolfyyy554","_Boyer_"],"WC23":["MCfesch","Bairit","Razhien","Albert_Hartwell","LeEmoPanda","DocDox00","NickReZ","Sendunes_PVP","valval_","Xsers","The_Wild_Card","adam_playzz","BombermannSklave","TurtoxHD","theodafilto","PhantomOk","Fliks55","gamingwthme","VPlive","Calico_Kitty_","MaximusKraft","realAnkis","odioten","phox_phir3","spacesven","ElEspix","ISmellToes6969","TooCoolCat","ForceofHoots","Langelot2012","ThatRandomMyrmex","adi293","ReduxReaper","MelonLord26","Rexshell","Skidooskei"],"WC24":["Matenthesis","Meeithot","Tsenabe","Lilbreadstick","Yokirai","dondersam","Wolfurian","kawajko","yee_y3e","dogeyy","Peed_My_Pants","Pabunga","SniperGotSniped","laptoplid","_oko_","99loulou999","Callumagic12","JJDrisc","JujuB4Ever","Lord_Earlyboy","WorldOfWozard","WebbMaster20708","SamuBIG06","Z3dRick","Aeronomotron","Doctor_Pindsvin","Leiley02","GravityNoob"],"WC25":["Eliux","lureen","Cralux","1_Max_2","Jylux","iN_1","Canute_the_Great","nagyattila09","DaeHyung","Bottlle","LaMDaKiS","_Pain_Less_","AdamJCoote","CodGod","Wolframer","Shok0Shoko","LiKingz","BenjiPG99","Qustark","Voodol2x","clepi","Gingerbred0","Mug3tsu","UniqWay","Hold_My_Whiskey","skratchthat","SimonasLTU","_EagL3","GR5ViTY","exqlode","games647"],"WC26":["0Spookybear0","blaxkstormy","Cedi01","MrAbdul1","BoWaleed0","xenor1","Keqqu","Stonewood345","07E","Jeremy1027","cMarco","starfaiien","NoMadSky_","Zerozcraft","abdullah00","Ahmedgamerz27","CptVEND","Propheyy","YaBoiRazur"],"WC27":["Paynike_TV","IcyPandemonium","DeathIllusion","IIZedowII","KopaczObsa","Massimolini","xZelux","Lezaxc","AeroGaze","redhead123toad","benjgord","NovtheKidBF","PeculiarName","_cR0w__","ZendoLimitz","IceWarox","Dduck18","Docteur_Yuno","ms520","983m","NINJA_VK","SolyTerre_","Gumbear","Lloyd_____","tmw02","xARINAx","Luigi375N","sniperjake1994","Iron_golem_B","2xTy","Swiged"],"WC28":["hundog24","Skye_Pearce","Lilcuttletwee","NecronHandlee","k_muride","Begnis","Laaheee","TheLazySeal","EnderProductions","deathly_ether","a_bag_of_noice","_bid","Izyva","Vastira","Presect","pikapikatch","Hasmeragon","ScrollHub","Qliqly","Roku19","ViperLightningYT","Apierriecube","MadAsRabbits20","sushifishblock","BrunoSternberg","PloyKa1338","catchestra","NoxCry","waffull","I_HAMSTER","AzAleks620","CryF00r2","SimonKiller77"],"WC29":["Thunderous_nan","Bangers_N_Mash","Gamergrabs","Scardize","snowxq","tristanysan","TwilightPyro","Geshultz","xetqla","battlelord2001","Fuguh","_Starson_","GoldenEye1001","Soltar_","xXTigaaXx","Goahult_","Qlision","Invincitron2000","Autosmord","Ezpeon","Coinflip__"],"WC3":["ArcSucksAtGames","Lami","lyyndzeeyy","Sura_B","OoohkMasters","SealedWithin","mareepsheep","MeHDiGIP","garlicbread101","memelord1625","GlowKoU","JewishParty","jebidiahpercy","eipotu","ender_non","Bread_Sandwitch","NeeboCraybo","shisui809","ModernSoldier","Luka__St_Hv","pyro_flourish","Itemsforscared","Maximo5","tangwyllt","ElShadou","Aarontheghost14","Centurion041","Bamboo_Boi_17","TearAvi","Lalatera","CEOPimp"],"WC30":["SrDeg","wilsan3","Io_0","Trudolphs","Monygen","oxih","Ambeiro","Nanoodles","Ledz01","egirlhours","skylok_coolong","wildwolvesBTW","RedKnight93222","K0tae","kolwolf","Slimeytunes","wizars2000","Reptain94","cookkiesss","Marco_XD2000","wigiliusz","Dragon_Tracker","Psychicraft","Nnja_Clam","MrKoko18","Hayyym","_BR3AD__","LaserBeam912","Bombernd","Wintersemester","Noahwagner12","_Whirlybird_","Hatredevolved","PlatypusRafa","Silvel_","Lourisk","Intersperse"],"WC31":["Kohelik_","Kimmpa01","qables","LuCoolUs","Sebbe764","SrPiro","josesomiedo","Ricrado13369","Wirbelwind___","Korean_Alpha","FeldsparFireball","1OOs","_3m","Squidtank4","GreyM4tter","Cxmers","GamerGodTasim","bobrob2002","Katile","nithead","Emily_Q","Thomasz111","KaboomKat","DJAGERA","errorrrrrnull","toto2701","TurkStyle123","mathew929","MochiAle","Bolttt","ELJOTEK096","Flaming_Soldier","Bahakuhaku"],"WC32":["SuperBot323","Ikuruu","Iboshnet","Infusion3","Romeothedog","ThoughtFlow","x03url4bp6","nuetrons","VCord","Kaszt99","Keenaai","lildarkage","ZorbexMC","Rudium","Kaizookuu","GobiAzimiya","Dragospin","Panda_playzq","Ichikaaa","PatzrikSan","ultragreenninja","AndroidGameBrek","Motoriya","BananaSpice","DoYouHaveAnyFish","Toyis","Plompa","TheMightyGamer99","Faclon","Leqito","LeaneLaEz","doomberry11","FDavId333","Johnzo26"],"WC33":["Bearded_bear_","MrTrickser","Pr0Tesh","PendragonMorgana","Mash36","Tazacker","HamDrone","Harmonance","Ronoc00","shutupmatsuda","RacaTom","Akro2k","Ard3ntAlien","fandasliz","Roosse","YourTrustyPan","adrian7w7","Duobolical","Obviouslyn2","GerdaTruus","bjbjgugufyfy","OwONull","Jamierw","RustyOldKucko","Jay_Arby","IvanDima30","Shappycow202","or1905","IcyExcaliburn","SleeepingTree","bowering_123","LuckisMyStrategy"],"WC34":["Yottai","SparklyTomato","_foxn","Mrfunniguy","Turtlez3356","ReesesPiecesIV","_Lestern","StreamyRaptor90","GoldenDuck4545","MCMelaineSlice","Erudite_oS","Shrumton","Yorkyybro","JamesJtheGreat","Carrot_Parrot","Meneer_niels","JearBear43","DarkReaper7","Maximowskyy","OperaTheatreNerd","WhereDaLambSauce","Darrick966","Lemoh","ThomasMiller","Fouadio","_Buttertooth_","eif","Manskem","KarnageTheGreat","fuklord","UberAwesomeDog","TheEmeraldBee","921291","grand_poobah","xWaazes_","lceBucket"],"WC35":["USlimeTV","Red_Herrington","AdobeFlashPlayer","tomoo318","PrisonNightmare","Dominant_YT","VioletDiamond_","Ziemedix","WarriorWisperer","URDADWANTSME","Spacebot037","TheCrazyComet","reborn01","curtsey","imcoolguyz","asianlaxman","Kararasu","Gun_Blade","Hat0rii","uwuSanae","iShinyZ","Binooo","Lavender_Cloud","AndythePuppy","Noirusov","Salouu","Konradensator","HENZ13","W0lbach","Threshis","Efim_V"],"WC36":["Goldhaibaum","ObsidianStar45","Dr_Fishman06","lumifoon","St3rm1","KaindaGAY","FloorOfLava","Gamer_Attack","Tequinha","Maximilien7","DoctorMooS3","10zDuePlayer","Darkrenga","Technobride","Zekca","DragonBoi579","SakuraSS1021","_Gh0stz","tri"],"WC37":["invisible_panda2","FuriousliamYT","SpikyParka560","TiciaLicious","Danceycat","timio2","Maskcraft_","MatsDutchGamer","Nebula1744","MeLegit","Quef64","littlestmisfit","1GrumpyMonk","darkraven2005","mimi12242017","Wynnder","Skrupp","Tykin","10ma_","un3l3phant","PotatoCatlin","Daziia","nightbaker","_ClaudzHero4","PixelBit92","_Nemuri","WitherStorm2005","GORILLANKIERUKKA","gewoontoon","smoogiboogi","FireSoul564","CheezyCheese","foubrac"],"WC39":["Fishrom","Kar_ling","Skeletonium","ChronoShogun","OwOAva_","BadFCA","XxFantomxX","MakkerJEFF","Jajo1905","Prophmeister","RyanIsCool9281","NeverLimited","Magnetar01","StefanGamer_BG","TheWilburDog","NotVerySocial","Hamsterlordje","UnsocialBirdman","_Noxus","EveRagon","ionpython","Strawberrrrrrrry","oBeyond","Sparkke","Blackrrosess","Spiriitwalker"],"WC4":["FinalStealer","seniorgrinch69","skyjoe66","Williwonka2558","olivia__rodrigo","RokEm","VaporMinecraft","PenAlexTension","MangekyouKamui","AsianCat","Trevor1468","Soggy_Breadloaf","Icevibe1","piggylover6","yuhiboo","Corneliani","Ninjowo","Shiranes","Tommy_Jay628","Shxdo","aKukumbur","ICantRightClick","DinnerBone31","Zeyrosu","Bilovisnake","SirensPup","vForGiveLess","Meshyy","MrsBlossomPaw78","Fisring","monkeykapaa"],"WC40":["Lesefin","bluebliinx","Kokokaz","hoinx_ad","_Erratos_","b1ngbangb0p","jet_vac_3000","Redgraf","Dedi101","WeGotBoom","DedNick3571","KSChaos7","Neyshiru","NightShadeUltra","Keklion122","Throuqh","sendnoose","Aleks3000YT","legonoahv","Sepinator","PeaceWarriorLP","yashnuni","lilli_finja","DankiMod","Bringa001","YoniMC","Tanzi1301","Dystopius","PerkyTerky","trickr","DatMoonGamer"],"WC41":["Kodiak57","Bla5tB0t","TMPhoenix7","Sergio_02","yNoobei","gamermaster612","GBa55i5t","ShinyOpaline","de4nonim","VireVeonix","wlg","SpiderKek2003","CramCTQ","not_lost","The_Gold_Bunny","Oalak_MC","Slowless","ElWolf","brandonZ89","ThxYou","MrRickroll","Its_Breado","HotKing","lounar_","romvig1","Spham","_wlg","Zadashi"],"WC42":["Lord2014","LiErNora8813_TW","SirZetabyte","Gergthe3rd","schnurliii","Vinnie64","Ryan_Cowlen","MemTim","Snape8637","annkirstine","Orzunoid","PPsychonaut","Perlaxe","rylinbrook17","realJacob101","Jeremylord","1234fr","Harrison7209","ItzzProblemz","njziebold","Sphallerite","Isaac_gaming_123","elizaflame","TrilogyXO","Lefatboy1","splashs","MrTwix26","NovaWolf","WoliSmiteh","TehNelston","Cleavelol"],"WC43":["MMMPancakeMix","R0T0N","TSrikeTWM","_Layer_","HiraganaL","RisenEzura","bobthebuilder23","jpw441","LateOgre","strivver","Zephy13","Lhz271","rslJonaas","RampagingRobot","AoF_Hydra","0hhhhh","Linako","onn1z"],"WC44":["_lord_hades","TheFireDragon52","GirlyGamerz","_Mimo","stier_17","kaikn","SUCCOX","Marou_1000","Psycho","freddLess","Poltrons","JeMangeUnBalisto","insta_h2rep","XDayzzX","S147","Chimitsu","Kreppo187","Dankeeeeeee","HuntingButcher","uwuCassy","Yodaimleo_","Plumperia","T307"],"WC45":["IfvegetaWasMe012","jerdenreal","nallen_2000","RubSkrub","Squidly6","PinkBlackHeart","Snogi","hauska_jiitti","Pony_Slaystati0n","Retorial","mikus4","Clikign","RelXis","DJRE22","aesthxtxc","CaptainSpud_","5L_","FusionBack","Zenieboo","xxElise01xx","Ragnavad","Hamsterbox","METSYS2020","reverzeX","Kannaian","SeusFist","PouleEpice53787","Anchordog","accessuzza","SpeedyA","Meamaxima","Loera1234","PikouDKou","MysticXenoPotato"],"WC46":["Belgariond","SMOO7","E_man__","buffle_bird","TemaSeriy","markuhz","AngelaTheBoss","KingCurl","CunuNyis","Skwibble","Slobbadog","I_Got_Std","captainzar","I_Wate_Wyverns","EThowt1107","Twandhi","da_sheap_","qmmo","tea_and_biscuitz","wlodeknr5500","RandomGamer539","Razyrwynd","uu_quak","HandHoncho","PandaFicko16","Sophfuss","XaelZephyr","Gulon_","Laser2016","JigglyMajs","ChaosMafia","Dragonbound","Ceraen","mindflex22","Kind0ver"],"WC5":["duokit","Zeynes","ikbenbartje","pvpgodx","JerryStuffRo","Firewolf2027","aphrodqte","Spotzurang","bobo_a_joofej","CreamDoesNot","MrZak22Pl","AlexCraftStalker","Sporty_Pug","MrSavvys","renoegert","camocat9","FascistFrog","Bastige","Qcelot_","GmanT15","xyrona_","Jonnny5959","Bighurra","Anti_Josh","cOwOen","Evankrell","4Builders","a1235813","Saeckex","Keldorn","LisaFunck","xXLeqit_VincXx","Collectings"],"WC6":["Wolfpackplayz","ninidoor2","Keniye","Lycoras","TheSecretStar","simongao1126","Xernial","nHexanol","Democratics","ArchoKast","DSUnita","ianky","TheEggPotato","Stiller_Killer","beesty_uwu","XavaXia","TheOriginal3s","Agonios","AlenPro56","dar1man","Populist","Ilikebeef47","Extixc","Leoneo137","WeaponMerchant","GamerHD0106","Marsn3","SleeepingSheep","RastaWorm","Crazy_potato11","wholg","Frxstybeast"],"WC7":["GamingLemoon","odamar_gamer124","Stereben","Guntertron9000","DigiGamer10","JGamerBoy","Glynix","roguewalrus","diologatos420","Percentage_D","CABlueBird","Creeperly","PricyGarlic1592","skylarist","VariousP","Memokgg","WitekGrzesiek","Elondid911","donkeyanal","GuyManDude","xZombie15x","SamPro910","Vance568","vsoo","Modmester528","LegoFalcon","keapzear","ziellinskyyy","iSpitLikeALlama","On1li","Dead_In_December","PapaPenguin_Jr"],"WC8":["NOMOREWORRY","XxHagaxX","FrostyTail","NotTails","Naraka00","_zAxel_","Patri_Craft","HOT12","XPMMX","Raycifer","hammypotter","EmptyCloset420","Turbulentt","cavo_","HeroMinez","WithTheFish","H1dd3n888","creeperboy217","xXFaze_DumbXx","KouKouChiao","probablyChairs","creeperkiddo209","bcreeper2002","PrenomNom","mirakunnnnnnn","KLENAIR44","KeksyHD","ReaLR3LEASE","Redex27","ssocks35","AdventurerPat","EchoHD_"],"WC9":["Kqjitan_2IQ","HellKillerss","AKknudsen","imawwsum","YaHu47","Rocxes","Brid108","Pu_Yau","tv_KackstiftKnut","_Fraser","Kicksarross","V3ctra","Oblit_eration","pooh005","SagiriSensei","TheUndead2146","GeneralJello","Enesx","dela_docus1","8pu","Le_Kazumi","LoneSoul","zNotDiamond","rl1805","Clliff","Crinj","iMxrk","Gyuuki_","LePourfendeur76","Lamborg24","Nathaniel512","jonnygunman6","MrLourisk"],"YT":["kmaxi"]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '173'
      ratelimit-reset:
      - '58'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/YukaIsHere/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/YukaIsHere/stats","code":200,"timestamp":1629227882441,"version":"2.1.0","data":[{"username":"YukaIsHere","uuid":"2858f083-a251-4825-bbc3-4c1d75555d45","rank":"Player","meta":{"firstJoin":"2021-08-13T18:52:50.068Z","lastJoin":"2021-08-17T19:17:10.266Z","location":{"online":true,"server":"WC1"},"playtime":426,"tag":{"display":true,"value":null},"veteran":false},"classes":[{"name":"mage","level":112,"dungeons":{"completed":6,"list":[{"name":"Decrepit
        Sewers","completed":3},{"name":"Infested Pit","completed":3}]},"raids":{"completed":0,"list":[]},"quests":{"completed":28,"list":["Misadventure
        on the Sea","Deja Vu","The Corrupted Village","Lost Tower","Recover the Past","Dwelling
        Walls","The Dark Descent","Cluck Cluck","Pit of the Dead","Macabre Masquerade
        ''''Hallowynn 2014''''","Studying the Corrupt","Grave Digger","Maltic''s Well","Mini-Quest
        - Slay Mooshrooms","Creeper Infiltration","Arachnids'' Ascent","Stable Story","Potion
        Making","Elemental Exercise","Mushroom Man","Underwater","Tunnel Trouble","The
        Sewers of Ragni","Infested Plants","Cook Assistant","Poisoning the Pest","King''s
        Recruit","Enzan''s Brother"]},"itemsIdentified":0,"mobsKilled":3586,"pvp":{"kills":0,"deaths":0},"chestsFound":116,"blocksWalked":77625107,"logins":21,"deaths":15,"playtime":422,"gamemode":{"craftsman":false,"hardcore":false,"ironman":false,"hunted":false},"skills":{"strength":20,"dexterity":7,"intelligence":16,"defence":10,"defense":10,"agility":7},"professions":{"alchemism":{"level":1,"xp":0},"armouring":{"level":1,"xp":0},"combat":{"level":32,"xp":11.4},"cooking":{"level":1,"xp":0},"farming":{"level":25,"xp":42.3},"fishing":{"level":7,"xp":34.3},"jeweling":{"level":1,"xp":0},"mining":{"level":1,"xp":0},"scribing":{"level":1,"xp":0},"tailoring":{"level":1,"xp":0},"weaponsmithing":{"level":1,"xp":0},"woodcutting":{"level":25,"xp":19.2},"woodworking":{"level":27,"xp":1}},"discoveries":274,"eventsWon":0,"preEconomyUpdate":false},{"name":"shaman","level":1,"dungeons":{"completed":0,"list":[]},"raids":{"completed":0,"list":[]},"quests":{"completed":1,"list":["King''s
        Recruit"]},"itemsIdentified":0,"mobsKilled":0,"pvp":{"kills":0,"deaths":0},"chestsFound":0,"blocksWalked":1417,"logins":1,"deaths":0,"playtime":4,"gamemode":{"craftsman":false,"hardcore":false,"ironman":false,"hunted":false},"skills":{"strength":0,"dexterity":0,"intelligence":0,"defence":0,"defense":0,"agility":0},"professions":{"alchemism":{"level":1,"xp":0},"armouring":{"level":1,"xp":0},"combat":{"level":1,"xp":29},"cooking":{"level":1,"xp":0},"farming":{"level":1,"xp":0},"fishing":{"level":1,"xp":0},"jeweling":{"level":1,"xp":0},"mining":{"level":1,"xp":0},"scribing":{"level":1,"xp":0},"tailoring":{"level":1,"xp":0},"weaponsmithing":{"level":1,"xp":0},"woodcutting":{"level":1,"xp":0},"woodworking":{"level":1,"xp":0}},"discoveries":1,"eventsWon":0,"preEconomyUpdate":false}],"guild":{"name":"Cosmic
        Angel","rank":"RECRUIT"},"global":{"chestsFound":116,"blocksWalked":77626524,"itemsIdentified":0,"mobsKilled":3586,"totalLevel":{"combat":33,"profession":104,"combined":137},"pvp":{"kills":0,"deaths":0},"logins":22,"deaths":15,"discoveries":275,"eventsWon":0},"ranking":{"guild":null,"player":{"solo":{"combat":null,"woodcutting":null,"mining":null,"fishing":null,"farming":null,"alchemism":null,"armouring":null,"cooking":null,"jeweling":null,"scribing":null,"tailoring":null,"weaponsmithing":null,"woodworking":null,"profession":null,"overall":null},"overall":{"all":null,"combat":null,"profession":null}},"pvp":null}}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '172'
      ratelimit-reset:
      - '58'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/player/YukaIsHere/stats
version: 1
