interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1654609122,"version":1.2},"WC1":["Maarcus1","oldnewjay","T307","Pandamonium","VanicArts","AlpakastarSC2","DogeTennant","Jeff0910211","miniPCpro","Magicmakerman","Kthuulhuu","skywalkinerate","Sedyreph","trickr","Yazzzzz","bongin","RoSeNur","juagonphly","olinus10","Raurh","VHoltz_","IsabellaSky","AdamJCoote","Murs_Ran","Esdy","PROIZER69","MrApplesauce3","Mqjik","kandakuu","CombatXPBomb","xd_mchotdog"],"WC10":["Shadeless","TheWynnWizard","BH_AlperEren","Google_HQ","Kensi_E","Alex_235_UA","BaroTea","xVict","eauee","SpaceCubey","BobbyUwU","TonSS","TheWhale1969","Satsurai_0829","BabyOkami","MarvelousMarvy","Xamaisog","DarkestLariat","Kqiru","ElectroGaming45","parimates","wynnpixel","WildAzoki","22b_sti","EZREAL7821","Pandouge","Sherderr","Sabk","H0ERM","Hotaru_Sama","redthewitherYT","Seversum","DeAstatine","Chuckjirka"],"WC11":["Porknips","MonsieurAime","Obama_VEVO","Heiwatyan","rq1nn","kikysu","TY_Erik","Cho_colate2","EnderMiku","meowmeowburst","bloodnighttw","astronotdog","fargolden","MoutonDeCoton_","NearGolden","Taeo02","anassaid","Lonver","BeautifulDuck"],"WC12":["Dark_willie","STomin","kwauters","Dracium_Z","Karakuridoji14","Drollings","Speedliann","rIVen_Dog","oht__555","orenGr","Gilgamesh__1Na","TOB0SU","SweetComputer","Lefteris05","GodCarp","Aledar_Cart"],"WC13":["TheBossPenguin2","Dheodri","StarleChang","ExcIusive","Batesha","DerDoktor44","yumeir_","pedrao","CyannAkua","TonyCreeper","Brombatz","nullun12","HarryOtterTM","Brummbatz","WolFFF888"],"WC14":["wurtel2005","Chlebekk","Xrality","xXDas_IssesXx","Ivan_Kov","Pododeng","mrdd02","a6o","Wert_pl","JayG07","Ghosted2Death","iambot999","Voodoodude18","JonathanDMLmao","BishopC4","huskymudkipper56","deliciousJI","Edifie","TheNecronBoss","loeven90","liquidslowly","sobin","epickigamer","BaiMaoYeLu","Little_Fely","DarthNetherrack","TomikoKun","Tigerlol1","ColaSnowy","Kittycat21347","Brosqa","Yamavagyok","Lord_Schmiddi","Kecske11"],"WC15":["BurritoEnjoyer","Carpo123","wolf_cute","ArecceX","Tonly","DoneBlock","Xiao_Hao68","Sire_Maou","Clickmate","Beedlejuice","unuxx","Vortex119","OneClap","FearingBug61625","Splynncryth","Iwanaga_Kotoko_","CunBenMapleLEAF","Saxmartinez","evieen15","Step_To_Hell","Kashmaty","UnovaNetworks","natcrackers","lya102"],"WC16":["Reseeety","Calluum","ppfart","_thrmy","LaMDaKiS","YNIVEI","SpeeDZzinFiniTy","Julinho","Light_Works","Lightsaberrlx","Corcustos","brilliantknight","Sombian","Lhz271","Knoight"],"WC17":["kwildspirit","GayAutumn","oOLostStarOo","MrGam3z","lil_justin","asdasdawsd","blockyYoshi","GekkeGundalf","xMavis","HeadGotYeeted","LatiBurst","SzczurexPL","Bardakass","VoyM","gimmefins","MrRussetPotato","Balcsi919113","DaaDuck","Zobixx","monu19","ElLegoLord","jozsika44"],"WC18":["PotC4t","ChrisJ1234","Vaacation","justGatze","Ronpich","DeepBlue_i7","yoonchang","ItsTaDevil","Jae_Hwan_","snakeyeeees","StarBinee","GreatYuni","LovelySeo","MillionKei","chihaaya","purduu","gunnyvukhi","iamgiantbaby","buggubb","Before1999","dopeb","saschacooler13","CrazyLizard283","manatsu_"],"WC19":["shoboi_sniper","LordchenEnder","34N","DerpingDuck","Modestsky","LvckyKnqck","WayTooHigh","M4NDSr","Fr0z3nOG","Firecrafter12","Sha0wGuaY","OverYoMoma","MonsterFlo11","AWornOutShoe","pientena","NoalouisKanako","gowcaw97","FalconPhoenix","Achro_","Alice_CromWeLL","Tatsumaro0526","GilgameshPerc"],"WC2":["Titan08_cz","PurpleFox030","Notespecially","yoshi7200","GhostWithAxe","Mate4","Flufe","Backtobqck_","Rizona_Lunar","TAH2694foundfan","SakuraAki101","Shadow_MOOnlight","Osis","CocoNuts24510","xAng3l","GetBackToLobby","ImRp","Danfinite","gobblesmax","Dran1x","DARK8421","A_R_102","Crystalcaves23","NesTheMess","diliny867","DDArl","Pedro9558","SummerPudding"],"WC20":["maxmix889","pxslxxc","hotdgog","Mian76","Buttercup9871","talthewarrior11","Kurusei","galshalo55","Mcoop","GLACK_in_BLACK","Elifte","PeetuPi","AvatarAa","yannoli","KaffeMonstret1","Herodirk","JasonScorpio","ZrBence","Lucky32","Gumikacsa","SzamitoGepezo","jhil"],"WC21":["cHILLit420","TerraQu","Enjoyder","NamexLV","Ugnat_","arrowsters","Spacebot037","WigglesJr","sir_meta_knight","FeatherPheasant","8xy","syonkr","Hosi","FrozenEarth","_LiangFen_","MivosVanos","maorking9090","Zhifty","TheRedMonadoXC","_HotChocolate","Viridian"],"WC22":["Jalapinata","Mistmemo","_FluffyDucky","hgabor07","SpaceTato","albatorlol","Ph8enix","Ar_Snak___","hppeng","frekashi_","GamerOfSound","BlueNoobStorm","dizver_girl","PippinPuppy2014","MitaiDjole","CiTrOnIxCz","VZ50","CandyB0t","Amor_VincitOmnia","dapwo","Nekoturnal","OniPepperOni","Meatyrabbit","Salmaster","SSMePlz","doanhtk123","Vestfal","Triflame","Shaolyy","Lord2014","Lantern_Mc"],"WC23":["tukemenebisio","amatsuki1017","R_kolomi_S","MilkyYay","AmbassadorDaixy","Caulan","E5doremiss","WinZZed","JinxJanx","Tortagion","Ineedtomigrate","Nick_Ilithe","Fuguh","Omnivi","wasd94327","bryanloh","Nyzocker27","EmoMiki","ohaziki2","BlueTheSniper"],"WC24":["Antimon501","Aiza","RaincloudRam","Lu_Tan","remutaso","PokeMatthew","HIe2","LyesMC","Crixx007","Moonrabbit7","_eVax","Cream_Sauce","aoringojoji","Starzzle","Yukasumi","NekoMiji","Ptrd","Habidudi"],"WC25":["dowadowa","IKilledBlitz","Albb_n","lqstedskills","Takakine06","kallymoss","_Zhu_nasudayo","FailedCondom","Frawlok","Jaskaa","SkilledWarpIdol","OnlyMeee","hibob2213","redcubePlyer","Sgt_Kirky","h0ink","Paynike_TV","Midnight2828","Dibujaman","UchihaEdge","RaeyK","MrNinjaPowha"],"WC26":["ShiroKazu389","KillianSS","Clawscar","Jeta","GUS_DragonMC","Imadbro21","waman","Veilloretrix","StupefiedSteve","TimeValley","1msg","CuriousKaze","Partybombe736","hoshi_uda","Rumi08","TheNub4579","banna1","MoccaMolly","Itz_Darkness__","ewPanda","Webbiss","jmgamer2005","Daejadin","DaBerzerker","Hoven133","Bogdan172","Davidcrack043","Keyholder"],"WC27":["Sam218","KermitZeeFr0g","Seipodon","Gevonden","sergo0o","Cloucri","drachehuels","Bakura1","MicrosoftWord44","Dripstone_Mc","DarkManDisliker","Bukina","TNTbommetje","BloodSorcerer","Yiiff","Nathandtm","Lagi_YT","ghyzz","J3L1SU","Lander990","Levi367","CertifiableCooky","EchoVoyd","HTurBotH","QueenElisabet","Neji_16","Asta35300","Freezehud","MiaoVN","Joey475574","rupitu","Gendii_","MissAphelia","MagicLazyFrog","ColdWind_","blousy"],"WC28":["ElPavoGranaino","SirKiddo","OneEqualsThree","space33","noadb1310","AB_1229","Almighty_Kenn","Battle0706","TheEpicGumGum","CK73","XenoJiiva","Miqsah","Fire_Fireblade","Arqito","HallifTheLynx","viggoasna","emptychild107","kotadon","TheEndStarburst","Grodgodis","AidMan69","hulvy","Paaidi","MeBeGoose","CoolAstroVoid","tttOuO","RaidRazor"],"WC29":["roeelasos","SaschaThaFox","DaddyEdi","LuCoolUs","Taralash","UnitedForever","Mestaaja","Joyoustroll","LuckyBrub","TheHarmenator","zvyap","BigBoyGabe","winterjauch","Leavd","Ravelico","Ryakia","LonelyCreeper87","slapek","Aftershokke","kaddy306","zDextereo","MrBrot_","6066","TheDarkLord173","WR417H","TheRealFlens","DogEatingSpaghet","Ralph998","Glycan","Pearl722","Borodalei","Dudeperfect5091","Shorden"],"WC3":["Swayya","_Mr_lizard","Parallel_world","SUPER_MAT","Meinking_HD","CommandWitchery","SugVon","14MoAndCounting","MyNameIsHidden","WeaboSteam","nHexanol","GTrouble","mrcraftyketchup","Snxwii","Haruchl_","PolarBaeJr","Chqrish","ExtraLemonZest","XH","Luckywolf64","skypower13","Ezpeon","Keldorn","jittermat","Fearlesscat369"],"WC30":["Bremminglar","gamerxtrem2412","MisterBrandts","JYingJHui","Razorbackbull","az60208","180cm60kg17cm","DeadlyDream_H","joelin_TW","OptimusTango","4__Federn","Ecstasia_G","Katyte","_ENDERBRO_","Pydzy","LiNcHaSz","LemonBullcc","SheinBet","SaveMyWifi","zumiezfusion","Binzuo","Leaf_yeh","El_Van_Gogh","mattCS","CatbearPANDA96","creeperbome","Leroyng08","EnderBlueBoy","KoraniAFM","slaterme","Goose2923"],"WC31":["FireSpecht07","mobrap","piggylover6","Leafy_Crow","_ow1_","Oxamort3210","Rylb","martimcavaco","Boru_Var_MI","blobfox","Pyrophany","liam262144","oxids","Yuki_Po","TM75","Just4Fox_","fireliccio","KanozyOwO","TheLesserPenguin","Leqito","Sorcerous","Rabbit_flower","Lalatera","___Hopeless___","Garatok","Heathclyff","Broodjeboter","Sylv0504","TheTrueMVP","beer678","Marv_03"],"WC32":["LeoHooffmann","llcetea","detokun0508","shermylol","Dustarro","Appraisal_Expert","Libres","peelppp","ArKazix","Enderkombat","just_cedar","AnkkaPankka","Firestarlight94","Pierrep","BlueStrawberry19","gentelepam","Belgariond","SvenTerror","Taliyent","Monono_TX","ArakiLH","_StrikeTheEarth_","Vqdy","sina_gamer","Lucas_mon","Insomniac_1950","King_Duck1","aceisol","Doomboy765","Zaper8","Neil1299_TW"],"WC33":["_Drogan_","DrLanti","FriraMeow","Hhuba090915","Terarii","OceanTheGreat","Horus3","DancingMad","Sage_LanCaster","Alexxxgng","Goldmemder","Jemesy","RussetMantle","Ikasy_","Kloko","Aizah","Cristal1ne","Wilder_Watz","Atscd","boglebog","Shadow64510","Nozomie_Tsubasa","Felinkaa","MlyuL","IceWarox","CarrieChiou","MoiNonPlusIgo","EchoHD_","JeanGuyGabriel","Ragivell","Birthstones","Dream96","19kss","TheFinalPage","Wynnletics","Soul_p4l"],"WC4":["Salmogus","RSpieter99","Geniuskraken","Atom9","SydeForce32767","Netorare8577","sDyno","SirpaxFire","tom_302","NamelessAnomaly","YOTZNViNE","UrAvgSpirit","Nico140ps","sp3pq","fujio_o","luckeyluuk","_JammerLappen_","gettuxxedlol","Mayka","BrokenBonez_","MounirLeBombist","ClassicalAdicter","KnotheFlo10","Gangsterizm","Qxcl_","ile90","Kornel6","SirHand","Rafasi"],"WC5":["callenmj23","AmbassadorZonar","j1nthan","oppi1000","igotlove","RPTRoxareX","EgorDerev","Adasek1","andyliuqq","Kornil","iPredator123","baldej","SaruV","GetSpookier","HakeVRG","uhVortex","guava321","SneakyEndermanX","Paakkuunn","Shirolyrics","Neji_7414","Hystericalpeanut","Avoidry"],"WC6":["MrElijah155","1nsect_","foozbump","JohnO1919","Ghosty_lol","suiryuu01","Modeun","Darkerooz","Pryxes","deqdly","Uto0","lego_man724","Aqua_g","Eca_Shadow","Galectik","hummtiti","c31t","AdithyaGamers","Diseased_Kidneys","Sparkibbx","arcanety","Ascended_Winter","Zefs","Tuc40","BonkyBob","OoIced_LatteoO","Pigxelate","ForaMarz","Goownh"],"WC7":["5to","KK34","Zythinos","1v16","S4njc","TeaCookie","Gujibo","SilverCarrot","_See_","Bluefire_24","Kayame_Aoi","FireVoges","Nue_Noja","Purple_Panda2","TheBestBi","Vanilla070","JellyBigBrain","Breadtox","Kreuzritter","Dragunovi","MartinHUN1","SuperSaltyMuch","DernKatze","DaDashy","BecauseNo","Amarru_","segium","Asoart","Unknown_OuO","Samuelblue123","mozo___"],"WC8":["WodHod","FufiQueen","dannyboai","Acvetum","Sokudoo","MrSplazer","ttvfattybtw","Tolgadoetgame","QueenBeeii","Glacade","MigatteNoGokuii","blacksmlle","melvyn1073","Takr1u","ivan06_PT","Joka_Uchia","okapopon"],"WC9":["ScpTap","XxZerobladexX","gsdog3001","OligarchToad","Kundelcio","Felipe_Android","PyroParadox","Violeta_Flv","BetaLukas","KVVS","RehubCuper","POPcon255","TOPene","snowfumasa","Macro_Lepiota","Berraie","Carnish","rusek2007","rriissstt","Fireable","Day__Night","Itchyguy89","Chocochip13579","errorpotato404","Skullman11111","Levi_07","Noobotio","zherterry"],"YT":[]}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '42'
      RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
