interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=guild&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1669824232,"version":1.3},"data":[{"name":"The
        Aquarium","prefix":"TAq","xp":314411604234,"level":107,"created":"2020-03-22T11:11:17.810Z","banner":{"base":"LIGHT_BLUE","tier":8,"structure":"tier8","layers":[{"colour":"GREEN","pattern":"RHOMBUS_MIDDLE"},{"colour":"LIGHT_BLUE","pattern":"CROSS"},{"colour":"GREEN","pattern":"CREEPER"},{"colour":"LIGHT_BLUE","pattern":"STRIPE_MIDDLE"},{"colour":"BROWN","pattern":"CIRCLE_MIDDLE"}]},"warCount":60097,"territories":40,"membersCount":117,"num":1},{"name":"Avicia","prefix":"AVO","xp":91975002038,"level":104,"created":"2018-08-01T16:40:45.322Z","banner":{"base":"BLACK","tier":8,"structure":"tier8","layers":[{"colour":"BLACK","pattern":"GRADIENT"},{"colour":"BLUE","pattern":"GRADIENT_UP"},{"colour":"WHITE","pattern":"BORDER"},{"colour":"WHITE","pattern":"TRIANGLES_TOP"},{"colour":"WHITE","pattern":"TRIANGLES_BOTTOM"},{"colour":"WHITE","pattern":"STRAIGHT_CROSS"},{"colour":"WHITE","pattern":"RHOMBUS_MIDDLE"}]},"warCount":57585,"territorie[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=Avicia
  response:
    body:
      string: '{"name":"Avicia","prefix":"AVO","members":[{"name":"birdiefly209","uuid":"4d9f8bfe-67a9-432f-b120-72536a88bab1","rank":"CHIEF","contributed":28409979,"joined":"2019-08-26T00:18:50.064Z","joinedFriendly":"Aug
        26th 2019"},{"name":"Albb_n","uuid":"f9115f13-135b-4e95-9419-1abd76b54e0c","rank":"CHIEF","contributed":30228403513,"joined":"2020-08-27T14:35:28.892Z","joinedFriendly":"Aug
        27th 2020"},{"name":"Mole_","uuid":"28a323d9-2ec7-4d38-ac23-7b6789bfa5a6","rank":"CAPTAIN","contributed":70131336,"joined":"2021-01-16T20:52:26.269Z","joinedFriendly":"Jan
        16th 2021"},{"name":"ThEpicFerret","uuid":"38f10d2e-6555-4c14-953c-67068155b50c","rank":"CHIEF","contributed":6452769530,"joi[...]
