interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=territoryList
  response:
    body:
      string: '{"territories":{"Ragni":{"territory":"Ragni","guild":"ShadowFall","acquired":"2021-09-25
        15:09:25","attacker":null,"location":{"startX":-955,"startY":-1415,"endX":-756,"endY":-1748}},"Emerald
        Trail":{"territory":"Emerald Trail","guild":"ShadowFall","acquired":"2021-09-25
        13:01:16","attacker":null,"location":{"startX":-615,"startY":-1530,"endX":-436,"endY":-1652}},"Ragni
        North Entrance":{"territory":"Ragni North Entrance","guild":"ShadowFall","acquired":"2021-09-25
        15:19:16","attacker":null,"location":{"startX":-944,"startY":-1761,"endX":-818,"endY":-1859}},"Ragni
        North Suburbs":{"territory":"Ragni North Suburbs","guild":"Shadow[...]
