interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/MrBartusekXD/uuid
  response:
    body:
      string: '{"kind":"wynncraft/player/MrBartusekXD/uuid","code":200,"timestamp":1633163735166,"version":"2.1.0","data":[{"name":"MrBartusekXD","uuid":"0edc3eb6-74d8-49b6-8b2a-3c0782183e3a"}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '133'
      ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/player/MrBartusekXD/uuid
version: 1
