interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/Salted/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/Salted/stats","code":200,"timestamp":1669824249264,"version":"2.1.0","data":[{"username":"Salted","uuid":"1ed075fc-5aa9-42e0-a29f-640326c1d80c","rank":"Administrator","meta":{"firstJoin":"2013-03-27T13:10:34.000Z","lastJoin":"2022-11-29T23:53:07.613Z","location":{"online":false,"server":null},"playtime":22135,"tag":{"display":true,"value":"CHAMPION"},"veteran":true},"characters":{"13a4351c-8787-44e8-b3af-20a18d531bda":{"type":"WARRIOR","level":314,"dungeons":{"completed":0,"list":[]},"raids":{"completed":0,"list":[]},"quests":{"completed":10,"list":["The
        Envoy Part II","The Qira Hive","Realm of Light V - The Realm of Light","Realm
        of Light I - The Worm Holes","Meaningful Holiday","Cluck Cluck","The Sewers
        of Ragni","Cook Assistant","King''s Recruit","Enzan''s Brother"]},"itemsIdentified":0,"mobsKilled":141,"pvp":{"kills":0,"deaths":0},"blocksWalked":991168078,"logins":1058,"deaths":2,"playtime":7066,"gamemode":{"craftsman":false,"hardcore":false,"ironman":false,"hunted":false},"skills":{"strength":9,"dexterity":73,"intelligence":78,"defence":40,"defense":40,"agility":0},"professions":{"alchemism":{"level":1,"xp":0},"armouring":{"level":1,"xp":0},"combat":{"level":101,"xp":20.4},"cooking":{"level":1,"xp":0},"farming":{"level":5,"xp":75.3},"fishing":{"level":1,"xp":0},"jeweling":{"level":1,"xp":0},"mining":{"level":1,"xp":0},"scribing":{"level":11,"xp":15.3},"tailoring":{"level":1,"xp":0},"weaponsmithing":{"level":1,"xp":73.3},"woodcutting":{"level":200,"xp":null},"woodworking":{"level":1,"xp":0}},"discoveries":364,"eventsWon":0,"preEconomyUpdate":false},"92ddbed6-cbab-49ac-bdb0-5385f4ceab91":{"type":"ARCHER","level":210,"dungeons":{"completed":7,"list":[{"name":"Infested
        Pit","completed":3},{"name":"Ice Barrows","completed":1},{"name":"Lost Sanctuary","completed":2},{"name":"Underworld
        Crypt","completed":1}]},"raids":{"completed":0,"list":[]},"quests":{"completed":25,"list":["A
        Journey Further","A Journey Beyond","One Thousand Meters Under","The Envoy
        Part II","The Envoy Part I","???","The Qira Hive","Realm of Light V - The
        Realm of Light","Reincarnation","Murder Mystery","Realm of Light IV - Finding
        the [...]
