interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/search/tier/2
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/search/tier/2\",\"code\":200,\"timestamp\":1629796202978,\"version\":\"2.1.0\",\"data\":[{\"name\":\"7-Yottabyte
        Storage Component\",\"tier\":2,\"level\":90,\"skills\":[\"ARMOURING\",\"WEAPONSMITHING\",\"WOODWORKING\"],\"sprite\":{\"id\":356,\"damage\":0},\"identifications\":{},\"itemOnlyIDs\":{\"durabilityModifier\":-98,\"strengthRequirement\":0,\"dexterityRequirement\":-12,\"intelligenceRequirement\":0,\"defenceRequirement\":-12,\"agilityRequirement\":-12},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Accursed
        Effigy\",\"tier\":2,\"level\":76,\"skills\":[\"ARMOURING\",\"TAILORING\"],\"sprite\":{\"id\":449,\"damage\":0},\"identifications\":{\"MANASTEAL\":{\"minimum\":1,\"maximum\":1},\"FIREDAMAGEBONUS\":{\"minimum\":8,\"maximum\":14},\"SPEED\":{\"minimum\":-12,\"maximum\":-10}},\"itemOnlyIDs\":{\"durabilityModifier\":-87,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":15,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Acidic
        Blood\",\"tier\":2,\"level\":43,\"skills\":[\"WOODWORKING\",\"WEAPONSMITHING\"],\"sprite\":{\"id\":441,\"damage\":0},\"identifications\":{\"POISON\":{\"minimum\":140,\"maximum\":150}},\"itemOnlyIDs\":{\"durabilityModifier\":-65,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Acidic
        Solution\",\"tier\":2,\"level\":60,\"skills\":[\"WEAPONSMITHING\",\"WOODWORKING\"],\"sprite\":{\"id\":341,\"damage\":0},\"identifications\":{\"POISON\":{\"minimum\":260,\"maximum\":290}},\"itemOnlyIDs\":{\"durabilityModifier\":-77,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Adaptive
        Tissue\",\"tier\":2,\"level\":78,\"skills\":[\"WEAPONSMITHING\"],\"sprite\":{\"id\":432,\"damage\":0},\"identifications\":{\"HEALTHREGEN\":{\"minimum\":8,\"maximum\":12},\"STRENGTHPOINTS\":{\"minimum\":6,\"maximum\":8}},\"itemOnlyIDs\":{\"durabilityModifier\":-89,\"strengthRequirement\":11,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Aged
        Tome\",\"tier\":2,\"level\":82,\"skills\":[\"WOODWORKING\",\"WEAPONSMITHING\"],\"sprite\":{\"id\":340,\"damage\":0},\"identifications\":{\"DAMAGEBONUS\":{\"minimum\":-12,\"maximum\":-9},\"SPELLDAMAGE\":{\"minimum\":10,\"maximum\":14}},\"itemOnlyIDs\":{\"durabilityModifier\":-105,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":20,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Ancient
        Currency\",\"tier\":2,\"level\":102,\"skills\":[\"TAILORING\"],\"sprite\":{\"id\":400,\"damage\":0},\"identifications\":{\"LOOT_QUALITY\":{\"minimum\":3,\"maximum\":4},\"LOOTBONUS\":{\"minimum\":5,\"maximum\":7}},\"itemOnlyIDs\":{\"durabilityModifier\":-150,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0,\"attackSpeedModifier\":0,\"powderSlotModifier\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Ancient
        Moss\",\"tier\":2,\"level\":78,\"skills\":[\"WOODWORKING\",\"TAILORING\",\"COOKING\"],\"sprite\":{\"id\":106,\"damage\":0},\"identifications\":{\"EARTHDAMAGEBONUS\":{\"minimum\":5,\"maximum\":8},\"DAMAGEBONUSRAW\":{\"minimum\":25,\"maximum\":30}},\"itemOnlyIDs\":{\"durabilityModifier\":-89,\"strengthRequirement\":8,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":-490,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Ancient
        Panel\",\"tier\":2,\"level\":37,\"skills\":[\"WOODWORKING\"],\"sprite\":{\"id\":405,\"damage\":0},\"identifications\":{\"FIREDAMAGEBONUS\":{\"minimum\":6,\"maximum\":8},\"HEALTHREGEN\":{\"minimum\":7,\"maximum\":10}},\"itemOnlyIDs\":{\"durabilityModifier\":-60,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":12,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Angelic
        Gem\",\"tier\":2,\"level\":98,\"skills\":[\"JEWELING\"],\"sprite\":{\"id\":410,\"damage\":0},\"identifications\":{\"AIRDEFENSE\":{\"minimum\":4,\"maximum\":5},\"WATERDEFENSE\":{\"minimum\":4,\"maximum\":5},\"FIREDEFENSE\":{\"minimum\":4,\"maximum\":5},\"EARTHDEFENSE\":{\"minimum\":4,\"maximum\":5},\"THUNDERDEFENSE\":{\"minimum\":4,\"maximum\":5}},\"itemOnlyIDs\":{\"durabilityModifier\":-103,\"strengthRequirement\":12,\"dexterityRequirement\":12,\"intelligenceRequirement\":12,\"defenceRequirement\":12,\"agilityRequirement\":12},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Antique
        Metal\",\"tier\":2,\"level\":78,\"skills\":[\"ARMOURING\",\"WEAPONSMITHING\"],\"sprite\":{\"id\":405,\"damage\":0},\"identifications\":{\"SPEED\":{\"minimum\":-4,\"maximum\":-3},\"DEFENSEPOINTS\":{\"minimum\":2,\"maximum\":3}},\"itemOnlyIDs\":{\"durabilityModifier\":63,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Atmospheric
        Aspect\",\"tier\":2,\"level\":75,\"skills\":[\"TAILORING\"],\"sprite\":{\"id\":397,\"damage\":3},\"identifications\":{\"THUNDERDAMAGEBONUS\":{\"minimum\":10,\"maximum\":10},\"AIRDAMAGEBONUS\":{\"minimum\":10,\"maximum\":10},\"SPELLDAMAGERAW\":{\"minimum\":70,\"maximum\":70},\"DAMAGEBONUS\":{\"minimum\":-12,\"maximum\":-12}},\"itemOnlyIDs\":{\"durabilityModifier\":-86,\"strengthRequirement\":0,\"dexterityRequirement\":10,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":10},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Beastial
        Viscera\",\"tier\":2,\"level\":72,\"skills\":[\"SCRIBING\"],\"sprite\":{\"id\":153,\"damage\":0},\"identifications\":{\"HEALTHBONUS\":{\"minimum\":400,\"maximum\":550},\"DAMAGEBONUS\":{\"minimum\":6,\"maximum\":8}},\"itemOnlyIDs\":{\"durabilityModifier\":0,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":-160,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Black
        Sulphur\",\"tier\":2,\"level\":45,\"skills\":[\"COOKING\",\"ALCHEMISM\"],\"sprite\":{\"id\":289,\"damage\":0},\"identifications\":{\"EXPLODING\":{\"minimum\":12,\"maximum\":24},\"FIREDAMAGEBONUS\":{\"minimum\":6,\"maximum\":12}},\"itemOnlyIDs\":{\"durabilityModifier\":0,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":-370,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Blazing
        Fireball\",\"tier\":2,\"level\":6,\"skills\":[\"SCRIBING\",\"ALCHEMISM\"],\"sprite\":{\"id\":377,\"damage\":0},\"identifications\":{\"FIREDAMAGEBONUS\":{\"minimum\":8,\"maximum\":12}},\"itemOnlyIDs\":{\"durabilityModifier\":0,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":-78,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Bloated
        Artery\",\"tier\":2,\"level\":55,\"skills\":[\"TAILORING\",\"WOODWORKING\"],\"sprite\":{\"id\":369,\"damage\":0},\"identifications\":{\"HEALTHREGEN\":{\"minimum\":12,\"maximum\":15},\"LIFESTEAL\":{\"minimum\":-35,\"maximum\":-30}},\"itemOnlyIDs\":{\"durabilityModifier\":-73,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0,\"attackSpeedModifier\":0,\"powderSlotModifier\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Bob's
        Tear\",\"tier\":2,\"level\":4,\"skills\":[\"JEWELING\",\"TAILORING\",\"ARMOURING\",\"WOODWORKING\",\"WEAPONSMITHING\"],\"sprite\":{\"id\":370,\"damage\":0},\"identifications\":{},\"itemOnlyIDs\":{\"durabilityModifier\":-70,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":0,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":25,\"touching\":0,\"notTouching\":0}},{\"name\":\"Bottled
        Decay\",\"tier\":2,\"level\":57,\"skills\":[\"ALCHEMISM\"],\"sprite\":{\"id\":437,\"damage\":0},\"identifications\":{\"EARTHDAMAGEBONUS\":{\"minimum\":12,\"maximum\":18},\"THUNDERDAMAGEBONUS\":{\"minimum\":12,\"maximum\":18},\"HEALTHREGENRAW\":{\"minimum\":-40,\"maximum\":-30}},\"itemOnlyIDs\":{\"durabilityModifier\":0,\"strengthRequirement\":0,\"dexterityRequirement\":0,\"intelligenceRequirement\":0,\"defenceRequirement\":0,\"agilityRequirement\":0},\"consumableOnlyIDs\":{\"duration\":-140,\"charges\":0},\"ingredientPositionModifiers\":{\"left\":0,\"right\":0,\"above\":0,\"under\":0,\"touching\":0,\"notTouching\":0}},{\"name\":\"Burial
        Talisman\",\"tier\":2,\"level\":36,\"skills\":[\"JEWELING\"],\"sprite\":{\"id\":259,\"damag[...]
