interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/get/Glow_Bulb_Seeds
  response:
    body:
      string: '{"kind":"wynncraft/ingredient/get/Glow_Bulb_Seeds","code":200,"timestamp":1633163723916,"version":"2.1.0","data":[{"name":"Glow
        Bulb Seeds","tier":3,"level":105,"skills":["TAILORING","WEAPONSMITHING"],"sprite":{"id":410,"damage":0},"identifications":{"INTELLIGENCEPOINTS":{"minimum":10,"maximum":12},"HEALTHREGENRAW":{"minimum":130,"maximum":145},"DAMAGEBONUS":{"minimum":-12,"maximum":-9}},"itemOnlyIDs":{"durabilityModifier":-160,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":35,"agilityRequirement":0},"consumableOnlyIDs":{"duration":0,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}}]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '127'
      ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/ingredient/get/Glow_Bulb_Seeds
version: 1
