interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=player&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1629796236,"version":1.3},"data":[{"name":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","kills":1462,"level":1484,"xp":98262759965,"minPlayed":137934,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"ERN","guild":"Emorians","num":1},{"name":"Maarcus","uuid":"9d6e45a4-8ec6-45dc-8cdd-6230b1781768","kills":186,"level":1484,"xp":38508571585,"minPlayed":132783,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"ERN","guild":"Emorians","num":2},{"name":"LuCoolUs","uuid":"a544498a-8c0f-45d7-97ed-4cd3f20a71f7","kills":9,"level":1484,"xp":15763147360,"minPlayed":89338,"tag":"HERO","rank":"Player","displayTag":false,"veteran":false,"guildTag":"ERN","guild":"Emorians","num":3},{"name":"IdeeMax","uuid":"e873a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/b7454a9d-ea64-4dea-a4ef-c544d6861b7c/stats","code":200,"timestamp":1629795904923,"version":"2.1.0","data":[{"username":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","rank":"Player","meta":{"firstJoin":"2017-06-12T16:54:46.948Z","lastJoin":"2021-08-24T09:04:15.190Z","location":{"online":true,"server":"WC17"},"playtime":137943,"tag":{"display":true,"value":"CHAMPION"},"veteran":false},"classes":[{"name":"hunter","level":1678,"dungeons":{"completed":305,"list":[{"name":"Decrepit
        Sewers","completed":4},{"name":"Infested Pit","completed":4},{"name":"Undergrowth
        Ruins","completed":5},{"name":"Corrupted Decrepit Sewers","completed":14},{"name":"Corrupted
        Infested Pit","completed":8},{"name":"Corrupted Sand-Swept Tomb","completed":214},{"name":"Sand-Swept
        Tomb","completed":12},{"name":"Corrupted Underworld Crypt","completed":9},{"name":"Underworld
        Crypt","completed":3},{"name":"Ice Barrows","completed":6},{"name":"Corrupted
        Ice Barrows","completed":2},{"name":"Eldritch Outlook","completed":2},{"name":"Corrupted
        Undergrowth Ruins","completed":13},{"name":"Fallen Factory","completed":4},{"name":"Galleon''s
        Graveyard","completed":5}]},"raids":{"completed":202,"list":[{"name":"The
        Canyon Colossus","completed":97},{"name":"Nest of the Grootslangs","completed":25},{"name":"Orphion''s
        Nexus of Light","completed":80}]},"quests":{"completed":224,"list":["A Hunter''s
        Calling","Point of No Return","A Journey Further","A Journey Beyond","The
        Olmic Rune","Mini-Quest - Slay Dragonlings","The Hero of Gavel","Royal Trials","Mini-Quest
        - Slay Angels","The Fortuneteller","Mini-Quest - Slay Conures","Recipe For
        Disaster","Mini-Quest - Slay Creatures of the Void","One Thousand Meters Under","Mini-Quest
        - Slay Astrochelys Manis","Dwarves and Doguns Part IV","Mini-Quest - Slay
        Ifrits",[...]
