interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/Salted/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/Salted/stats","code":200,"timestamp":1629796275036,"version":"2.1.0","data":[{"username":"Salted","uuid":"1ed075fc-5aa9-42e0-a29f-640326c1d80c","rank":"Administrator","meta":{"firstJoin":"2013-03-27T13:10:34.000Z","lastJoin":"2021-08-24T09:10:47.606Z","location":{"online":false,"server":null},"playtime":14145,"tag":{"display":true,"value":"CHAMPION"},"veteran":true},"classes":[{"name":"warrior4","level":309,"dungeons":{"completed":0,"list":[]},"raids":{"completed":0,"list":[]},"quests":{"completed":6,"list":["The
        Envoy Part II","The Qira Hive","Realm of Light I - The Worm Holes","The Sewers
        of Ragni","Cook Assistant","King''s Recruit"]},"itemsIdentified":0,"mobsKilled":84,"pvp":{"kills":0,"deaths":0},"chestsFound":7,"blocksWalked":831080140,"logins":324,"deaths":2,"playtime":1870,"gamemode":{"craftsman":false,"hardcore":false,"ironman":false,"hunted":false},"skills":{"strength":9,"dexterity":73,"intelligence":78,"defence":40,"defense":40,"agility":0},"professions":{"alchemism":{"level":1,"xp":0},"armouring":{"level":1,"xp":0},"combat":{"level":101,"xp":1.3},"cooking":{"level":1,"xp":0},"farming":{"level":5,"xp":75.3},"fishing":{"level":1,"xp":0},"jeweling":{"level":1,"xp":0},"mining":{"level":1,"xp":0},"scribing":{"level":6,"xp":63.4},"tailoring":{"level":1,"xp":0},"weaponsmithing":{"level":1,"xp":73.3},"woodcutting":{"level":200,"xp":null},"woodworking":{"level":1,"xp":0}},"discoveries":1392,"eventsWon":0,"preEconomyUpdate":false},{"name":"archer4","level":210,"dungeons":{"completed":7,"list":[{"name":"Infested
        Pit","completed":3},{"name":"Ice Barrows","completed":1},{"name":"Lost Sanctuary","completed":2},{"name":"Underworld
        Crypt","completed":1}]},"raids":{"completed":0,"list":[]},"quests":{"completed":1,"list":["King''s
        Recruit"]},"itemsIdentified":0,"mobsKilled":106,"pvp":{"kills":0,"deaths":0},"chestsFound":6,"blocksWalked":176407578,"logins":255,"deaths":8,"playtime":1632,"gamemode":{"[...]
