interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/get/Gaze_of_Darkness
  response:
    body:
      string: '{"kind":"wynncraft/ingredient/get/Gaze_of_Darkness","code":200,"timestamp":1628452488620,"version":"2.1.0","data":[{"name":"Gaze
        of Darkness","tier":3,"level":105,"skills":["SCRIBING"],"sprite":{"id":397,"damage":3},"identifications":{"GATHER_SPEED":{"minimum":6,"maximum":7},"LIFESTEAL":{"minimum":140,"maximum":160},"HEALTHREGENRAW":{"minimum":90,"maximum":110}},"itemOnlyIDs":{"durabilityModifier":0,"strengthRequirement":0,"dexterityRequirement":0,"intelligenceRequirement":0,"defenceRequirement":0,"agilityRequirement":0,"attackSpeedModifier":0,"powderSlotModifier":0},"consumableOnlyIDs":{"duration":-300,"charges":0},"ingredientPositionModifiers":{"left":0,"right":0,"above":0,"under":0,"touching":0,"notTouching":0}}]}'
    headers: {}
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/v2/ingredient/get/Gaze_of_Darkness
version: 1
