interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/ingredient/list
  response:
    body:
      string: "{\"kind\":\"wynncraft/ingredient/list\",\"code\":200,\"timestamp\":1669923762229,\"version\":\"2.1.0\",\"data\":[\"7-Yottabyte
        Storage Component\",\"Accursed Effigy\",\"Acid Magma\",\"Acidic Blood\",\"Acidic
        Remains\",\"Acidic Solution\",\"Active Fireball\",\"Adamastor's Faceplate\",\"Adaptive
        Tissue\",\"Aged Tome\",\"Adventurer's Diary\",\"Agullo Beak\",\"Alga\",\"Algae
        Mat\",\"Alnamar Meat\",\"Ancient Coins\",\"Altered Ash\",\"Ancient Currency\",\"Ancient
        Heart\",\"Ancient Metal\",\"Ancient Moss\",\"Ancient Panel\",\"Angelic Gem\",\"Antique
        Metal\",\"Apple[...]
