interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsSearch&search=farplane
  response:
    body:
      string: '{"guilds":["The Farplane"],"players":[],"search":"farplane","request":{"timestamp":1669824255,"version":1}}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '121'
      RateLimit-Reset:
      - '45'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=statsSearch&search=farplane
version: 1
