interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/MrBartusekXD/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/MrBartusekXD/stats","code":200,"timestamp":1630869166901,"version":"2.1.0","data":[{"username":"MrBartusekXD","uuid":"0edc3eb6-74d8-49b6-8b2a-3c0782183e3a","rank":"Player","meta":{"firstJoin":"2020-01-11T17:24:29.427Z","lastJoin":"2021-07-26T17:02:09.988Z","location":{"online":false,"server":null},"playtime":2866,"tag":{"display":true,"value":"VIP"},"veteran":false},"classes":[{"name":"mage","level":753,"dungeons":{"completed":56,"list":[{"name":"Decrepit
        Sewers","completed":4},{"name":"Lost Sanctuary","completed":2},{"name":"Underworld
        Crypt","completed":1},{"name":"Ice Barrows","completed":6},{"name":"Sand-Swept
        Tomb","completed":4},{"name":"Undergrowth Ruins","completed":5},{"name":"Galleon''s
        Graveyard","completed":4},{"name":"Corrupted Decrepit Sewers","completed":3},{"name":"Fallen
        Factory","completed":2},{"name":"Infested Pit","completed":4},{"name":"Corrupted
        Infested Pit","completed":1},{"name":"Corrupted Lost Sanctuary","completed":1},{"name":"Corrupted
        Sand-Swept Tomb","completed":7},{"name":"Corrupted Ice Barrows","completed":1},{"name":"Corrupted
        Undergrowth Ruins","completed":1},{"name":"Corrupted Underworld Crypt","completed":10}]},"raids":{"completed":0,"list":[]},"quests":{"completed":149,"list":["Point
        of No Return","A Journey Further","A Journey Beyond","The Olmic Rune","Royal
        Trials","The Fortuneteller","Recipe For Disaster","One Thousand Meters Under","Dwarves
        and Doguns Part IV","Dwarves and Doguns Part III","Mini-Quest - Slay Frosted
        Guards & Cryostone Golems","Dwarves and Doguns Part II","Dwarves and Doguns
        Part I","Fantastic Voyage","The Envoy Part II","Enter the Dojo","Beyond the
        Grave","Mixed Feelings","Co[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/ojomFox/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/ojomFox/stats","code":200,"timestamp":1630869393804,"version":"2.1.0","data":[{"username":"ojomFox","uuid":"33b6a693-db57-4b3f-b6df-d0772876994f","rank":"Player","meta":{"firstJoin":"2014-05-24T01:17:38.401Z","lastJoin":"2021-09-05T07:47:17.390Z","location":{"online":false,"ser[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/Maarcus1/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/Maarcus1/stats","code":200,"timestamp":1630869167058,"version":"2.1.0","data":[{"username":"Maarcus1","uuid":"b7454a9d-ea64-4dea-a4ef-c544d6861b7c","rank":"Player","meta":{"firstJoin":"2017-06-12T16:54:46.948Z","lastJoin":"2021-09-05T19:11:56.184Z","location":{"online":true,"s[...]
