interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=onlinePlayers
  response:
    body:
      string: '{"request":{"timestamp":1629796262,"version":1.2},"WC1":["Catl","AccelR8","ZurSamurai","ESN04","stxphanieeeee","LuWo300","AlphaWolf701922","rjl_","TheCheeseDemon","andre202020","Beam_Bee","T307","szabi21","MilkMusic","Silentmaxx","abnormie","fish_slap1236","hellosora"],"WC10":["Swordsharpener","GravesNo1","Gilder_star07","Vestfal","GodPlayerYT","Maluss","SCP_2165","lunatran","Lanseloh","Nightzz","Zodi_Playz","MyucelFoaran","sdsDevyn","MatureStudent42","brandonroady","ignVoiding","VagosAdis","ElectroKnight167","Tre_Eh","vAMP74","Customzuez29","Not_Rekt","White_guardien","Bassyu_hayato","MRpatrykos","bebelak","Min_Lee0319","RevenantHorror","Schrodiskitten","hudang12","Toonymoony16","internet_is_dead","or1905","Marszpace","onlyonepen","Angdo_an"],"WC11":["DediGoose","DragiSan","smallfive","toothly","FredericInn","Crimsonne","lynthevir","sakoda0","LC_Clarence","AkkermanSenpai","Its_Breado","LeaElle","CuddleDino","E1ica","DerWhtea","Feudzi","Chaosrait","MateiDC","Drajenail","PicoBlomst","ttaaccooccaatt","Lari_queen","DarwinMix","KelD1k","WeaponMerchant","WarStats","DanylloLadan","Arm9nam_privet","GeistFighter","Lunalu11","Sl4zz","GMFRK1","Miner_ES"],"WC12":["ItsAPizzaCake","_AndrewAxe_","Harrison7209","Ruxxel","olinus10","Clliff","Andregynous","Darkrenga","lo_cl","123nic","cool2BeAnAxolotl","irondemon1","Viclamin","ian9494","segji","msut","pezdispenserman","stependia","ExpiredOnions","bga8864","CaTony","Kqjitan_2IQ","ShinjiWajima","xakaax","JunletTridner","Ichikaaa","Orangepen42","Ref137","ghisr14596","Phazanor","sendnoose"],"WC13":["Skeletonium","Calmstream","_PATATO_MAN_","redpandagirlnz","Chaotic_Zen_","SimonKiller77","DanMead","Hyedam_0712","Gladionus","TheKazbot","Fishrom","Snop10","Osmierk","Errkk_Skyseer","Evernescent","caxapuHkaMC","cnosier","Ingwee"],"WC14":["hennycrash9","TommyK9","CableKungZ","FearfulOG","Master_Ternimus","OnlyLoveYousa","miner2323","yourboijadeite","Arthuurlijk","krendex","Gama_Tau","kroNwell","NexusNinja123","NoamNils","Kopoa","AMEKLED","Fezbear1","Flairrr","Malthael3000","Dontrago","aMa3zing","KrolchenokMun","Odiibe","SheepMindSC2","twelvefourteen","meowTOW","XW_DeleteSYS32","l2egaria","HotKing","Gepardiini","JustSamster","KornikPrinterus","kykym6ep"],"WC15":[],"WC16":["Suyarumi","lonely_plor","dirtylyon","Myp3uK_UA","M8807","9m_STAHL_Master","GodCarp","EclesiaStyx","Akiorkh","alproy","CatonaMan","dhcy","divxne_elysian","Maiev","dilemma358","BeanYeet","Deeack","xLela","Sadann","jodyy","IsHayden","Dragon_10","JerxGamer","Ignirock03","Nikelz_","RedTea_"],"WC17":["Maarcus1","De_illuminati","ur_toe","Chaos_DemonKing","MrTimepoke","renddi","KreativAce","BoyGamer303","Tokyomu_OwO","Friknoob123","KucingYangOren","Shiraakaku","s0w0s","blanoir3298","ryder930320","SpeedyA","ZillaJr_YT","DeepBlue_i7","Safurr","FurryStyle","MonikaMC","Sayori_","SkyyzXIS","emeraldwolfe","Kenobeeee","Akro2k","xCrownx"],"WC18":["miggles","0d4","TruongTran18","GODDON3000","MMMPancakeMix","U_YU","SpKirby","AmaRaku","DL_Lin_MayxD","FireWizard123","Rogei","LilGoil","MeLegit","Macho_Van","Tboni","KangarooOfficial","Myrmace","l_ightningbolt","KUBSON7","vanduivenbode","PeachySunset","OmarAlGhamdi","Th3Police","kamilereon"],"WC19":["PrizmSnipe","FluffyDragon2010","Alex_Chang","ouroar1212","xSignify","Slobbadog","aArtoriaz","Konenala21","Curtis_uwu","WayaBoy","MMG_Su"],"WC2":["Fadopastor","MigatteNoGokuii","Corrupted_Orchid","AcMongTheSleep","SaruV","GateauAnglais","MagicalCarrotXV","xILegend65","Mns_Hello","Shutler","sniper626","Macro_Eric","itHurtzsoMuch","QWR7000","YelenaChan","StoneJunior9214","Keniye","Anders_Khan","rhbferfbeip","SUPERKOT386","ModeratePlayer","PsyckooPatt","MaNGal_God","Kirbs428","PerfMouse","Doma0711","Haineakairo","TheWandererKarl","Uandec","DomixCZE","IndirectSleet23"],"WC20":["JeeMad","Hyped_Guy","GreedyZeriak","skypower13","Essentuan","LegendKiller08","fandasliz","Rodlip","zRelvon","Vaxture","GrizzlyChicken_","Corona_Weedus","Huruf"],"WC21":["Dantesnick","TackyBand266331","JrLoo","Goldfish_TV","Alex_Billi","b35u","Wesussy","PreiM_","Inkcelf","GiornoGiorvanna","_Mario_Men_","1s1y","Taumis","TeetoForTheLose","jackych0811","Fuguh","yukkuru_chan","JustArnaud","winbran","HoshHoshi","ItzSolr","Super_Boyfrinnd","Armaan_The_Best","xmonde","Martexus142","Dvv_legend","Breaker160132","Art1ps","Lagarum","DrWinerR","xianrenan","Before1999","D1r9vi4"],"WC22":["DrMuteSTEVE","NexStargaze","JustWolfy2","uwuCassy","DesoladeLikesMen","_Zyara_","Kash_Gaming321","VlachislavOO","KruskDerTrain","Lazered_X","EchoHD_","RotemRotem","Chickonius","Cliffope11577","AxolosG","Leqito","Agoolie","AlanGreyson","Kaibun_","DrDrewskii","Charontis","sebcd"],"WC23":["Murasakino","czad","LendirBau","BarbatosVenti","merondaisuke","Zishiey","Manoy0","Burton","HonzaFr12","Ctx35","TheDemonHunter","SpeedCat998","_NowoPls_","Finmo","Chwyssie","J_Dejv","Morticzek","EThowt1107","Orionid","babyalchemist","_purplegiraffe_","iomiautotrollo","Dr_T_T","Squirtail","Pokudo","PolarBaeJr","himajin_nao","Nayoline","Tacogobrrr","HotNons","WoofyDog3O1","PurpleDemon_666","Mskking5"],"WC24":["DinoRawrr","ZUTT0","Narwhal1","Basil","Cruz","Shadow228_","Maarcus3","Raz0r","Gatsy","__BadName","PeiceOfCake","Towens71","Dakjoo","ItzMuvik","phocho123","AkumuKage","Old_Gregggg","i5hqo","xXNawiXx","CloudyKumori","TheB1gChungu5","MD48","viw","Moonie","lalicornetriso","NotableOsprey92","dingoatemyzombie","voidsocks","HKahFuNG_X","ica46","Gelmonk","jmin2020","dvllvn","LukeTea126","Not_Zero_69","_ChipsAhoy_"],"WC25":["BS_Wendy","Sivrel_","Aster_Moon","Et3rn1ty_","GoujonVrac_Jr","sdkl","MinecraftyGuy9","fatfatsheep87","BananaMasterEVT","Mausll5665","Xx_FireDragon_xX","Kuro_Yasha_","IzabellaRocks","bobo_a_joofej","aa524524","4Good","DopleTople","Rin_Kirin","KayCee20","techspsycho","SuperSteezie","Sherderr","Naetty","_iKatya_","newedgar","Huyuchi","kerstenbas","PhonicsWright","58L","Democratics","Fallen_Angels","TheAwakened","Bilovisnake","Naasst","EmperorTheoden"],"WC26":["Nikozuwu","Raider_Psycho","Sputnik74","MvRgamer22","ScourgeHolder","BlueOcelot_","Runtac","Opeay","thewhitemaske","Alloy22","mizuke_kyoka","Lamner","ThalesHCL","Angel_Sky","SP1ral_B","Ayerox","ellie724","Kreator_21","PoseidonW97","LeoAlpat","lRainexLove","Quef64","a_loaf_of_bread0","idanw","Nut1","notchinesespy","kalkapat","L3cr4m","alma1208","Brattila100","GKlegend","BeiCuei","i4qx_"],"WC27":["KanozyOwO","FrothyPickle","GamerGirl1772","wibaux","CerealDoubt","VoltsA","syntaxerror307","Lil_Sly","Duckton_the_duck","LunaPotato","_Hybryd_","Harm406","SektorOdin","Lucuz","keapzear","MetallicFingers","axelieskilt","_Chipla","jerrypig","A_Senpai_Be_Like","AlPando","KebabKnight","AlexIsMinecart","IAteTheCakeO","Blasphemo","Ab0t","TheCrazyTubbie","ufocat","zvyap","RyeReven","Yy0721","Alespic","ChazFire","CyanDragon919","Ja__Klar","MrPatata88","Psycho","AlexShel_","sora0815"],"WC28":["Hainefull","Certl","ahntaea","Endrole","Oskarnik","LivioRazlo92","Herodirk","Drakovinch","poposandaaaaa","KPRKHYTBiq","Groffles_Bear","Nyctomint","xTeddenator","ArfusTm","JasonLin","LowdCrowd14","MikakunYT","LordchenEnder","vMeza","k_omo_e","Saile322","PetitPrinceMilou","KyleHillman","heckson","Yann_mx05","RigidStudios","MrRussetPotato","itzMarkplayz","Vandekup","TastqBisquit","__Spyda__","Nyonek","LmaoJelleeey"],"WC29":["RisenEzura","AdidasHun","lsy6026","Shok0Shoko","datdot","EMT923","XFantasyCatX","Harakan","Chrecker","BlockyTieGuy","chicken_fly","somenala23","E_L_E_S_T","Insalm","Man_Of_Trains","Exemals","MoBlizz","HKsheep0614","BlatteCraft","diologatos420","Mamogo","TD0g4002","Fraya1010","Bensun","EnanaSaiko","Gam1_","sonnyny2008","Rage22","UwUmenow","__Minsu__"],"WC3":["partyNAJA","Benzilla_","Lazlo19","LillyFlower_","1RobotNinja","PK_Wibber","EpikRaz","Caramel_Frappe","CrossoutBurrito","Sharkbite72","FusionBack","FlameKaiser","squidlle","Takawood","Santolen","Bowid","Adeleida","Toastroony","onn1z","sarzuu","LuporLP","ItsFlyingCactus","ModernSoldier","ItsCarol1337","KrayonC","Lantnero6969","Tempo_Rary","4moTilCRhystmas","DarkCrafter2009","RealWanderer","ImpMind","PhoKingLit","N1unar","Stoopid_Dog"],"WC30":["anonymousllama01","Fly_bird1024","Pododeng","Aegleseeker","zERoGX0869","Mattya1243","SenojBob","Delwyn123","I_Love_Adderall","TrilogyXO","ert9120","Kaphaen","BTK2000","Fuma_99","Skwibble","KingCurl","nagyattila09","BenceX100","Cakeassassin","HollowFreak","HalfX"],"WC31":["Xx__Zet__xX","GameKnight39001","a29246353","Skirt_Yonah","IMAVERYMAN","JamesSyrup","black60422","Clamchowderslab","CreamCTQ","Marron__","Rimuru653","Starianzel_","Reptalette","Jevandu22_","valenia","JohnSnow_MC","Smolassasian","R3CE","jazzyboot","Wrelf","MlyuL","BadLife_LY","Cloud_Dash","Akiko_Wasabi","Marginalcat0410","Percentage_D","Creeperly"],"WC32":["Vinegretic"],"WC4":["GodOfMuff","NeonRider","owoEnz","Pu_Yau","AzureAsh","fall22","LexyHartman","snermann","ha15226","22b_sti","Darkraft_YT","SHOOREEQ","4z9","Steel_Slime","YuuDoma","dajtelike","Sasong","ShadeLeone","Naraka00","escaliite","xSyxGod","despacitoisEP1C","GoblinKart","Acheloisxx2","Rian5897","_Tarnished_","Mitaka_Yusuke","DIOs26","56d","LoG_Soren","WestSidePanda","TheWitch3r","Rage_21","simongao1126","CramCTQ","LaserX"],"WC5":["CodGod","bumblebee17","Nepttuune","sloth_King420","mikkelspider","27lucky27","Onyxide","Draz_23","Renolest","FrankInTheAlley","totopize600","CarrotBunn","uwuSanae","Drraugr","tcdcbs","Mini_Mumbo","goldmorfin","Viol3tWolf","xLisa204","liloudeku","RitterHD","yanfei","Tobo64","JigokuMusume","Gussiz","LoveNurnberg","SakeRingo","Casadollo","LMFAskiiin","MauTrau","pvpgodx","LinkVida","iKappyyyy","Albb_n"],"WC6":["delittochka","mmfmgmghggmgmffm","Seagazer","Artificium","XOGphinxe","Simi_SBJ069","Silver_Lumina","IamTanya","ArtemBaklin06","izzywizzy57","OneOneEight","Phonya","Steven745","alfredchi","Retex_18","0h_L1fe","BTDS","DanielXP13","Meow_ni_chan","Andrea_212","RedGamer735","D8VYD","tofu54","LeRamoneur","mydjsjdh","Ironcat221","iShinku","ByLien","MadMoon_","xcheng_0","Kenoolia"],"WC7":["FrostForth","WoahLSD","SralNaMatras","turtleginnes","Sparklizm","Throuqh","uwuzain","XeraAndromeda","crturtle","MatchaTeaCake","yDreamer","Sigma149","SadMachine","ExtraLemonZest","parrottv_1","Jezse","Pete09","mc_rushiachan","Tenkai_Bushinji"],"WC8":["Perfekta0902","GiantWolf","XDayzzX","BadFCA","TheKittyOKat","Igianova","Unseasoned_YTTV","JanvonHabsburg","_DarKShaM_","HeussHeuss","Cloud010","Abyyys","Dadudze","LamNguyen16","C4LV1N_","mrcraftyketchup","tukorama","mike_HUN","pistouch","CaptainWalrus6","ezzath","LordQualle","Ornono","MaaLyx","Poyia","Smirren","TheNewN00B","Single_Martyr_"],"WC9":["Katonye","tmw02","MontesPL1221","Mudrc2002","NMilan2006","Glow_rider","carop1","MrboboKebab","squddyX2","HAM3URGER","Natyan_","RicskoHUN","Pandooh_","SushiSeal45","Rayg_","brianhumphrey","Mattyb7183","Ferj","HajileK","MineHimbeere","Snxnna","AlpakastarSC2","Chickenshooter66","unomom","DSkayt","CloudFrogg","TheBENoob_2175","_Askurlo_","king_mods","Frankemeister","catsimpact08","D1uLaSing","BlankBlop"],"YT":[]}'
    headers:
      ratelimit-limit:
      - '180'
      ratelimit-remaining:
      - '176'
      ratelimit-reset:
      - '45'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=onlinePlayers
version: 1
