interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsSearch&search=MrBartusekXD
  response:
    body:
      string: '{"guilds":[],"players":["MrBartusekXD"],"search":"mrbartusekxd","request":{"timestamp":1669923780,"version":1}}'
    headers:
      RateLimit-Limit:
      - '180'
      RateLimit-Remaining:
      - '176'
      RateLimit-Reset:
      - '60'
    status:
      code: 200
      message: OK
    url: https://api.wynncraft.com/public_api.php?action=statsSearch&search=MrBartusekXD
version: 1
