interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=statsLeaderboard&type=guild&timeframe=alltime
  response:
    body:
      string: '{"request":{"timestamp":1654609135,"version":1.3},"data":[{"name":"KongoBoys","prefix":"DUDE","xp":2153944279,"level":87,"created":"2021-03-13T23:29:01.074Z","banner":{"base":"BLACK","tier":6,"structure":"moltenBanner","layers":[{"colour":"RED","pattern":"MOJANG"},{"colour":"ORANGE","pattern":"TRIANGLE_BOTTOM"},{"colour":"BLACK","pattern":"RHOMBUS_MIDDLE"},{"colour":"ORANGE","pattern":"GRADIENT_UP"},{"colour":"YELLOW","pattern":"TRIANGLES_BOTTOM"}]},"warCount":18285,"territories":57,"membersCount":96,"num":1},{"name":"The
        Aquarium","prefix":"TAq","xp":262259692687,"level":106,"created":"2020-03-22T11:11:17.810Z","banner":{"base":"LIGHT_BLUE","tier":7,"structure":"lightBanner","layers":[{"colour":"GREEN","pattern":"RHOMBUS_MIDDLE"},{"colour":"LIGHT_BLUE","pattern":"CROSS"},{"colour":"GREEN","pattern":"CREEPER"},{"colour":"LIGHT_BLUE","pattern":"STRIPE_MIDDLE"},{"colour":"BROWN","pattern":"CIRCLE_MIDDLE"}]},"warCount":34343,"territories":35,"membersCount":116,"num":2},{"name":"Avicia","prefi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=Avicia
  response:
    body:
      string: '{"name":"Avicia","prefix":"AVO","members":[{"name":"birdiefly209","uuid":"4d9f8bfe-67a9-432f-b120-72536a88bab1","rank":"CHIEF","contributed":28409979,"joined":"2019-08-26T00:18:50.064Z","joinedFriendly":"Aug
        26th 2019"},{"name":"Albb_n","uuid":"f9115f13-135b-4e95-9419-1abd76b54e0c","rank":"CHIEF","contributed":30219741892,"joined":"2020-08-27T14:35:28.892Z","joinedFriendly":"Aug
        27th 2020"},{"name":"Salzgurkee","uuid":"238eb2d6-f214-4db1-8d52-456c0c7ebb03","rank":"RECRUITER","contributed":21537736,"joined":"2020-11-14T02:01:10.711Z","joinedFriendly":"Nov
        14th 2020"},{"name":"Mole_","uuid":"28a323d9-2ec7-4d38-ac23-7b6789bfa5a6","rank":"CAPTAIN","contributed":30376284,"joi[...]
