interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/public_api.php?action=guildStats&command=The+Farplane
  response:
    body:
      string: '{"name":"The Farplane","prefix":"Yin","members":[{"name":"renderme65","uuid":"5be48ae3-82f4-4f4f-baf1-c26fcbe1788a","rank":"CHIEF","contributed":0,"joined":"2019-05-13T00:01:52.787Z","joinedFriendly":"May
        13th 2019"},{"name":"ojomFox","uuid":"33b6a693-db57-4b3f-b6df-d0772876994f","rank":"OWNER","contributed":1177521980,"joined":"2019-05-13T00:01:40.211Z","joinedFriendly":"May
        13th 2019"},{"name":"MrBartusekXD","uuid":"0edc3eb6-74d8-49b6-8b2a-3c0782183e3a","rank":"CHIEF","contributed":4524851,"joined":"2020-07-16T18:42:57.175Z","joinedFriendly":"Jul
        16th 2020"},{"name":"RhodieCub","uuid":"55309fc6-413c-4e05-8394-52f28ae41909","rank":"CHIEF","contributed":8913574,"joine[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.wynncraft.com/v2/player/5be48ae3-82f4-4f4f-baf1-c26fcbe1788a/stats
  response:
    body:
      string: '{"kind":"wynncraft/player/5be48ae3-82f4-4f4f-baf1-c26fcbe1788a/stats","code":200,"timestamp":1669824237921,"version":"2.1.0","data":[{"username":"renderme65","uuid":"5be48ae3-82f4-4f4f-baf1-c26fcbe1788a","rank":"Player","meta":{"firstJoin":"2015-08-08T12:38:13.856Z","lastJoin":"2020-05-27T17:31:42.669Z","location":{"online":false,"server":null},"playtime":4046,"tag":{"display":true,"value":"VIP+"},"veteran":false},"characters":{"bdd85696-96c9-4dc8-ab61-862d7dc73a45":{"type":"WARRIOR","level":105,"dungeons":{"completed":96,"list":[{"name":"Skeleton","completed":6},{"name":"Spider","completed":4},{"name":"Animal","completed":6},{"name":"Zombie","completed":5},{"name":"Silverfish","completed":5},{"name":"Corrupted
        Sand-Swept Tomb","completed":60},{"name":"Corrupted Infested Pit","completed":1},{"name":"Corrupted
        Underworld Crypt","completed":2},{"name":"Fallen Factory","completed":7}]},"raids":{"completed":0,"list":[]},"quests":{"completed":84,"list":["The
        Envoy Part II","The Envoy Part I","The Belly of the Beast","The Thanos Vaults","The
        Qira Hive","From the Bottom","???","Fallen Delivery","Aldorei''s Secret Part
        II","The Hunger of Gerts Part 2","The Hunger of Gerts Part 1","Purple and
        Blue","Aldorei''s Secret Part I","The Bigger Picture","Flight in Distress","The
        Ultimate Weapon","Reincarnation","Murder Mystery","Troubled Tribesmen","WynnExcavation
        Site D","Haven Antiqu[...]
