-r ../requirements.txt
Sphinx==4.1.2
furo==2021.08.31
sphinx-autodoc-typehints==1.11.1
sphinxext-opengraph==0.4.2
sphinx-copybutton==0.4.0
sphinx_design==0.1.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
